# 재구매

</br>

## --▶ Dataset Customizing

In [1]:
import numpy as np
import pandas as pd
from warnings import simplefilter
simplefilter("ignore")
pd.set_option('display.max_columns', 100)

In [2]:
import pymysql
from sqlalchemy import create_engine
from mysql.connector import connect

engine = create_engine('mysql+pymysql://root:MSQanfqud42!@localhost:3306/ml_project?charset=utf8mb4')

conn = connect(
	host = "localhost",
	user = "root",
	password = "MSQanfqud42!",
	database = "ml_project"
)
cursor = conn.cursor(buffered=True)

In [ ]:
engine.dispose()

cursor.close()
connect.close()
connect.is_connected()

### ◼ Olist Orders

$~√$  order_status=='canceled' 주문 데이터에서 제외하기

$~√$  Order DateTime 데이터 따로 만들기

In [3]:
df_orders = pd.read_sql_query("SELECT * FROM olist_orders WHERE order_status != 'canceled'", engine)
df_orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05 00:00:00
3,00024acbcdf0a6daa1e931b038114c75,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20 00:00:00
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17 00:00:00
...,...,...,...,...,...,...,...,...
98811,fffc94f6ce00a00581880bf54a75a037,b51593916b4b8e0d6f66f2ae24f2673d,delivered,2018-04-23 13:57:06,2018-04-25 04:11:01,2018-04-25 12:09:00,2018-05-10 22:56:40,2018-05-18 00:00:00
98812,fffcd46ef2263f404302a634eb57f7eb,84c5d4fbaf120aae381fad077416eaa0,delivered,2018-07-14 10:26:46,2018-07-17 04:31:48,2018-07-17 08:05:00,2018-07-23 20:31:55,2018-08-01 00:00:00
98813,fffce4705a9662cd70adb13d4a31832d,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23 17:07:56,2017-10-24 17:14:25,2017-10-26 15:13:14,2017-10-28 12:22:22,2017-11-10 00:00:00
98814,fffe18544ffabc95dfada21779c9644f,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14 23:02:59,2017-08-15 00:04:32,2017-08-15 19:02:53,2017-08-16 21:59:40,2017-08-25 00:00:00
98815,fffe41c64501cc87c801fd61db3f6244,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09 17:00:18,2018-06-09 17:10:13,2018-06-11 14:11:00,2018-06-14 17:56:26,2018-06-28 00:00:00

In [4]:
df_orders.shape, len(df_orders['order_id'].unique()), len(df_orders['customer_id'].unique())

((98816, 8), 98816, 98816)

- －__`orders_datetime`__

In [5]:
timestamp_cols = [
    'order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date',
    'order_delivered_customer_date', 'order_estimated_delivery_date'
]
for col in timestamp_cols:
    df_orders[col] = pd.to_datetime(df_orders[col])

In [36]:
orders_datetime = df_orders[['order_id', 'customer_id', 'order_status']]
orders_datetime['purchase_timestamp'] = df_orders['order_purchase_timestamp']
orders_datetime

,order_id,customer_id,order_status,purchase_timestamp
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31
3,00024acbcdf0a6daa1e931b038114c75,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51
...,...,...,...,...
98811,fffc94f6ce00a00581880bf54a75a037,b51593916b4b8e0d6f66f2ae24f2673d,delivered,2018-04-23 13:57:06
98812,fffcd46ef2263f404302a634eb57f7eb,84c5d4fbaf120aae381fad077416eaa0,delivered,2018-07-14 10:26:46
98813,fffce4705a9662cd70adb13d4a31832d,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23 17:07:56
98814,fffe18544ffabc95dfada21779c9644f,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14 23:02:59
98815,fffe41c64501cc87c801fd61db3f6244,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09 17:00:18

In [54]:
# Year and Month
orders_datetime['purchase_date'] = df_orders['order_purchase_timestamp'].apply(lambda x: x.strftime('%Y%m%d'))
orders_datetime['purchase_year_month'] = df_orders['order_purchase_timestamp'].apply(lambda x: x.strftime('%Y%m'))
orders_datetime['purchase_year'] = df_orders['order_purchase_timestamp'].apply(lambda x: x.year)
orders_datetime['purchase_month'] = df_orders['order_purchase_timestamp'].apply(lambda x: x.month)
orders_datetime['purchase_month_name'] = df_orders['order_purchase_timestamp'].apply(lambda x: x.strftime('%b'))

# Day and Day of Week
orders_datetime['purchase_day'] = df_orders['order_purchase_timestamp'].apply(lambda x: x.day)
orders_datetime['purchase_week_no'] = df_orders['order_purchase_timestamp'].apply(lambda x: x.dayofweek)
orders_datetime['purchase_week_name'] = df_orders['order_purchase_timestamp'].apply(lambda x: x.strftime('%a'))

# Hour and Time of the Day
orders_datetime['purchase_hour'] = df_orders['order_purchase_timestamp'].apply(lambda x: x.hour)
hours_bins = [-0.1, 6, 12, 18, 23]
hours_labels = ['Dawn', 'Morning', 'Afternoon', 'Night']
orders_datetime['purchase_time'] = pd.cut(orders_datetime['purchase_hour'], hours_bins, labels=hours_labels)

# delivery days
orders_datetime['actual_delivery_days'] = (df_orders['order_delivered_customer_date'] - df_orders['order_purchase_timestamp']).dt.days
orders_datetime['estimated_delta_days'] = (df_orders['order_delivered_customer_date'] - df_orders['order_estimated_delivery_date']).dt.days
#--> 음수면 일찍 도착, +면 늦게 도착

orders_datetime.sort_values(by='purchase_timestamp', inplace=True)
orders_datetime

,order_id,customer_id,order_status,purchase_timestamp,purchase_date,purchase_year_month,purchase_year,purchase_month,purchase_month_name,purchase_day,purchase_week_no,purchase_week_name,purchase_hour,purchase_time,actual_delivery_days,estimated_delta_days
0,2e7a8482f6fb09756ca50c10d7bfc047,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04 21:15:19,20160904,201609,2016,9,Sep,4,6,Sun,21,Night,NaN,NaN
1,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,20160915,201609,2016,9,Sep,15,3,Thu,12,Morning,54.0,36.0
2,3b697a20d9e427646d92567910af6d57,355077684019f7f60a031656bd7262b8,delivered,2016-10-03 09:44:50,20161003,201610,2016,10,Oct,3,0,Mon,9,Morning,23.0,-1.0
3,be5bc2f0da14d8071e2d45451ad119d9,7ec40b22510fdbea1b08921dd39e63d8,delivered,2016-10-03 16:56:50,20161003,201610,2016,10,Oct,3,0,Mon,16,Afternoon,24.0,-11.0
4,a41c8759fbe7aab36ea07e038b2d4465,6f989332712d3222b6571b1cf5b835ce,delivered,2016-10-03 21:13:36,20161003,201610,2016,10,Oct,3,0,Mon,21,Night,30.0,-26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98811,0b223d92c27432930dfe407c6aea3041,e60df9449653a95af4549bbfcb18a6eb,delivered,2018-08-29 14:18:23,20180829,201808,2018,8,Aug,29,2,Wed,14,Afternoon,1.0,-5.0
98812,168626408cb32af0ffaf76711caae1dc,6e353700bc7bcdf6ebc15d6de16d7002,delivered,2018-08-29 14:18:28,20180829,201808,2018,8,Aug,29,2,Wed,14,Afternoon,1.0,-12.0
98813,03ef5dedbe7492bdae72eec50764c43f,496630b6740bcca28fce9ba50d8a26ef,delivered,2018-08-29 14:52:00,20180829,201808,2018,8,Aug,29,2,Wed,14,Afternoon,1.0,-4.0
98814,35a972d7f8436f405b56e36add1a7140,898b7fee99c4e42170ab69ba59be0a8b,delivered,2018-08-29 15:00:37,20180829,201808,2018,8,Aug,29,2,Wed,15,Afternoon,1.0,-6.0
98815,54282e97f61c23b78330c15b154c867d,4b7decb9b58e2569548b8b4c8e20e8d7,shipped,2018-09-03 09:06:57,20180903,201809,2018,9,Sep,3,0,Mon,9,Morning,NaN,NaN


- －__2016.10 ~ 2018.08__

	- 2016.09월 2개 주문 데이터와 2018.09월 1개 주문 데이터를 삭제한다.

In [55]:
orders_datetime = orders_datetime[2:-1]
orders_datetime.reset_index(drop=True, inplace=True)
orders_datetime

,order_id,customer_id,order_status,purchase_timestamp,purchase_date,purchase_year_month,purchase_year,purchase_month,purchase_month_name,purchase_day,purchase_week_no,purchase_week_name,purchase_hour,purchase_time,actual_delivery_days,estimated_delta_days
0,3b697a20d9e427646d92567910af6d57,355077684019f7f60a031656bd7262b8,delivered,2016-10-03 09:44:50,20161003,201610,2016,10,Oct,3,0,Mon,9,Morning,23.0,-1.0
1,be5bc2f0da14d8071e2d45451ad119d9,7ec40b22510fdbea1b08921dd39e63d8,delivered,2016-10-03 16:56:50,20161003,201610,2016,10,Oct,3,0,Mon,16,Afternoon,24.0,-11.0
2,a41c8759fbe7aab36ea07e038b2d4465,6f989332712d3222b6571b1cf5b835ce,delivered,2016-10-03 21:13:36,20161003,201610,2016,10,Oct,3,0,Mon,21,Night,30.0,-26.0
3,d207cc272675637bfed0062edffd0818,b8cf418e97ae795672d326288dfab7a7,delivered,2016-10-03 22:06:03,20161003,201610,2016,10,Oct,3,0,Mon,22,Night,27.0,-23.0
4,cd3b8574c82b42fc8129f6d502690c3e,7812fcebfc5e8065d31e1bb5f0017dae,delivered,2016-10-03 22:31:31,20161003,201610,2016,10,Oct,3,0,Mon,22,Night,10.0,-40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98808,52018484704db3661b98ce838612b507,e450a297a7bc6839ceb0cf1a2377fa02,delivered,2018-08-29 12:25:59,20180829,201808,2018,8,Aug,29,2,Wed,12,Morning,1.0,-4.0
98809,0b223d92c27432930dfe407c6aea3041,e60df9449653a95af4549bbfcb18a6eb,delivered,2018-08-29 14:18:23,20180829,201808,2018,8,Aug,29,2,Wed,14,Afternoon,1.0,-5.0
98810,168626408cb32af0ffaf76711caae1dc,6e353700bc7bcdf6ebc15d6de16d7002,delivered,2018-08-29 14:18:28,20180829,201808,2018,8,Aug,29,2,Wed,14,Afternoon,1.0,-12.0
98811,03ef5dedbe7492bdae72eec50764c43f,496630b6740bcca28fce9ba50d8a26ef,delivered,2018-08-29 14:52:00,20180829,201808,2018,8,Aug,29,2,Wed,14,Afternoon,1.0,-4.0
98812,35a972d7f8436f405b56e36add1a7140,898b7fee99c4e42170ab69ba59be0a8b,delivered,2018-08-29 15:00:37,20180829,201808,2018,8,Aug,29,2,Wed,15,Afternoon,1.0,-6.0

In [56]:
orders_datetime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98813 entries, 0 to 98812
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_id              98813 non-null  object
 1   customer_id           98813 non-null  object
 2   order_status          98813 non-null  object
 3   purchase_timestamp    98813 non-null  datetime64[ns]
 4   purchase_date         98813 non-null  object
 5   purchase_year_month   98813 non-null  object
 6   purchase_year         98813 non-null  int64
 7   purchase_month        98813 non-null  int64
 8   purchase_month_name   98813 non-null  object
 9   purchase_day          98813 non-null  int64
 10  purchase_week_no      98813 non-null  int64
 11  purchase_week_name    98813 non-null  object
 12  purchase_hour         98813 non-null  int64
 13  purchase_time         98813 non-null  category
 14  actual_delivery_days  96469 non-null  float64
 15  estimated_delta_days  96469 non-null  float64
dtypes: category(1), datetime64[ns](1), float64(2), int64(5), object(7)
memory usage: 11.4+ MB

In [57]:
orders_datetime.isna().sum()

order_id                   0
customer_id                0
order_status               0
purchase_timestamp         0
purchase_date              0
purchase_year_month        0
purchase_year              0
purchase_month             0
purchase_month_name        0
purchase_day               0
purchase_week_no           0
purchase_week_name         0
purchase_hour              0
purchase_time              0
actual_delivery_days    2344
estimated_delta_days    2344
dtype: int64

### ◼ Olist Order Items

$~√~$  `order_item_id`는 하나의 주문 ID에 포함된 품목 수를 식별하는 일련 번호로 제일 마지막 수가 주문한 품목수가 된다.

$~√~$  한 개의 품목마다 나눠져 있는 `order_id`를 하나로 합치고 구매 가격과 화물 가격을 합산하여 총액을 구한다.

$~√~$  구매 가격 대비 운임료 비율을 %로 계한해 추가한다.

In [9]:
df_order_items = pd.read_sql_query("SELECT * FROM olist_order_items", engine)
df_order_items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [32]:
df_order_items.isna().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

- －__`order_items`__

	- Get Unique Order ID : 98860

In [10]:
def join_unique_values(series):
    unique_values = series.drop_duplicates()
    return ', '.join(unique_values.astype('str'))

order_items = df_order_items.groupby('order_id', as_index=False).aggregate({
    'order_item_id': 'last',
    'product_id': join_unique_values,
    'seller_id' : join_unique_values,
    'price': 'sum',
    'freight_value': 'sum'
})
order_items['f/p_ratio_%'] = order_items['freight_value'] / order_items['price'] * 100
order_items

,order_id,order_item_id,product_id,seller_id,price,freight_value,f/p_ratio_%
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.90,13.29,22.563667
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93,8.307628
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.00,17.87,8.979899
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79,98.460354
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,199.90,18.14,9.074537
...,...,...,...,...,...,...,...
98661,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,299.99,43.41,14.470482
98662,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,350.00,36.53,10.437143
98663,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,99.90,16.95,16.966967
98664,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,55.99,8.72,15.574210
98665,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,43.00,12.79,29.744186

In [11]:
len(order_items['order_id'].unique()), len(order_items['seller_id'].unique())

(98666, 4189)

In [12]:
def get_count(x):
    list = str(x).split(', ')
    return len(list)

order_items['product_count'] = order_items['product_id'].map(get_count)
order_items['seller_count'] = order_items['seller_id'].map(get_count)
order_items.tail()

,order_id,order_item_id,product_id,seller_id,price,freight_value,f/p_ratio_%,product_count,seller_count
98661,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,299.99,43.41,14.470482,1,1
98662,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,350.00,36.53,10.437143,1,1
98663,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,99.90,16.95,16.966967,1,1
98664,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,55.99,8.72,15.574210,1,1
98665,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,43.00,12.79,29.744186,1,1

In [13]:
order_items.rename(columns={'order_item_id': 'item_count', 'freight_value': 'freight'}, inplace=True)
order_items = order_items[['order_id', 'item_count', 'product_id', 'product_count', 'seller_id', 'seller_count', 'price', 'freight', 'f/p_ratio_%']]
order_items

,order_id,item_count,product_id,product_count,seller_id,seller_count,price,freight,f/p_ratio_%
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,1,48436dade18ac8b2bce089ec2a041202,1,58.90,13.29,22.563667
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,1,dd7ddc04e1b6c2c614352b383efe2d36,1,239.90,19.93,8.307628
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,1,5b51032eddd242adc84c38acab88f23d,1,199.00,17.87,8.979899
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,1,9d7a1d34a5052409006425275ba1c2b4,1,12.99,12.79,98.460354
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,1,df560393f3a51e74553ab94004ba5c87,1,199.90,18.14,9.074537
...,...,...,...,...,...,...,...,...,...
98661,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,1,b8bc237ba3788b23da09c0f1f3a3288c,1,299.99,43.41,14.470482
98662,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,1,f3c38ab652836d21de61fb8314b69182,1,350.00,36.53,10.437143
98663,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,1,c3cfdc648177fdbbbb35635a37472c53,1,99.90,16.95,16.966967
98664,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,1,2b3e4a2a3ea8e01938cabda2a3e5cc79,1,55.99,8.72,15.574210
98665,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,1,f7ccf836d21b2fb1de37564105216cc1,1,43.00,12.79,29.744186

In [42]:
order_items.isna().sum()

order_id         0
item_count       0
product_id       0
product_count    0
seller_id        0
seller_count     0
price            0
freight          0
f/p_ratio_%      0
dtype: int64

- －__`order_items_info`__

In [59]:
order_items_cols = ['order_id', 'item_count', 'product_count', 'seller_count', 'price', 'freight', 'f/p_ratio_%']
order_items_info = orders_datetime.merge(order_items[order_items_cols],	how='left', on='order_id')
order_items_info

,order_id,customer_id,order_status,purchase_timestamp,purchase_date,purchase_year_month,purchase_year,purchase_month,purchase_month_name,purchase_day,purchase_week_no,purchase_week_name,purchase_hour,purchase_time,actual_delivery_days,estimated_delta_days,item_count,product_count,seller_count,price,freight,f/p_ratio_%
0,3b697a20d9e427646d92567910af6d57,355077684019f7f60a031656bd7262b8,delivered,2016-10-03 09:44:50,20161003,201610,2016,10,Oct,3,0,Mon,9,Morning,23.0,-1.0,1.0,1.0,1.0,29.90,15.56,52.040134
1,be5bc2f0da14d8071e2d45451ad119d9,7ec40b22510fdbea1b08921dd39e63d8,delivered,2016-10-03 16:56:50,20161003,201610,2016,10,Oct,3,0,Mon,16,Afternoon,24.0,-11.0,1.0,1.0,1.0,21.90,17.19,78.493151
2,a41c8759fbe7aab36ea07e038b2d4465,6f989332712d3222b6571b1cf5b835ce,delivered,2016-10-03 21:13:36,20161003,201610,2016,10,Oct,3,0,Mon,21,Night,30.0,-26.0,1.0,1.0,1.0,36.49,17.24,47.245821
3,d207cc272675637bfed0062edffd0818,b8cf418e97ae795672d326288dfab7a7,delivered,2016-10-03 22:06:03,20161003,201610,2016,10,Oct,3,0,Mon,22,Night,27.0,-23.0,1.0,1.0,1.0,119.90,13.56,11.309425
4,cd3b8574c82b42fc8129f6d502690c3e,7812fcebfc5e8065d31e1bb5f0017dae,delivered,2016-10-03 22:31:31,20161003,201610,2016,10,Oct,3,0,Mon,22,Night,10.0,-40.0,1.0,1.0,1.0,29.99,10.96,36.545515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98808,52018484704db3661b98ce838612b507,e450a297a7bc6839ceb0cf1a2377fa02,delivered,2018-08-29 12:25:59,20180829,201808,2018,8,Aug,29,2,Wed,12,Morning,1.0,-4.0,1.0,1.0,1.0,63.90,9.20,14.397496
98809,0b223d92c27432930dfe407c6aea3041,e60df9449653a95af4549bbfcb18a6eb,delivered,2018-08-29 14:18:23,20180829,201808,2018,8,Aug,29,2,Wed,14,Afternoon,1.0,-5.0,2.0,1.0,1.0,418.00,92.96,22.239234
98810,168626408cb32af0ffaf76711caae1dc,6e353700bc7bcdf6ebc15d6de16d7002,delivered,2018-08-29 14:18:28,20180829,201808,2018,8,Aug,29,2,Wed,14,Afternoon,1.0,-12.0,1.0,1.0,1.0,45.90,15.39,33.529412
98811,03ef5dedbe7492bdae72eec50764c43f,496630b6740bcca28fce9ba50d8a26ef,delivered,2018-08-29 14:52:00,20180829,201808,2018,8,Aug,29,2,Wed,14,Afternoon,1.0,-4.0,1.0,1.0,1.0,24.90,8.33,33.453815
98812,35a972d7f8436f405b56e36add1a7140,898b7fee99c4e42170ab69ba59be0a8b,delivered,2018-08-29 15:00:37,20180829,201808,2018,8,Aug,29,2,Wed,15,Afternoon,1.0,-6.0,1.0,1.0,1.0,84.99,8.76,10.307095

In [60]:
order_items_info.isna().sum()

order_id                   0
customer_id                0
order_status               0
purchase_timestamp         0
purchase_date              0
purchase_year_month        0
purchase_year              0
purchase_month             0
purchase_month_name        0
purchase_day               0
purchase_week_no           0
purchase_week_name         0
purchase_hour              0
purchase_time              0
actual_delivery_days    2344
estimated_delta_days    2344
item_count               611
product_count            611
seller_count             611
price                    611
freight                  611
f/p_ratio_%              611
dtype: int64

### ◼ Olist Customers

$~√$  고객의 고유 ID와 위치 정보를 SQL query로 가져온다.

In [45]:
query = """
SELECT
	c.customer_id,
	c.customer_unique_id,
	c.customer_zip_code_prefix customer_zip_code,
	c.customer_city,
	c.customer_state,
	r.Region customer_region,
	g.geolocation_lat customer_lat,
	g.geolocation_lng customer_lng
FROM olist_customers c
LEFT JOIN brazil_state_region r ON c.customer_state=r.State
LEFT JOIN olist_geolocation_in g ON c.customer_zip_code_prefix=g.geolocation_zip_code_prefix
"""

df_customers = pd.read_sql(query, engine)
df_customers

,customer_id,customer_unique_id,customer_zip_code,customer_city,customer_state,customer_region,customer_lat,customer_lng
0,00012a2ce6f8dcda20d059ce98491703,248ffe10d632bebe4f7267f1f44844c9,6273,osasco,SP,Southest,-23.499314,-46.767550
1,000379cdec625522490c315e70c7a9fb,0b83f73b19c2019e182fd552c048a22c,4841,sao paulo,SP,Southest,-23.738482,-46.689273
2,0005aefbb696d34b3424dccd0a0e9fd0,616309b2eeb7bd9c05b0fdfbab28e6c6,3052,sao paulo,SP,Southest,-23.540546,-46.606968
3,00062b33cb9f6fe976afdcff967ea74d,f90f55ee274a4ae21510b386134b09cd,2306,sao paulo,SP,Southest,-23.466214,-46.603454
4,001028b78fd413e19704b3867c369d3a,e57a935f49ffd73b93c18eaaa04efa84,5387,sao paulo,SP,Southest,-23.565890,-46.764876
...,...,...,...,...,...,...,...,...
99436,ffdb7e488ea7c83b9c1258ee2d3776fa,271df0a7b98c752f9717a693bb33cafd,39680,capelinha,MG,Southest,-17.695151,-42.517383
99437,ffe0aaaac429db7837e943b83ee6c385,121a8ecc8f0438fe59cd337db4d4ebf5,90850,porto alegre,RS,South,-30.064348,-51.226661
99438,ffee99041e111172de2006fe9e90202a,5d7b01c0a09b912d9874a3fffdb858d5,65919,imperatriz,MA,Northest,-5.511695,-47.472820
99439,fff0f9fbcdf9cfe4d9328bd3a7af71d7,0cb95f1e2d716b9f4cf002be8cee2d54,39620,medina,MG,Southest,-16.226357,-41.478481
99440,fffeda5b6d849fbd39689bb92087f431,afbb5a642107cf6bb1ca68e863175f03,22461,rio de janeiro,RJ,Southest,-22.961018,-43.215229

In [51]:
df_customers.shape, len(df_customers['customer_unique_id'].unique()), len(df_customers['customer_id'].unique())

((99441, 8), 96096, 99441)

In [52]:
df_customers.isna().sum()

customer_id             0
customer_unique_id      0
customer_zip_code       0
customer_city           0
customer_state          0
customer_region         0
customer_lat          279
customer_lng          279
dtype: int64

- －__`order_customer_info`__

In [61]:
order_customer_info = orders_datetime[['order_id', 'purchase_timestamp', 'customer_id']].merge(
	df_customers, how='left', on='customer_id'
)
order_customer_info

,order_id,purchase_timestamp,customer_id,customer_unique_id,customer_zip_code,customer_city,customer_state,customer_region,customer_lat,customer_lng
0,3b697a20d9e427646d92567910af6d57,2016-10-03 09:44:50,355077684019f7f60a031656bd7262b8,32ea3bdedab835c3aa6cb68ce66565ef,4106,sao paulo,SP,Southest,-23.581321,-46.635726
1,be5bc2f0da14d8071e2d45451ad119d9,2016-10-03 16:56:50,7ec40b22510fdbea1b08921dd39e63d8,2f64e403852e6893ae37485d5fcacdaf,98280,panambi,RS,South,-28.291275,-53.501401
2,a41c8759fbe7aab36ea07e038b2d4465,2016-10-03 21:13:36,6f989332712d3222b6571b1cf5b835ce,61db744d2f835035a5625b59350c6b63,90040,porto alegre,RS,South,-30.040958,-51.212970
3,d207cc272675637bfed0062edffd0818,2016-10-03 22:06:03,b8cf418e97ae795672d326288dfab7a7,8d3a54507421dbd2ce0a1d58046826e0,13185,hortolandia,SP,Southest,-22.894390,-47.173213
4,cd3b8574c82b42fc8129f6d502690c3e,2016-10-03 22:31:31,7812fcebfc5e8065d31e1bb5f0017dae,87776adb449c551e74c13fc34f036105,12030,taubate,SP,Southest,-23.032122,-45.569423
...,...,...,...,...,...,...,...,...,...,...
98808,52018484704db3661b98ce838612b507,2018-08-29 12:25:59,e450a297a7bc6839ceb0cf1a2377fa02,7a22d14aa3c3599238509ddca4b93b01,5863,sao paulo,SP,Southest,-23.678012,-46.765741
98809,0b223d92c27432930dfe407c6aea3041,2018-08-29 14:18:23,e60df9449653a95af4549bbfcb18a6eb,5c58de6fb80e93396e2f35642666b693,80045,curitiba,PR,South,-25.426558,-49.255263
98810,168626408cb32af0ffaf76711caae1dc,2018-08-29 14:18:28,6e353700bc7bcdf6ebc15d6de16d7002,7febafa06d9d8f232a900a2937f04338,38600,paracatu,MG,Southest,-17.223373,-46.875188
98811,03ef5dedbe7492bdae72eec50764c43f,2018-08-29 14:52:00,496630b6740bcca28fce9ba50d8a26ef,b701bebbdf478f5500348f03aff62121,9541,sao caetano do sul,SP,Southest,-23.620032,-46.564027
98812,35a972d7f8436f405b56e36add1a7140,2018-08-29 15:00:37,898b7fee99c4e42170ab69ba59be0a8b,24ac2b4327e25baf39f2119e4228976a,13483,limeira,SP,Southest,-22.561171,-47.447471

In [67]:
len(order_customer_info['order_id'].unique()), len(order_customer_info['customer_id'].unique()), len(order_customer_info['customer_unique_id'].unique())

(98813, 98813, 95558)

In [62]:
order_customer_info.isna().sum()

order_id                0
purchase_timestamp      0
customer_id             0
customer_unique_id      0
customer_zip_code       0
customer_city           0
customer_state          0
customer_region         0
customer_lat          277
customer_lng          277
dtype: int64

- －__`re_order_customers`__

	- 고객의 재구매 여부를 조사한다.

In [64]:
first_order_date = order_customer_info.groupby('customer_unique_id')['purchase_timestamp'].min()
first_order_date

customer_unique_id
0000366f3b9a7992bf8c76cfdf3221e2   2018-05-10 10:56:27
0000b849f77a49e4a4ce2b2a4ca5be3f   2018-05-07 11:11:27
0000f46a3911fa3c0805444483337064   2017-03-10 21:05:03
0000f6ccb0745a6a4b88665a16c9f078   2017-10-12 20:29:41
0004aac84e0df4da2b147fca70cf8255   2017-11-14 19:45:42
                                           ...
fffcf5a5ff07b0908bd4e2dbc735a684   2017-06-08 21:00:36
fffea47cd6d3cc0a88bd621562a9d061   2017-12-10 20:07:56
ffff371b4d645b6ecea244b27531430a   2017-02-07 15:49:16
ffff5962728ec6157033ef9805bacc48   2018-05-02 15:17:41
ffffd2657e2aad2907e67c3e9daecbeb   2017-05-02 20:18:45
Name: purchase_timestamp, Length: 95558, dtype: datetime64[ns]

In [21]:
tmp = first_order_date.astype('str')
tmp

customer_unique_id
0000366f3b9a7992bf8c76cfdf3221e2    2018-05-10 10:56:27
0000b849f77a49e4a4ce2b2a4ca5be3f    2018-05-07 11:11:27
0000f46a3911fa3c0805444483337064    2017-03-10 21:05:03
0000f6ccb0745a6a4b88665a16c9f078    2017-10-12 20:29:41
0004aac84e0df4da2b147fca70cf8255    2017-11-14 19:45:42
                                           ...
fffcf5a5ff07b0908bd4e2dbc735a684    2017-06-08 21:00:36
fffea47cd6d3cc0a88bd621562a9d061    2017-12-10 20:07:56
ffff371b4d645b6ecea244b27531430a    2017-02-07 15:49:16
ffff5962728ec6157033ef9805bacc48    2018-05-02 15:17:41
ffffd2657e2aad2907e67c3e9daecbeb    2017-05-02 20:18:45
Name: order_purchase_timestamp, Length: 95560, dtype: object

In [65]:
first_order_date['8d50f5eadf50201ccdcedfb9e2ac8455'] # 2017-05-15 23:30:03

Timestamp('2017-05-15 23:30:03')

In [278]:
def join_values(series):
    return ', '.join(series.astype('str'))

re_order_customers = order_customer_info[['order_id', 'purchase_timestamp', 'customer_unique_id']]
re_order_customers = re_order_customers.groupby(by='customer_unique_id', as_index=False).aggregate({
	'order_id': ['count', join_values],
	'purchase_timestamp': join_values
})
re_order_customers

                     customer_unique_id order_id  \
                                           count
0      0000366f3b9a7992bf8c76cfdf3221e2        1
1      0000b849f77a49e4a4ce2b2a4ca5be3f        1
2      0000f46a3911fa3c0805444483337064        1
3      0000f6ccb0745a6a4b88665a16c9f078        1
4      0004aac84e0df4da2b147fca70cf8255        1
...                                 ...      ...
95553  fffcf5a5ff07b0908bd4e2dbc735a684        1
95554  fffea47cd6d3cc0a88bd621562a9d061        1
95555  ffff371b4d645b6ecea244b27531430a        1
95556  ffff5962728ec6157033ef9805bacc48        1
95557  ffffd2657e2aad2907e67c3e9daecbeb        1

                                          purchase_timestamp
                            join_values          join_values
0      e22acc9c116caa3f2b7121bbb380d08e  2018-05-10 10:56:27
1      3594e05a005ac4d06a72673270ef9ec9  2018-05-07 11:11:27
2      b33ec3b699337181488304f362a6b734  2017-03-10 21:05:03
3      41272756ecddd9a9ed0180413cc22fb6  2017-10-12 20:29:41
4      d957021f1127559cd947b62533f484f7  2017-11-14 19:45:42
...                                 ...                  ...
95553  725cf8e9c24e679a8a5a32cb92c9ce1e  2017-06-08 21:00:36
95554  c71b9252fd7b3b263aaa4cb09319a323  2017-12-10 20:07:56
95555  fdc45e6c7555e6cb3cc0daca2557dbe1  2017-02-07 15:49:16
95556  94d3ee0bc2a0af9d4fa47a4d63616e8d  2018-05-02 15:17:41
95557  f79a35da168301ae56922475da21117b  2017-05-02 20:18:45

[95558 rows x 4 columns]

In [279]:
len(re_order_customers['customer_unique_id'].unique())

95558

In [280]:
re_order_customers.columns = re_order_customers.columns.map('_'.join)
re_order_customers

,customer_unique_id_,order_id_count,order_id_join_values,purchase_timestamp_join_values
0,0000366f3b9a7992bf8c76cfdf3221e2,1,e22acc9c116caa3f2b7121bbb380d08e,2018-05-10 10:56:27
1,0000b849f77a49e4a4ce2b2a4ca5be3f,1,3594e05a005ac4d06a72673270ef9ec9,2018-05-07 11:11:27
2,0000f46a3911fa3c0805444483337064,1,b33ec3b699337181488304f362a6b734,2017-03-10 21:05:03
3,0000f6ccb0745a6a4b88665a16c9f078,1,41272756ecddd9a9ed0180413cc22fb6,2017-10-12 20:29:41
4,0004aac84e0df4da2b147fca70cf8255,1,d957021f1127559cd947b62533f484f7,2017-11-14 19:45:42
...,...,...,...,...
95553,fffcf5a5ff07b0908bd4e2dbc735a684,1,725cf8e9c24e679a8a5a32cb92c9ce1e,2017-06-08 21:00:36
95554,fffea47cd6d3cc0a88bd621562a9d061,1,c71b9252fd7b3b263aaa4cb09319a323,2017-12-10 20:07:56
95555,ffff371b4d645b6ecea244b27531430a,1,fdc45e6c7555e6cb3cc0daca2557dbe1,2017-02-07 15:49:16
95556,ffff5962728ec6157033ef9805bacc48,1,94d3ee0bc2a0af9d4fa47a4d63616e8d,2018-05-02 15:17:41
95557,ffffd2657e2aad2907e67c3e9daecbeb,1,f79a35da168301ae56922475da21117b,2017-05-02 20:18:45

In [282]:
re_order_customers.rename(columns={
	'customer_unique_id_': 'customer_unique_id',
	'order_id_count': 'order_count',
	'order_id_join_values': 'total_order_id',
	'purchase_timestamp_join_values': 'total_order_timestamp'
}, inplace=True)
re_order_customers

,customer_unique_id,order_count,total_order_id,total_order_timestamp
0,0000366f3b9a7992bf8c76cfdf3221e2,1,e22acc9c116caa3f2b7121bbb380d08e,2018-05-10 10:56:27
1,0000b849f77a49e4a4ce2b2a4ca5be3f,1,3594e05a005ac4d06a72673270ef9ec9,2018-05-07 11:11:27
2,0000f46a3911fa3c0805444483337064,1,b33ec3b699337181488304f362a6b734,2017-03-10 21:05:03
3,0000f6ccb0745a6a4b88665a16c9f078,1,41272756ecddd9a9ed0180413cc22fb6,2017-10-12 20:29:41
4,0004aac84e0df4da2b147fca70cf8255,1,d957021f1127559cd947b62533f484f7,2017-11-14 19:45:42
...,...,...,...,...
95553,fffcf5a5ff07b0908bd4e2dbc735a684,1,725cf8e9c24e679a8a5a32cb92c9ce1e,2017-06-08 21:00:36
95554,fffea47cd6d3cc0a88bd621562a9d061,1,c71b9252fd7b3b263aaa4cb09319a323,2017-12-10 20:07:56
95555,ffff371b4d645b6ecea244b27531430a,1,fdc45e6c7555e6cb3cc0daca2557dbe1,2017-02-07 15:49:16
95556,ffff5962728ec6157033ef9805bacc48,1,94d3ee0bc2a0af9d4fa47a4d63616e8d,2018-05-02 15:17:41
95557,ffffd2657e2aad2907e67c3e9daecbeb,1,f79a35da168301ae56922475da21117b,2017-05-02 20:18:45

In [88]:
# repeat_order_info.to_csv("./repeat_order_info.csv", index=False, encoding='utf-8')

In [123]:
import pandas as pd

# 예시 Timedelta 객체 생성
delta = pd.Timedelta(days=2, hours=5, minutes=30)
print(delta, type(delta))

# 각각의 속성을 사용하여 일(day), 초(second), 마이크로초(microsecond) 추출
days = delta.days
hours = delta.seconds // 3600
minutes = (delta.seconds % 3600) // 60
seconds = delta.seconds % 60
microseconds = delta.microseconds
print(type(delta.days), type(delta.seconds), type(delta.microseconds))

print("  일:", days)
print("시간:", hours)
print("  분:", minutes)
print("  초:", seconds)
print("마이크로초:", microseconds)

2 days 05:30:00 <class 'pandas._libs.tslibs.timedeltas.Timedelta'>
<class 'int'> <class 'int'> <class 'int'>
  일: 2
시간: 5
  분: 30
  초: 0
마이크로초: 0

In [283]:
# 고객당 구매 횟수를 구한다.
#--> 주문 시간이 차이가 12시간 이상일 때(오전에 주문하고 저녁에 주문하는 경우) 재구매로 본다.
def get_real_purchase_count(x):
    count = 1
    list = sorted([pd.to_datetime(d) for d in str(x).split(', ')])
    if len(list) > 1:
        for idx in range(0, len(list)-1):
            time_delta = (list[idx+1] - list[idx])
            diff_hours = (time_delta.days * 24) + (time_delta.seconds // 3600)
            if diff_hours > 12: 
                count += 1
                
    return count
        

re_order_customers['real_order_count'] = re_order_customers['total_order_timestamp'].map(get_real_purchase_count)
re_order_customers

,customer_unique_id,order_count,total_order_id,total_order_timestamp,real_order_count
0,0000366f3b9a7992bf8c76cfdf3221e2,1,e22acc9c116caa3f2b7121bbb380d08e,2018-05-10 10:56:27,1
1,0000b849f77a49e4a4ce2b2a4ca5be3f,1,3594e05a005ac4d06a72673270ef9ec9,2018-05-07 11:11:27,1
2,0000f46a3911fa3c0805444483337064,1,b33ec3b699337181488304f362a6b734,2017-03-10 21:05:03,1
3,0000f6ccb0745a6a4b88665a16c9f078,1,41272756ecddd9a9ed0180413cc22fb6,2017-10-12 20:29:41,1
4,0004aac84e0df4da2b147fca70cf8255,1,d957021f1127559cd947b62533f484f7,2017-11-14 19:45:42,1
...,...,...,...,...,...
95553,fffcf5a5ff07b0908bd4e2dbc735a684,1,725cf8e9c24e679a8a5a32cb92c9ce1e,2017-06-08 21:00:36,1
95554,fffea47cd6d3cc0a88bd621562a9d061,1,c71b9252fd7b3b263aaa4cb09319a323,2017-12-10 20:07:56,1
95555,ffff371b4d645b6ecea244b27531430a,1,fdc45e6c7555e6cb3cc0daca2557dbe1,2017-02-07 15:49:16,1
95556,ffff5962728ec6157033ef9805bacc48,1,94d3ee0bc2a0af9d4fa47a4d63616e8d,2018-05-02 15:17:41,1
95557,ffffd2657e2aad2907e67c3e9daecbeb,1,f79a35da168301ae56922475da21117b,2017-05-02 20:18:45,1

In [284]:
# 재구매를 한 고객 아이디에 True를 준 것

re_order_customers['is_re_order'] = re_order_customers.apply(lambda row: (row['real_order_count'] > 1), axis=1)
re_order_customers

,customer_unique_id,order_count,total_order_id,total_order_timestamp,real_order_count,is_re_order
0,0000366f3b9a7992bf8c76cfdf3221e2,1,e22acc9c116caa3f2b7121bbb380d08e,2018-05-10 10:56:27,1,False
1,0000b849f77a49e4a4ce2b2a4ca5be3f,1,3594e05a005ac4d06a72673270ef9ec9,2018-05-07 11:11:27,1,False
2,0000f46a3911fa3c0805444483337064,1,b33ec3b699337181488304f362a6b734,2017-03-10 21:05:03,1,False
3,0000f6ccb0745a6a4b88665a16c9f078,1,41272756ecddd9a9ed0180413cc22fb6,2017-10-12 20:29:41,1,False
4,0004aac84e0df4da2b147fca70cf8255,1,d957021f1127559cd947b62533f484f7,2017-11-14 19:45:42,1,False
...,...,...,...,...,...,...
95553,fffcf5a5ff07b0908bd4e2dbc735a684,1,725cf8e9c24e679a8a5a32cb92c9ce1e,2017-06-08 21:00:36,1,False
95554,fffea47cd6d3cc0a88bd621562a9d061,1,c71b9252fd7b3b263aaa4cb09319a323,2017-12-10 20:07:56,1,False
95555,ffff371b4d645b6ecea244b27531430a,1,fdc45e6c7555e6cb3cc0daca2557dbe1,2017-02-07 15:49:16,1,False
95556,ffff5962728ec6157033ef9805bacc48,1,94d3ee0bc2a0af9d4fa47a4d63616e8d,2018-05-02 15:17:41,1,False
95557,ffffd2657e2aad2907e67c3e9daecbeb,1,f79a35da168301ae56922475da21117b,2017-05-02 20:18:45,1,False

In [285]:
re_order_customers['order_count'].sum(), re_order_customers['real_order_count'].sum()

(98813, 97871)

In [286]:
re_order_customers[re_order_customers['is_re_order']==True]

,customer_unique_id,order_count,total_order_id,total_order_timestamp,real_order_count,is_re_order
106,004288347e5e88a27ded2bb23747066c,2,"a61d617fbe5bd006e40d3a0988fc844b, 08204559bebd...","2017-07-27 14:13:03, 2018-01-14 07:36:54",2,True
124,004b45ec5c64187465168251cd1c9c2f,2,"90ae229a4addcfead792e2564554f09c, 9392c5e72885...","2017-09-01 12:11:23, 2018-05-26 19:42:48",2,True
248,00a39521eb40f7012db50455bf083460,2,"7d32c87acba91ed87ebd98310fe1c54d, cea3e6c11eb6...","2018-05-23 20:14:21, 2018-06-03 10:12:57",2,True
412,011575986092c30523ecb71ff10cb473,2,"0f28d51fdd4828907bdc58b57f672e84, ed0a6265b5b0...","2018-02-17 15:54:49, 2018-04-18 21:58:08",2,True
427,011b4adcd54683b480c4d841250a987f,2,"f05a68aaa0d8f89e758c7134d53fa22a, 93b35affb864...","2017-08-22 12:51:29, 2018-02-15 11:40:57",2,True
...,...,...,...,...,...,...
94999,fe81bb32c243a86b2f86fbf053fe6140,5,"f3e4f61152aed686fbbb83e794cc246d, 4b3c7f8318b0...","2017-10-22 11:29:22, 2017-10-31 16:20:25, 2018...",5,True
95105,fed519569d16e690df6f89cb99d4e682,2,"adcd0c83cc5c1885f8dfcf0f9db19481, 169dbd59d432...","2017-12-20 19:10:19, 2018-03-18 21:51:49",2,True
95173,ff03923ad1eb9e32304deb7f9b2a45c9,2,"1d87599144fe1573be8611bf9f5d5de9, df52ca783038...","2018-04-23 21:49:49, 2018-05-26 11:51:22",2,True
95380,ff8892f7c26aa0446da53d01b18df463,2,"cb6e8d89049744886ad04520d5e0b2f6, 1c308eca3f33...","2017-05-24 16:09:14, 2017-11-26 23:25:43",2,True
95398,ff922bdd6bafcdf99cb90d7f39cea5b3,3,"fd216c435fda2be27c92920a5e5dba82, 5f79e2da24a5...","2017-02-22 12:26:42, 2017-08-23 13:15:29, 2017...",3,True

- －__재구매 횟수__

In [287]:
re_order_customers[re_order_customers['is_re_order']==True]['real_order_count'].unique()

array([ 2,  3,  4,  6,  5,  7, 17], dtype=int64)

- －__재구매 17회 : 1명__

In [288]:
re_order_customers[re_order_customers['real_order_count']==17]

,customer_unique_id,order_count,total_order_id,total_order_timestamp,real_order_count,is_re_order
52675,8d50f5eadf50201ccdcedfb9e2ac8455,17,"5d848f3d93a493c1c8955e018240e7ca, 369634708db1...","2017-05-15 23:30:03, 2017-06-18 22:56:48, 2017...",17,True

In [242]:
# '8d50f5eadf50201ccdcedfb9e2ac8455' 고객은 총 17번의 구매를 했다.

re_order_customers[re_order_customers['customer_unique_id']=='8d50f5eadf50201ccdcedfb9e2ac8455']['total_order_timestamp'].values[0]

'2017-05-15 23:30:03, 2017-06-18 22:56:48, 2017-07-17 22:11:13, 2017-07-18 23:10:58, 2017-07-24 22:11:50, 2017-08-05 08:59:43, 2017-09-05 22:14:52, 2017-10-18 23:25:04, 2017-10-29 16:58:02, 2017-11-22 20:01:53, 2018-05-21 22:44:31, 2018-05-22 23:08:55, 2018-07-04 22:35:13, 2018-07-23 21:53:02, 2018-08-07 23:32:14, 2018-08-18 12:39:19, 2018-08-20 19:14:26'

In [243]:
temp = re_order_customers[re_order_customers['customer_unique_id']=='8d50f5eadf50201ccdcedfb9e2ac8455']['total_order_id'].values[0]
oid = [x for x in temp.split(', ')]
oid

['5d848f3d93a493c1c8955e018240e7ca',
 '369634708db140c5d2c4e365882c443a',
 '5837a2c844decae8a778657425f6d664',
 '4f62d593acae92cea3c5662c76122478',
 'bf92c69b7cc70f7fc2c37de43e366173',
 '519203404f6116d406a970763ee75799',
 'e3071b7624445af6e4f3a1b23718667d',
 'cd4b336a02aacabd0ef22f6db711f95e',
 '89d9b111d2b990deb5f5f9769f92800b',
 'b850a16d8faf65a74c51287ef34379ce',
 '23427a6bd9f8fd1b51f1b1e5cc186ab8',
 '6bdf325f0966e3056651285c0aed5aad',
 '838f8e96cf584a1d8d22eaf7143c7772',
 '112eb6f37f1b9dabbced368fbbc6c9ef',
 'c2213109a2cc0e75d55585b7aaac6d97',
 'a1a6eadae352582010f449d8527b55f3',
 'd3582fd5ccccd9cb229a63dfb417c86f']

In [244]:
order_items_info[order_items_info['order_id'].isin(oid)]

,order_id,customer_id,order_status,purchase_timestamp,purchase_date,purchase_year_month,purchase_year,purchase_month,purchase_month_name,purchase_day,purchase_week_no,purchase_week_name,purchase_hour,purchase_time,actual_delivery_days,estimated_delta_days,item_count,product_count,seller_count,price,freight,f/p_ratio_%
9618,5d848f3d93a493c1c8955e018240e7ca,0e4fdc084a6b9329ed55d62dcd653ccf,shipped,2017-05-15 23:30:03,20170515,201705,2017,5,May,15,0,Mon,23,Night,NaN,NaN,1.0,1.0,1.0,14.99,7.78,51.901268
13589,369634708db140c5d2c4e365882c443a,b2b13de0770e06de50080fea77c459e6,delivered,2017-06-18 22:56:48,20170618,201706,2017,6,Jun,18,6,Sun,22,Night,4.0,-14.0,1.0,1.0,1.0,39.90,11.85,29.699248
16918,5837a2c844decae8a778657425f6d664,31dd055624c66f291578297a551a6cdf,unavailable,2017-07-17 22:11:13,20170717,201707,2017,7,Jul,17,0,Mon,22,Night,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17121,4f62d593acae92cea3c5662c76122478,dfb941d6f7b02f57a44c3b7c3fefb44b,delivered,2017-07-18 23:10:58,20170718,201707,2017,7,Jul,18,1,Tue,23,Night,2.0,-10.0,1.0,1.0,1.0,13.99,7.78,55.611151
17864,bf92c69b7cc70f7fc2c37de43e366173,42dbc1ad9d560637c9c4c1533746f86d,delivered,2017-07-24 22:11:50,20170724,201707,2017,7,Jul,24,0,Mon,22,Night,6.0,-15.0,1.0,1.0,1.0,149.90,16.81,11.214143
19411,519203404f6116d406a970763ee75799,1c62b48fb34ee043310dcb233caabd2e,delivered,2017-08-05 08:59:43,20170805,201708,2017,8,Aug,5,5,Sat,8,Morning,4.0,-16.0,1.0,1.0,1.0,69.90,11.99,17.153076
23776,e3071b7624445af6e4f3a1b23718667d,0bf8bf19944a7f8b40ba86fef778ca7c,delivered,2017-09-05 22:14:52,20170905,201709,2017,9,Sep,5,1,Tue,22,Night,5.0,-11.0,1.0,1.0,1.0,39.90,11.85,29.699248
30116,cd4b336a02aacabd0ef22f6db711f95e,89be66634d68fa73a95499b6352e085d,delivered,2017-10-18 23:25:04,20171018,201710,2017,10,Oct,18,2,Wed,23,Night,4.0,-7.0,1.0,1.0,1.0,29.99,7.78,25.941981
31596,89d9b111d2b990deb5f5f9769f92800b,9a1afef458843a022e431f4cb304dfe9,delivered,2017-10-29 16:58:02,20171029,201710,2017,10,Oct,29,6,Sun,16,Afternoon,1.0,-10.0,1.0,1.0,1.0,13.99,7.78,55.611151
35708,b850a16d8faf65a74c51287ef34379ce,1bd3585471932167ab72a84955ebefea,delivered,2017-11-22 20:01:53,20171122,201711,2017,11,Nov,22,2,Wed,20,Night,4.0,-7.0,1.0,1.0,1.0,13.99,7.78,55.611151
78664,23427a6bd9f8fd1b51f1b1e5cc186ab8,a8fabc805e9a10a3c93ae5bff642b86b,delivered,2018-05-21 22:44:31,20180521,201805,2018,5,May,21,0,Mon,22,Night,1.0,-6.0,1.0,1.0,1.0,45.99,7.39,16.068711
78861,6bdf325f0966e3056651285c0aed5aad,6289b75219d757a56c0cce8d9e427900,delivered,2018-05-22 23:08:55,20180522,201805,2018,5,May,22,1,Tue,23,Night,1.0,-6.0,1.0,1.0,1.0,51.80,11.15,21.525097
86944,838f8e96cf584a1d8d22eaf7143c7772,f5188d99e9281e214a4a7d1b139a8229,delivered,2018-07-04 22:35:13,20180704,201807,2018,7,Jul,4,2,Wed,22,Night,5.0,-7.0,1.0,1.0,1.0,22.99,7.42,32.274902
90421,112eb6f37f1b9dabbced368fbbc6c9ef,65f9db9dd07a4e79b625effa4c868fcb,delivered,2018-07-23 21:53:02,20180723,201807,2018,7,Jul,23,0,Mon,21,Night,2.0,-7.0,1.0,1.0,1.0,99.00,8.85,8.939394
94542,c2213109a2cc0e75d55585b7aaac6d97,897b7f72042714efaa64ac306ba0cafc,delivered,2018-08-07 23:32:14,20180807,201808,2018,8,Aug,7,1,Tue,23,Night,2.0,-3.0,1.0,1.0,1.0,26.99,7.45,27.602816
97297,a1a6eadae352582010f449d8527b55f3,3414a9c813e3ca02504b8be8b2deb27f,delivered,2018-08-18 12:39:19,20180818,201808,2018,8,Aug,18,5,Sat,12,Morning,6.0,-10.0,1.0,1.0,1.0,72.90,23.50,32.235940
97811,d3582fd5ccccd9cb229a63dfb417c86f,a682769c4bc10fc6ef2101337a6c83c9,delivered,2018-08-20 19:14:26,20180820,201808,2018,8,Aug,20,0,Mon,19,Night,3.0,-11.0,1.0,1.0,1.0,23.40,15.26,65.213675

In [171]:
import pandas as pd

# 예시 데이터프레임 생성
data = {
    'actual_delivery_days': [None, None, None, 5, None],
    'estimated_delta_days': [None, None, None, None, None],
    'item_count': [1, 2, 3, 4, 5],
    'product_count': [None, None, None, None, None],
    'seller_count': [None, None, None, None, None],
    'price': [10, 20, 30, 40, 50],
    'freight': [None, None, None, None, None],
    'f/p_ratio_%': [None, None, None, None, None]
}

df = pd.DataFrame(data)
display(df)

# 모든 값이 null인 열을 출력
null_columns = df.columns[df.isnull().all()]
display(df[null_columns])
# df[df.isnull().all(axis=0)] --> IndexingError

# 모든 컬럼이 null인 행 출력
null_rows = df[df.isnull().all(axis=1)]
null_rows

,actual_delivery_days,estimated_delta_days,item_count,product_count,seller_count,price,freight,f/p_ratio_%
0,NaN,None,1,None,None,10,None,None
1,NaN,None,2,None,None,20,None,None
2,NaN,None,3,None,None,30,None,None
3,5.0,None,4,None,None,40,None,None
4,NaN,None,5,None,None,50,None,None

  estimated_delta_days product_count seller_count freight f/p_ratio_%
0                 None          None         None    None        None
1                 None          None         None    None        None
2                 None          None         None    None        None
3                 None          None         None    None        None
4                 None          None         None    None        None

Empty DataFrame
Columns: [actual_delivery_days, estimated_delta_days, item_count, product_count, seller_count, price, freight, f/p_ratio_%]
Index: []

In [164]:
cols = ['actual_delivery_days', 'estimated_delta_days', 'item_count', 'product_count', 'seller_count', 'price', 'freight', 'f/p_ratio_%']

order_items_info[order_items_info[cols].isna().all(axis=1)]

,order_id,customer_id,order_status,purchase_timestamp,purchase_date,purchase_year_month,purchase_year,purchase_month,purchase_month_name,purchase_day,purchase_week_no,purchase_week_name,purchase_hour,purchase_time,actual_delivery_days,estimated_delta_days,item_count,product_count,seller_count,price,freight,f/p_ratio_%
66,a68ce1686d536ca72bd2dadc4b8671e5,d7bed5fac093a4136216072abaf599d5,shipped,2016-10-05 01:47:40,20161005,201610,2016,10,Oct,5,2,Wed,1,Dawn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,e04f1da1f48bf2bbffcf57b9824f76e1,0d00d77134cae4c58695086ad8d85100,invoiced,2016-10-05 13:22:20,20161005,201610,2016,10,Oct,5,2,Wed,13,Afternoon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,1612081119e8f23745698ad3367cc14b,20d32833d8983a835cafcd54099631a0,unavailable,2016-10-05 18:06:48,20161005,201610,2016,10,Oct,5,2,Wed,18,Afternoon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,2ce9683175cdab7d1c95bcbb3e36f478,b2d7ae0415dbbca535b5f7b38056dd1f,invoiced,2016-10-05 21:03:33,20161005,201610,2016,10,Oct,5,2,Wed,21,Night,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
542,0cafd6a7576a6aae0f891008a87f1546,c758396a502648cb2e77ef06e0807a00,unavailable,2017-01-20 10:31:53,20170120,201701,2017,1,Jan,20,4,Fri,10,Morning,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92843,3438960569bf3e42fa63f8e7bab0ac03,521896033ed628472193e3adccf722e4,unavailable,2018-08-02 15:28:32,20180802,201808,2018,8,Aug,2,3,Thu,15,Afternoon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95189,4cccc0d35e7c7a0dc766ad3c4043e33e,75295919398404a05b83a05a22506b41,unavailable,2018-08-10 09:32:32,20180810,201808,2018,8,Aug,10,4,Fri,9,Morning,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95438,4bd0d8aa4756f78245bd56015d4ddcc0,a66d945b437e7e8dab012f6172a5beb3,unavailable,2018-08-11 11:56:24,20180811,201808,2018,8,Aug,11,5,Sat,11,Morning,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95560,93881917b8e0f2bf11eec7abbbfe43ec,5c78528de7bc16285f19af96fce88f02,unavailable,2018-08-11 21:38:00,20180811,201808,2018,8,Aug,11,5,Sat,21,Night,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97971,02de1e44936e56ddc1621c46d86bf91e,c4c369211d1aaab90c8e097f6939dda2,unavailable,2018-08-21 12:21:00,20180821,201808,2018,8,Aug,21,1,Tue,12,Morning,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [245]:
order_items_info[cols].isna().sum()

actual_delivery_days    2344
estimated_delta_days    2344
item_count               611
product_count            611
seller_count             611
price                    611
freight                  611
f/p_ratio_%              611
dtype: int64

- －__재구매 7회 : 2명__

In [289]:
re_order_customers[re_order_customers['real_order_count']==7]

,customer_unique_id,order_count,total_order_id,total_order_timestamp,real_order_count,is_re_order
23342,3e43e6105506432c953e165fb2acf44c,9,"ed0b6f8c8617370e53735a5d963bb5b6, e23ad32d5c15...","2017-09-18 18:53:15, 2017-12-01 09:30:36, 2017...",7,True
75648,ca77025e7201e3b30c44b472ff346268,7,"ee84d18908ccf2b4c57008c552b98d1c, f3584b023b09...","2017-10-09 12:34:39, 2018-01-25 21:10:57, 2018...",7,True

In [247]:
temp = re_order_customers[re_order_customers['customer_unique_id']=='3e43e6105506432c953e165fb2acf44c']['total_order_timestamp'].values[0]
[pd.to_datetime(x) for x in temp.split(', ')]

[Timestamp('2017-09-18 18:53:15'),
 Timestamp('2017-12-01 09:30:36'),
 Timestamp('2017-12-01 22:37:41'),
 Timestamp('2017-12-01 22:37:42'),
 Timestamp('2018-01-11 10:56:15'),
 Timestamp('2018-02-12 10:12:54'),
 Timestamp('2018-02-12 10:12:55'),
 Timestamp('2018-02-20 10:45:22'),
 Timestamp('2018-02-27 18:36:39')]

In [119]:
for i in range(len(list)-1):
    dt_delta = (list[i+1]-list[i])
    # dt_hours = (dt_delta.days * 24) + (dt_delta.seconds // 3600)
    print(dt_delta, '\t', dt_delta.days, '\t', dt_delta.seconds // 3600)

73 days 14:37:21 	 73 	 14
0 days 13:07:05 	 0 	 13
0 days 00:00:01 	 0 	 0
40 days 12:18:33 	 40 	 12
31 days 23:16:39 	 31 	 23
0 days 00:00:01 	 0 	 0
8 days 00:32:27 	 8 	 0
7 days 07:51:17 	 7 	 7

In [141]:
temp = re_order_customers[re_order_customers['customer_unique_id']=='3e43e6105506432c953e165fb2acf44c']['total_order_id'].values[0]
oid = [x for x in temp.split(', ')]
oid

['ed0b6f8c8617370e53735a5d963bb5b6',
 'e23ad32d5c15d9ad308baddc6262afea',
 '1124c329070977fbd414f046bba149d7',
 '826b47e4cd7bba4e4c6fa5485f898b74',
 'caf10b4f81696bae84a2448c0767b3b0',
 '70863e8ef99613bbc8f854807d187ea7',
 'f75455b78762d30c7e663172f18dbcbe',
 'ed92e8596b1e39671065510a4f5b0920',
 'ff89ef7b3952bba5ac06d61c4a79ffbe']

In [142]:
order_items_info[order_items_info['order_id'].isin(oid)]

,order_id,customer_id,order_status,purchase_timestamp,purchase_date,purchase_year_month,purchase_year,purchase_month,purchase_month_name,purchase_day,purchase_week_no,purchase_week_name,purchase_hour,purchase_time,actual_delivery_days,estimated_delta_days,item_count,product_count,seller_count,price,freight,f/p_ratio_%
25657,ed0b6f8c8617370e53735a5d963bb5b6,06ec7aed3161859018db02f695b6600d,delivered,2017-09-18 18:53:15,20170918,201709,2017,9,Sep,18,0,Mon,18,Afternoon,4.0,-6.0,4.0,3.0,1.0,67.60,31.13,46.050296
39514,e23ad32d5c15d9ad308baddc6262afea,a4413edae691fd0d28bd04b8a38b259d,delivered,2017-12-01 09:30:36,20171201,201712,2017,12,Dec,1,4,Fri,9,Morning,26.0,-13.0,1.0,1.0,1.0,97.47,17.93,18.395404
39731,1124c329070977fbd414f046bba149d7,b70f8552b91ef49129519206966e2472,delivered,2017-12-01 22:37:41,20171201,201712,2017,12,Dec,1,4,Fri,22,Night,17.0,-14.0,1.0,1.0,1.0,50.00,15.10,30.200000
39732,826b47e4cd7bba4e4c6fa5485f898b74,e68e6423401e85c138229b23d4bf4761,delivered,2017-12-01 22:37:42,20171201,201712,2017,12,Dec,1,4,Fri,22,Night,4.0,-21.0,2.0,2.0,2.0,336.90,27.28,8.097358
47392,caf10b4f81696bae84a2448c0767b3b0,b63c9cfc5dcb06ed307ca95957fa216c,delivered,2018-01-11 10:56:15,20180111,201801,2018,1,Jan,11,3,Thu,10,Morning,5.0,-10.0,1.0,1.0,1.0,119.00,13.95,11.722689
54794,70863e8ef99613bbc8f854807d187ea7,2bbd32d4ef14893d2d8c1a0df08403cf,delivered,2018-02-12 10:12:54,20180212,201802,2018,2,Feb,12,0,Mon,10,Morning,15.0,-7.0,2.0,2.0,1.0,106.00,24.58,23.188679
54795,f75455b78762d30c7e663172f18dbcbe,6b92dda6e324283dbe4969c443e3bf1a,delivered,2018-02-12 10:12:55,20180212,201802,2018,2,Feb,12,0,Mon,10,Morning,15.0,-7.0,1.0,1.0,1.0,53.99,11.88,22.004075
56701,ed92e8596b1e39671065510a4f5b0920,f37a14140ac3a8efbb4d2eab6585edb7,delivered,2018-02-20 10:45:22,20180220,201802,2018,2,Feb,20,1,Tue,10,Morning,23.0,1.0,1.0,1.0,1.0,59.99,16.18,26.971162
58624,ff89ef7b3952bba5ac06d61c4a79ffbe,1815fdaaae692479110428598596b5e5,delivered,2018-02-27 18:36:39,20180227,201802,2018,2,Feb,27,1,Tue,18,Afternoon,14.0,-6.0,1.0,1.0,1.0,109.90,13.79,12.547771

- －__재구매 6회 : 6명__

In [290]:
re_order_customers[re_order_customers['real_order_count']==6]

,customer_unique_id,order_count,total_order_id,total_order_timestamp,real_order_count,is_re_order
10291,1b6c7548a2a1f9037c1fd3ddfed95f33,7,"abbd44be67f3cad08ffac14daf36af60, 54f334d6a9d6...","2017-11-13 16:44:41, 2017-11-24 13:01:09, 2017...",6,True
37389,63cfc61cee11cbe306bff5857d00bfe4,6,"287e90d08a100fd2ecbfd8a82dddad5b, d37c9e8893d1...","2017-05-11 14:39:53, 2017-05-21 16:19:58, 2017...",6,True
37598,6469f99c1f9dfae7733b25662e7f1782,7,"bcf2e0138ecf66a8688ab369b802d57a, 4266cc59dbee...","2017-09-19 01:02:44, 2017-10-05 13:16:25, 2017...",6,True
82413,dc813062e0fc23409cd255f7f53c7074,6,"b7633aa5145342cd219d1488b70ef2a6, 12acc7b15e7e...","2017-07-01 04:22:21, 2017-10-06 23:23:02, 2017...",6,True
83069,de34b16117594161a6a89c50b289d35a,6,"f06059b8f4dc49c4f76378b7715a63b0, 08504a0dce0a...","2017-11-03 00:16:32, 2017-11-05 15:24:14, 2017...",6,True
89941,f0e310a6839dce9de1638e0fe5ab282a,6,"d0a9dafd211ac9467af0318383ef4da1, 84f2f3376f85...","2017-05-20 08:53:30, 2017-08-03 20:28:45, 2017...",6,True

- －__재구매 5회 : 5명__

In [291]:
re_order_customers[re_order_customers['real_order_count']==5]

,customer_unique_id,order_count,total_order_id,total_order_timestamp,real_order_count,is_re_order
21458,394ac4de8f3acb14253c177f0e15bc58,5,"60114243c9bedbdafe9bc312bd608936, 35b6b206735a...","2017-12-22 19:23:43, 2018-03-05 19:53:08, 2018...",5,True
26899,47c1a3033b8b77b3ab6e109eb4d5fdf3,6,"c66985d27ca5899e6058749d3432daf4, b6f999c6eccb...","2017-08-07 14:14:22, 2017-08-07 14:14:22, 2017...",5,True
29354,4e65032f1f574189fb793bac5a867bbc,5,"c0ebe7b377d69896b580f578b99cfc98, 649af2abdcd7...","2017-03-26 18:39:34, 2017-06-02 09:35:21, 2017...",5,True
35440,5e8f38a9a1c023f3db718edcf926a2db,5,"a7a0c8ebf2557ea4b30103fbff81e64d, 20316f53ea80...","2017-08-21 10:20:23, 2017-09-13 16:12:04, 2017...",5,True
94999,fe81bb32c243a86b2f86fbf053fe6140,5,"f3e4f61152aed686fbbb83e794cc246d, 4b3c7f8318b0...","2017-10-22 11:29:22, 2017-10-31 16:20:25, 2018...",5,True

- －__재구매 4회 : 20명__

In [292]:
re_order_customers[re_order_customers['real_order_count']==4]

,customer_unique_id,order_count,total_order_id,total_order_timestamp,real_order_count,is_re_order
3116,083ca1aa470c280236380973a48f77c6,4,"acb08a83f62cfd54a98e76c21cd268fd, 95287574a391...","2017-07-28 04:06:33, 2017-08-05 08:25:09, 2017...",4,True
7085,12d8b5ed661190a3a08183644dfc504d,4,"3cab5c70f370e7fa810658c551f8e2ce, 7c952ad04bbf...","2017-03-26 18:25:32, 2018-02-26 22:45:04, 2018...",4,True
17179,2ddc001b620bd90d0f4378cfde1db887,4,"a8eed0db5f225dedde3f0edcdf9ee3ed, 80742a986710...","2017-09-30 07:44:48, 2017-10-26 20:36:07, 2017...",4,True
20228,35ecdf6858edc6427223b64804cf028e,5,"5a4ae77af140c48f0cd65b631bdcb342, bcb0343717a9...","2017-08-05 14:55:19, 2017-08-05 14:55:19, 2017...",4,True
21517,397b44d5bb99eabf54ea9c2b41ebb905,4,"f5e893bf1ab1969476ddb21ae35369df, 8af583445186...","2018-01-11 12:16:24, 2018-02-06 18:21:30, 2018...",4,True
29830,4facc2e6fbc2bffab2fea92d2b4aa7e4,4,"b9b426ab253dc328825da35f1bad83f9, 77d6b708885d...","2017-06-18 23:14:46, 2018-07-20 10:12:21, 2018...",4,True
32493,56c8638e7c058b98aae6d74d2dd6ea23,5,"9980064d9817bacc9e261e7f5fcf3fe5, 5999d0076050...","2017-07-12 06:48:11, 2018-03-22 10:14:00, 2018...",4,True
43058,7305430719d715992b00be82af4a6aa8,4,"e940dfc11f35a222dc7dd0e6700aecc0, d0bff47153ef...","2017-07-12 10:50:31, 2017-11-23 15:05:54, 2018...",4,True
43247,738ffcf1017b584e9d2684b36e07469c,4,"b84a1e6e6311e6c40724fee7551a915b, af29f3d28789...","2017-10-13 12:24:20, 2017-11-01 01:52:21, 2018...",4,True
60016,a0abd26659c9914690cbd3320d39fd96,4,"a5f8439f1e560659a492608e370ecde2, d03ba703f83e...","2017-05-27 14:03:20, 2018-02-07 21:33:54, 2018...",4,True
60331,a1874c5550d2f0bc14cc122164603713,4,"fd2a39a376a840fa97ed572777c2b0e3, 04467aceefd2...","2017-06-30 13:40:46, 2018-01-25 16:21:03, 2018...",4,True
62613,a7657330b1c135f3acd420326e335b2c,4,"68c3f2fc647e6d809af24b6ccbe84388, 2ea42a9244db...","2017-05-18 20:51:06, 2017-06-09 14:24:57, 2017...",4,True
64645,acea6bd29b8c1e3c6a8b266a8fb4475e,4,"8f0dec20d92d7f1c553d41ed603d57cf, 1baadc6ea58d...","2017-08-30 09:53:59, 2017-09-21 11:07:39, 2018...",4,True
67144,b39dde6dd619943190a8cc9aa6db38a4,4,"6179ca3aca88a0e2e379fbf3742a04ac, 4d615e558a28...","2017-03-23 12:21:53, 2017-04-08 01:04:51, 2017...",4,True
67624,b4e4f24de1e8725b74e4a1f4975116ed,5,"92e3b708c3923190432db2b9fd006b44, e73eb0a2c088...","2018-02-23 13:12:21, 2018-02-24 10:02:14, 2018...",4,True
69005,b896655e2083a1d76b7b85df8fc86e40,4,"524dd16d182003f56199d068e2a1d50c, dfec7411ab4b...","2017-09-25 11:22:41, 2017-11-12 10:00:56, 2018...",4,True
69044,b8b3c435a58aebd788a477bed8342910,4,"5246f33ed41cfa5f5b8f64e7bc8cf0c2, 6dd0cc64fed6...","2017-05-05 08:45:28, 2017-07-10 14:17:01, 2017...",4,True
73057,c37cc6c1a59d81460a3059744f7ada1c,4,"bc46c2cc4bdb50a72e172392fd97672b, aae977c78283...","2017-07-02 22:56:09, 2017-07-03 18:35:01, 2017...",4,True
88353,ec7f1811826ab04a27a92197bc40c888,4,"41dc608dc9ebdb998dc9b63c57eca204, 87fbaf80a5ba...","2017-11-02 15:17:45, 2017-11-18 07:41:46, 2017...",4,True
92003,f64ec6d8dd29940264cd0bbb5ecade8a,4,"517b4b7e7f723df3693ae71473078d73, 1a26633be718...","2017-10-07 06:49:55, 2017-11-03 17:45:48, 2017...",4,True

- －__재구매 3회 : 121명__

In [293]:
re_order_customers[re_order_customers['real_order_count']==3]

,customer_unique_id,order_count,total_order_id,total_order_timestamp,real_order_count,is_re_order
1533,041caba6a63ace5818387698ea85cdb2,3,"129538e4bc7308e9ab041540283813f2, 7f2f81a366f8...","2017-03-15 21:50:14, 2017-11-17 08:47:41, 2018...",3,True
2894,07b1b60bca2b6326fa2adb259ea4a55f,3,"47a3f2cb969f3d798bf29b6c5922490a, 64aea51c84f7...","2018-03-26 22:19:07, 2018-03-30 15:47:09, 2018...",3,True
3318,08c07c761592a71b85136aa4fe76a6f4,3,"2e8cf1097e1516a9e3fae72b8ef97519, 54f53e031329...","2017-08-11 12:22:46, 2018-01-26 22:03:52, 2018...",3,True
3380,08e5b38d7948d37fbb2a59fc5e175ab1,4,"eb2d13a05138994cbcc09986aabdb9b3, aa9f3738c923...","2018-03-03 02:21:56, 2018-05-06 02:58:50, 2018...",3,True
4216,0b18593e033697810a62a987e77f4b8c,3,"447e81187647a12bf1a254923877d0ed, 18448ffe871a...","2017-06-02 09:18:44, 2017-06-14 06:49:48, 2018...",3,True
...,...,...,...,...,...,...
92884,f8bc1d81f395f6239a2a5ab1b9edf1ab,3,"a6264125a9c50827b115847d47c73a13, 0362e923f805...","2017-10-06 15:02:44, 2018-04-13 13:54:38, 2018...",3,True
94214,fc719c11b4dce594f47e1f9aa739a3a2,3,"350effaab10ac33b956650cd4eb15388, 5ff620977c19...","2017-11-16 17:08:42, 2017-11-24 18:04:11, 2017...",3,True
94627,fd8ccc89be43894d2553494c71a61fd8,3,"1b82cfd1e6a6d682ee254b2ff4cf387f, 41907a6e6906...","2018-03-11 22:52:36, 2018-03-13 07:45:39, 2018...",3,True
94928,fe59d5878cd80080edbd29b5a0a4e1cf,3,"12546aaf14dc46dbdf45d8bf5dea4c60, 806d3b5f1555...","2017-06-07 19:54:10, 2017-08-14 12:18:15, 2017...",3,True
95398,ff922bdd6bafcdf99cb90d7f39cea5b3,3,"fd216c435fda2be27c92920a5e5dba82, 5f79e2da24a5...","2017-02-22 12:26:42, 2017-08-23 13:15:29, 2017...",3,True

In [255]:
re_order_customers[re_order_customers['customer_unique_id']=='fe59d5878cd80080edbd29b5a0a4e1cf']['total_order_timestamp'].values[0]

'2017-06-07 19:54:10, 2017-08-14 12:18:15, 2017-08-22 11:50:48'

In [256]:
temp = re_order_customers[re_order_customers['customer_unique_id']=='fe59d5878cd80080edbd29b5a0a4e1cf']['total_order_id'].values[0]
oid = [x for x in temp.split(', ')]
print(oid)

['12546aaf14dc46dbdf45d8bf5dea4c60', '806d3b5f15557ad3d5288d340271151f', '82c5cafaa9a07e68a28009b6cd031be7']

In [257]:
order_items_info[order_items_info['order_id'].isin(oid)]

,order_id,customer_id,order_status,purchase_timestamp,purchase_date,purchase_year_month,purchase_year,purchase_month,purchase_month_name,purchase_day,purchase_week_no,purchase_week_name,purchase_hour,purchase_time,actual_delivery_days,estimated_delta_days,item_count,product_count,seller_count,price,freight,f/p_ratio_%
12380,12546aaf14dc46dbdf45d8bf5dea4c60,94c00589c7550e31350908f68e97d488,delivered,2017-06-07 19:54:10,20170607,201706,2017,6,Jun,7,2,Wed,19,Night,15.0,-14.0,1.0,1.0,1.0,78.80,27.09,34.378173
20595,806d3b5f15557ad3d5288d340271151f,185d4f6e56ea6a1e423468b4d2eaa7cc,delivered,2017-08-14 12:18:15,20170814,201708,2017,8,Aug,14,0,Mon,12,Morning,9.0,-21.0,1.0,1.0,1.0,38.99,15.11,38.753527
21801,82c5cafaa9a07e68a28009b6cd031be7,edee5737d062e9274e403eff4ad67e12,delivered,2017-08-22 11:50:48,20170822,201708,2017,8,Aug,22,1,Tue,11,Morning,9.0,-18.0,1.0,1.0,1.0,9.99,15.11,151.251251

- －__재구매 2회 : 1933명__

In [294]:
re_order_customers[re_order_customers['real_order_count']==2]

,customer_unique_id,order_count,total_order_id,total_order_timestamp,real_order_count,is_re_order
106,004288347e5e88a27ded2bb23747066c,2,"a61d617fbe5bd006e40d3a0988fc844b, 08204559bebd...","2017-07-27 14:13:03, 2018-01-14 07:36:54",2,True
124,004b45ec5c64187465168251cd1c9c2f,2,"90ae229a4addcfead792e2564554f09c, 9392c5e72885...","2017-09-01 12:11:23, 2018-05-26 19:42:48",2,True
248,00a39521eb40f7012db50455bf083460,2,"7d32c87acba91ed87ebd98310fe1c54d, cea3e6c11eb6...","2018-05-23 20:14:21, 2018-06-03 10:12:57",2,True
412,011575986092c30523ecb71ff10cb473,2,"0f28d51fdd4828907bdc58b57f672e84, ed0a6265b5b0...","2018-02-17 15:54:49, 2018-04-18 21:58:08",2,True
427,011b4adcd54683b480c4d841250a987f,2,"f05a68aaa0d8f89e758c7134d53fa22a, 93b35affb864...","2017-08-22 12:51:29, 2018-02-15 11:40:57",2,True
...,...,...,...,...,...,...
94887,fe3e52de024b82706717c38c8e183084,2,"3be2b1040cee4f1c19a48c57ca3d2640, 54ba74414bed...","2017-09-12 09:21:38, 2018-07-31 08:30:27",2,True
94920,fe52c2abb172426dd6416cc69e6b3689,2,"0d760576500ea8611379a97ddcebf3db, dc1c38562baf...","2017-09-16 12:30:24, 2017-09-23 12:53:19",2,True
95105,fed519569d16e690df6f89cb99d4e682,2,"adcd0c83cc5c1885f8dfcf0f9db19481, 169dbd59d432...","2017-12-20 19:10:19, 2018-03-18 21:51:49",2,True
95173,ff03923ad1eb9e32304deb7f9b2a45c9,2,"1d87599144fe1573be8611bf9f5d5de9, df52ca783038...","2018-04-23 21:49:49, 2018-05-26 11:51:22",2,True
95380,ff8892f7c26aa0446da53d01b18df463,2,"cb6e8d89049744886ad04520d5e0b2f6, 1c308eca3f33...","2017-05-24 16:09:14, 2017-11-26 23:25:43",2,True

In [ ]:
oid = ['64307ceb91666760cf3ff463618302fd', 'd61b915b69851aec8a8865f36cfd793e']

order_items_info[order_items_info['order_id'].isin(oid)]

,order_id,customer_id,order_status,purchase_timestamp,purchase_date,purchase_year_month,purchase_year,purchase_month,purchase_month_name,purchase_day,purchase_week_no,purchase_week_name,purchase_hour,purchase_time,actual_delivery_days,estimated_delta_days,item_count,product_count,seller_count,price,freight,f/p_ratio_%
4622,64307ceb91666760cf3ff463618302fd,c0a44bf37d5601228051fc07852f951f,delivered,2017-03-21 19:25:22,20170321,201703,2017,3,Mar,21,1,Tue,19,Night,5.0,-15.0,1.0,1.0,1.0,29.9,14.52,48.561873
4623,d61b915b69851aec8a8865f36cfd793e,102fc0966044243157bb81e4ee0a251e,delivered,2017-03-21 19:25:23,20170321,201703,2017,3,Mar,21,1,Tue,19,Night,6.0,-10.0,1.0,1.0,1.0,69.9,11.88,16.995708

In [ ]:
df_order_items[df_order_items['order_id'].isin(oid)]

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
44076,64307ceb91666760cf3ff463618302fd,1,60d49071f68566b7254c39a7d4ea5c1c,d66c305afaec317ebee552073a674429,2017-03-27 19:25:22,29.9,14.52
94424,d61b915b69851aec8a8865f36cfd793e,1,48ee9be392f28ae3a64518a070f4d06a,4a3ca9315b744ce9f8e9374361493884,2017-03-27 19:25:23,69.9,11.88

In [259]:
re_order_customers[re_order_customers['is_re_order']==True].count() #--> 재 주문한 고객 수

customer_unique_id       2088
order_count              2088
total_order_id           2088
total_order_timestamp    2088
real_order_count         2088
is_re_order              2088
dtype: int64

In [260]:
re_order_customers[re_order_customers['is_re_order']==True]['order_count'].sum() - 2088 #--> 오차 포함 재주문 건수

2394

In [261]:
re_order_customers[re_order_customers['is_re_order']==True]['real_order_count'].sum() - 2088 #--> 실제 재주문 건수

2313

- －__재구매 반영__

	- `order_customer_info`에서 'order_id' 주문이 재주문인지 아닌지 반영한다.
	
	- `order_items_info`에도 'order_id' 주문이 재주문인지 아닌지 반영한다.

In [295]:
re_order = re_order_customers[re_order_customers['is_re_order']==True]
re_order.reset_index(drop=True, inplace=True)
re_order

,customer_unique_id,order_count,total_order_id,total_order_timestamp,real_order_count,is_re_order
0,004288347e5e88a27ded2bb23747066c,2,"a61d617fbe5bd006e40d3a0988fc844b, 08204559bebd...","2017-07-27 14:13:03, 2018-01-14 07:36:54",2,True
1,004b45ec5c64187465168251cd1c9c2f,2,"90ae229a4addcfead792e2564554f09c, 9392c5e72885...","2017-09-01 12:11:23, 2018-05-26 19:42:48",2,True
2,00a39521eb40f7012db50455bf083460,2,"7d32c87acba91ed87ebd98310fe1c54d, cea3e6c11eb6...","2018-05-23 20:14:21, 2018-06-03 10:12:57",2,True
3,011575986092c30523ecb71ff10cb473,2,"0f28d51fdd4828907bdc58b57f672e84, ed0a6265b5b0...","2018-02-17 15:54:49, 2018-04-18 21:58:08",2,True
4,011b4adcd54683b480c4d841250a987f,2,"f05a68aaa0d8f89e758c7134d53fa22a, 93b35affb864...","2017-08-22 12:51:29, 2018-02-15 11:40:57",2,True
...,...,...,...,...,...,...
2083,fe81bb32c243a86b2f86fbf053fe6140,5,"f3e4f61152aed686fbbb83e794cc246d, 4b3c7f8318b0...","2017-10-22 11:29:22, 2017-10-31 16:20:25, 2018...",5,True
2084,fed519569d16e690df6f89cb99d4e682,2,"adcd0c83cc5c1885f8dfcf0f9db19481, 169dbd59d432...","2017-12-20 19:10:19, 2018-03-18 21:51:49",2,True
2085,ff03923ad1eb9e32304deb7f9b2a45c9,2,"1d87599144fe1573be8611bf9f5d5de9, df52ca783038...","2018-04-23 21:49:49, 2018-05-26 11:51:22",2,True
2086,ff8892f7c26aa0446da53d01b18df463,2,"cb6e8d89049744886ad04520d5e0b2f6, 1c308eca3f33...","2017-05-24 16:09:14, 2017-11-26 23:25:43",2,True
2087,ff922bdd6bafcdf99cb90d7f39cea5b3,3,"fd216c435fda2be27c92920a5e5dba82, 5f79e2da24a5...","2017-02-22 12:26:42, 2017-08-23 13:15:29, 2017...",3,True

In [298]:
re_order_id = [] #--> 재구매에 해당하는 'order_id'를 가져온다.

def get_re_order_id(row):
    oid_list = row['total_order_id'].split(", ")
    dt_list = [pd.to_datetime(d) for d in str(row['total_order_timestamp']).split(', ')]
    # print(oid_list, dt_list, dt_list.index(dt_list[1]))
    
    for idx in range(0, len(dt_list)-1):
        time_delta = (dt_list[idx+1] - dt_list[idx])
        diff_hours = (time_delta.days * 24) + (time_delta.seconds // 3600)
        if diff_hours > 12: 
            re_order_id.append(oid_list[idx+1])

re_order.apply(get_re_order_id, axis=1)
re_order_id, len(re_order_id)

(['08204559bebd39e09ee52dcb56d8faa2',
  '9392c5e72885ad5aba87e6223ca9838d',
  'cea3e6c11eb60acb9d8d4d51694832f8',
  'ed0a6265b5b0a292cd537214f401f1fc',
  '93b35affb86435b71ca01a6dd1eab2b1',
  'e49d0607832db7c3b1343764225d8df6',
  '207258d556f9b9784b54de837ae49286',
  '00cee8a4dbb042385cbbd84699e78b2e',
  '9eead354475b8b8fde3811f26b2599fc',
  '48d9d778ca005971949d2ccad7e99d70',
  '94ca38619d7e64f94facac403a99682d',
  'ce8d55aa1c206156fde37e062c716ea2',
  '633bd8dd4d19125b69aeee2526f79779',
  '6e7e9fd0c7c9256e1119cbb95fd12bce',
  '81a9ef6a0791099bb5859d0104f94dc9',
  '9cf677fc6e42f8256b310109fe5f2333',
  'ad1b9aae3e8a03190849a015fd26429a',
  '5402a5595f574c530adc86dc28a8050e',
  '457dbdc9e1ced1274472af8b6fd00be8',
  'eb7df5ec433a5660c84c3a2e1bce192d',
  'cee43113ca0a71b50e899098ec4c5911',
  '6a843358bc668f6e6b3c4b13de5e1b33',
  'b36d9c84b0033e4366759f851db473a8',
  '93cd78e1b92970d2a7e7251057f85153',
  '192162688f179d526243e303ed01abe6',
  '3eae7531a136877d61e1aaea2684fcea',
  '62a86eeeb3310889c048224de16767e5',
  'b61519b912ded530fcb3fcc9103fcff2',
  'e67084522c92fecab73ff064333c4d62',
  'a60e21c021af3e8b42bf68b8683800ac',
  '7f2f81a366f89b37109845799fc5bbf3',
  '8df8c3199fb229a1472b0a47e3b106ae',
  'a1b21ec2261790512fee2636be05ae42',
  'e02dc68ec812b53123f583c142466f0f',
  'aeedca46099933fd8fd182a71b4f22c7',
  'e95da0c5222e85d118b3d1d3c7dba675',
  '1078cee780187c1672d97d4ebfb4cc2e',
  '8863958cd300b0b2cfb1b8db3326dd38',
  '913bdd24d2b82e7c7448df845b0cc62d',
  'a6055e208086fe169c0a0f191b43445c',
  '5a32dae759e50279bf8e1b2be65edd27',
  'c671f90758b4e249a77ccaf0726e2fba',
  '73fe3ec6e789782281c550a9349e0edd',
  'ba9010430233c7f3cfea464354fed620',
  '8ee6bf77ff42839762f8907348ea50a6',
  '933b44007775d08defe992a330429cbb',
  '57d94aaa6b72ca15b3e4801c6d5c0959',
  '27716fa717ba13da31a469018472088d',
  '04164ec24abde688d0451ee982797344',
  'd10471750e335e783fff1bc755988a86',
  '4f08325d27e2eb6a5a4c5f4f94e59e07',
  '1349d7f4ec671ded42f2360828965692',
  'e3c67a4bac0845d3ae12bb4ba0c667f9',
  '96579b3ca52d82b041b4fc2be5ffb7a9',
  'ef32bb24f4e81a29a305e5285c8d3d34',
  '4671212f0e4f559c957baffa7a97aec5',
  '5bd66069fada7fd89c98b9a329d9737c',
  '752829804c0080d1b395f5c9e8801e39',
  '64aea51c84f7779855364184e8ce95f1',
  'e91f4cb0413a13fbdb115fa44b588404',
  '51ebb2c24714952a8ee7f24d4b90ebbc',
  '1feca64d75daa682ce3174a1eff73d8b',
  '4c966c07e48f5460c75f69d0352a61be',
  'f7096fe5a9e5f6419f1db02fbb378513',
  '8f6dccb4b483eca3ba0237c1db35fd0c',
  '95287574a39117622fd74f06cadf5eae',
  '96dad13c399dce9663d3bd03e84cea2b',
  'f79d2206d0301d47bc2a623636ea53d1',
  '1342ab50383d7471a3bfd75ca93d38d6',
  'b461e43868116fb81d1d91959ae5ea65',
  'd44d3aabe5fd82754ca3b4696cdc90e7',
  '9d9d6000cf3720974ab8da03bcc741c2',
  '2db42ea65de6f21be729a6671b074a4b',
  '54f53e031329f69ca101726cac52f86b',
  'e5733d96d53e3a8a13f59a0fe4c38d74',
  'e82814bcbe40982225e142717ff99d69',
  'aa9f3738c923b9391c7e9c59eda6aad4',
  'fe9d34568d9ac7651ff018def29da70f',
  'ee64d42b8cf066f35eac1cf57de1aa85',
  '22fe4109ea0b3227fa3a2f5370ec9691',
  'a48276e53f3d5d19890051a4f166a71a',
  'f49196a3b79948c69b3cf03a6ce9646c',
  'f3e7fae1e0a6001047deeefa288f96a9',
  'e842dc26adcaa67fb96f4e32c2cf97cc',
  'e3bab59cbada81d5a3df124e0a95442e',
  '4d3bf07ef40875871c01c931d3755940',
  '383730d8be253fb34891920a417f2861',
  '9142a3c29501af1e90aa7eea2a6949b3',
  '73628c6d02ed8f6134d9752cd7b83c2a',
  'c1f0e475378c6500b5907a2134bda1da',
  'a0a7acfccad3bda2ede93beeaeaac876',
  '33b85e6449a3f1684051b4a02f871871',
  'ca0400dec2c292340c373e63b1c2c597',
  'b8ed89bd3f1fe72244f0f616acdc7da1',
  '147941b96e61a2e7c02be8bf27b4cca1',
  'b9a466084b46a9b6c6bbbfc102a6aa56',
  '4af6ca2a69957cdc073ddf26d1900ddb',
  '18448ffe871a865ac41ace28ce8e5079',
  'bb009fab515024781676004c4924f54d',
  '23d2b40718f8b1693ff67644c21d9f70',
  '24b1c4d88fdb7a2dc87f8ecc7d8f47f1',
  '11302d4542ca6da5b505416f9e04f0a8',
  'b4eeb5f8b01e30cfea0247dfbee0d054',
  'b2673ed6360dc341a4728dbd632f935b',
  '6fc020b0ec995fb761ee385f34df5a6a',
  '723ac9c5a1b83772c9e9cdfe4d94f5fc',
  '1fb395f38b15b8e1e14824c7d95e9a92',
  'c6f64ddfd9a519815891070106aa9543',
  '581b53cbadd804220b785d243c6b0ccd',
  '0b691ae66d643c4c266fd72bd6ce77ce',
  'd2d9d607f76c92a3c0c85626e59b04ad',
  '7bb5a7e4263888da1c8db8cbdc6330c5',
  '23cb56e66a2abb69511896a6aef2aa67',
  'c7cfea0c153e6382e32e84c2a9dd7d2e',
  '0e48ca107de4291a6f7536b4f5cf512e',
  '6b512d6dbced14a60725ffbc129d4e29',
  '3cb894b9d2fb0fa0ba040e556b246c07',
  '943dc313319b98a46f1aa70d59b68715',
  '892b015e3a78c1b2fa5449f09af3df7b',
  '00b7174ea52bb811ebe2663add51afc0',
  '74174e09b0021ebfcb7b5e9d115910b6',
  'f9d9904f1f957c0fd0bf82dc3568936b',
  'e5e7f892785fbe21a339bcd77efdae86',
  '1fc147ecded099d8acf876cfaf66f731',
  '60ca761c522b32f4c47465e3ab5c5b8c',
  'fa9832914e7afeaf41fc9fbda5ca335f',
  '55d599a99424bf5a0293a84f8f65a13f',
  '21af06c81b813d390e6f5df558fdbc3c',
  '803aa4666b8c108ee27e65f64ad038fc',
  '1607aa1dabb96d104838f96ccb72f225',
  '4e7994addb0e4622199601af5b9c9ed3',
  '181ff95f97fee531c4afa9e882186f18',
  '9b21580d9a140962daa66b493fa50248',
  '8ad3ff8de0c9473f99616e4dd7bfe7fb',
  '25989a7e7af41df0616109b8776aa0f7',
  '61ad7ff8f7855f070f278ff8412622a8',
  '7efa8c532a0dd4aa1027b9b6d21d993c',
  'd318b798f415b925411c4b1158c2ca9a',
  '55f72a4c8e4ca95e4ffdd60cbbec8c68',
  'e0e83bdc2be394626d0f9177dcde0889',
  'aad7d7dacb681055d348e02842f0590b',
  '8109255ed5f9ea90f254fa8c5d80bde0',
  'e91e4fa5f881fa870e71c30c2c1921d5',
  '47c3ce4efeeff5eae692f5d31ef009e3',
  'c1eae222313b3a7eac740761313cbd27',
  '478f37d7f0b12816126177f6d325380b',
  '3064071cf67a2cc381cd53b13055eac5',
  '883b467852944646af1b7eff7c0f5d35',
  '8a089e8bded26bb207aa04ad5791f91d',
  '3e08aa33483ffe505b5de4748dc70c7f',
  '06be8b2c2a6e818814aa5416c3512ca3',
  '8f0f01a6b1970e8f3c336a6b93b96d9c',
  '6543c9fd7bfbf8a31d844a1523b6f04d',
  '058af2b14bd6831bf3350cc96b0f4822',
  'fd732412d4727a9a7e0d6231b2ca11ed',
  '88b59e460a4c71c9cb07132bc7546161',
  'd7ae3c10c3a4c7a721e64ba401ee745b',
  '79847bdf9821dfcc7a036271d0c6044b',
  '7fadb5fea409b4722158492cd408177c',
  '987cfe3348684fc007a1e9a4825eadb4',
  '05426618bfbb87e04fdd3a60a5bfef38',
  '5e8632a278dbe421d1c5d75e542dfffb',
  '657db8ff40cea3fd850bed1681373336',
  '89035fb6f9ed1693ad716ef81c18cdb2',
  '7c952ad04bbf75547b59e530fa2a30d3',
  'bb03daf7fc738a6fce908d083fd0f4aa',
  'b16a844a8a1b4998e1505f65a65d1e6a',
  '145c086f0f81f9801a8acbb2c514644c',
  'c820d5fbb72e2b0a48074c0f7f08a295',
  '9be1be195202b44bbdfb04466c070e76',
  '706b9cbda5d9ac137f8b484774d4c2a9',
  'bda372c8f4f99cac883f9f8462f5fdfd',
  '481bba01f1c9a6070e8bdcaf7965b1e0',
  '612d5630822f4796875619b3a6a7b481',
  '7f8d9a73c2b510f9627ac02f1a79c789',
  '5f7363eba95d6b80c0b0d44e53193e0b',
  '1c1d7c04efff33ea9ebb71907b576f50',
  'e5f48c85f53cb4d3f36b6cca32673337',
  'f66a5fefcb2773c75713ad0742801b50',
  'a236ae70310b60403c3adac81f96d5e6',
  'ead42f8f41e34c480a4a9185ab74b37e',
  '6be7d999fa8bac782218f8e6281ff562',
  'e409123d7599a3a34c467521576b05fb',
  '6315b62d5cf138a8702ecfac17bb38d9',
  'fdd770b5f85e6ce0b1b549e331d424f5',
  '97190f1266ff922bc8bab1fde79fbec0',
  '9760a853206ee0cabbd18c7449b4edb2',
  '21c9e1884faf91f5fc65224d92b2ef83',
  'a4cadd13645cb16e2e4252ee2e39dd80',
  '64be1ceac437f2eed73e5b001d190e97',
  '7b80eb102c74259844e5a4fc17cc7c26',
  'cc989a89a90abba764e86887625e7e26',
  '12b2eb7fee1eb7a195452bf2eff4028f',
  'e6d1b2275402fa4946ee8a3d37712c93',
  '3ae5cb75e3aaf3d9e99637e6c07032e0',
  '916d528035e91b8200b31e89ea89bef9',
  '41d12841c459809ff4d25ee0c8313de2',
  'e15c9f222bbdc4bf1d94606407787134',
  '8e573d30402e9b57443d6dd90ab0262f',
  'f63731e821c4ff4415d1b434cff51884',
  'a8e71f90cc64f1bb855f48a020bb463a',
  '405681d4d6342114f04f4e25f4d90068',
  '21a550eeac28a30d4b59a0fd91c9cc8d',
  'f6a62f93fc38410844863ed6a061f425',
  '0368b1d608cf0cc5246c6110754d8fee',
  'f1a325f15bbf16509adf17167330a905',
  '50a27906921dc9ef4b7afa6cdb04649b',
  '434eed8762b5d851fc7ce3bcee924dc0',
  '53065082f5bfbc7a503dfb55ed57310a',
  '153a49ded28e0fe861f537fc2b881f93',
  'a8cf8e962c524adf2aaedc5a876d0ab6',
  '46077eef0ad2e1103cd2970326b3712b',
  'c94206a6d6698d5852b7e9e14bdc2e79',
  '15c2d2803c9a7a4ba8f528a65814848d',
  '8dd77e1eb85a144a90a50d1a813bf84a',
  'd1036b47b42a66f67a5c1b350697ee26',
  '878deac45277a6693260658cbce58cf2',
  'bf19011f60f7f394faf33366baf9fa16',
  '28d2a5cfa6ad3fed5f73c66dca690d22',
  '7a0698ce87fc4cd3e171e7361f0bc0b5',
  'ee2f74bd4af6f0a1995488fbd5c978ec',
  '18bafb91a9e78b83e54eb5aa495a955f',
  '9b897ee284874f0bfc0174e53c8ebcfb',
  '27fd0c263b9d38e9cb2c2d07fc0c706e',
  '82f29ec26f706651b906acc60ba4ab72',
  '07120a6d39e99f6aec742cfa39ab4cac',
  '1877896ffdee42ba8ea0d397fb9ece25',
  '28ff0422d12a02fb62ae4c9f9e9317f3',
  'dd50addabe54a9c924c82e73c4daac41',
  'e033b92740c7c25bcd01a8bf92a51f32',
  'b69321fb7d3000994c5a2b55c4f3cb01',
  '89d6544684b9cbacd492feb38abe4fe7',
  'c7436c65f20daf8cd6e18c35a97867c7',
  '4d8660f18113eab64ba09d4eb4aa9ddf',
  'd06755faae98d8d12f395a11570f10ec',
  'bc14a141bbb47b18a33d0a1747cab119',
  '0bd92af478239fae08847d13e9fd8617',
  'd891fcff7f5720b6a87ecd0a3dbf0c27',
  'ddb860efe17d6082630b99db1200b1c0',
  '8336334036e8b201a6013cebe4ef9d07',
  '7f8627b25121727150b46207617a168a',
  '719a96d91d44ae214ba638b02db33331',
  '54f334d6a9d60b69dae5409327f73645',
  'a8347ba04591f966205182a1c99c310e',
  'ab6d1b0b8360c208b62852f53726f0e6',
  '75b71f40b3c71469d12c7e4dc2ce0794',
  '43f08913407cac4e74a898d968e58c1a',
  '92c15142e314731cebdb5b1cd25962ac',
  '129832042bc2898155b5ebf3b2058585',
  '160d74cf0db2353522f973654509d5a7',
  '1daef9cebfe701d5500c5ce43a271165',
  '87440684f2020256690b3267299053f6',
  '32805b94a882eabc129b1d2fd5bd2dfa',
  '20ff9b4b339b20ef47cfcda736a17a52',
  'a68b3ae8450a14f9ba0cc1b53574af62',
  'ff96ea4ad10c612930198ecb923eb7a9',
  '7237d14c846f1436c907372891468fd2',
  '4a359800ff0688de3eabc92972987238',
  'a610609ae68611c8fdb97f1002636127',
  'b33ba27bcc778a34f2d46f4138302b14',
  '2fd1f537efecf73f84bc7c24d966cff8',
  'aeb656e39cc0a83dd545f079f099d7e7',
  'ef6ab439f4c596638239ac71cf5fb391',
  'ac1e2ddaa8a97a982f9e3bf625bca0b0',
  '5a97cb85d8737c11775451e5bcf67286',
  '8cf69b251bfcd650555347d7752a3625',
  'b1ce066aa23dcefeebf1950f0da07bc7',
  '30f5bfc25003d29ee5207083263d3ee6',
  '749b689efad761f8c94941fa3adfb702',
  'a129b99db0bdcd92c62d71279de0670c',
  '93240f6a90ae9889c692787235e66a0c',
  'ce399271de0275f62753cadf440e3012',
  '82e4be23c247d0fe56f0fb757a26ccd4',
  'e2a13826bfe262528a6755b2d38e9d5c',
  '26227999b191329fe62cd797aede5270',
  '00c42b1633c1b2fa4e937bf312466561',
  'e894c57e9986a9c5936b17fe19400a6a',
  '0711b9c575a5235790c3f863179c3267',
  '9fdf7b5e959065e5c0d14fbc37b751d3',
  '092ae7e7141e3d69ecd0935d97e14fd9',
  '23a801ab5586a70d6f7a4cd5885d3060',
  'ef71061bdf8dc442c060d4f0d8266a2d',
  'f3f3b27cca7955c784c143b5886558d3',
  '1235febb7f139ccf94d83ff97ae8e889',
  '8cbb6ada60ae90f4d6f76d2a7bb5e085',
  'ae3ed4faf84063e2cb305bc99cacf219',
  '66aef8b9776b9fbfb4ccebc6f3d984bb',
  '3b2869c5b6a037cf731d70ac76d0fea7',
  '0494f6deee34c3bcc09e66f364b0e5a4',
  '8c2b7afd2cfc8fe9a8570263718ad09b',
  'acee82e21828ddd887e48ad3afc6704e',
  '05547569f5543318997d30464eeb74e7',
  '58346246ea802a21cb34124ed2326770',
  '0edefae02733735c88d242ce6b781802',
  'c79d8859e60196e652856a5f2dd27da5',
  'e21bb5b2af087339bd3614d77a0053a1',
  '686bfd58da52593419e1201d773af6d2',
  '656c5942e852b20473ae268796549007',
  '647435133861948067a0b68eb68b4357',
  'a8f412e6559ed350a64d8b9f2ecbcc84',
  '694ac1d9660a7c3c610c379eb240360b',
  '8f491cf3fabf128822544c78d73acfc3',
  '77fe12305bf8924a5cce7caf4bee2c4c',
  'a79e71cf3a8c8b52b0fe82c772927688',
  '83a8c8477a4beb1799eeff411ab29c0b',
  'cb34150c7912c6a848be6a756d4e97b3',
  '2783cfcf916c2cef168f19a7a2e45e45',
  'de4acd78231cc999a22fdba3a4dd348d',
  '4708b6cbf7e34b7dbf3f7b75d6bfbd00',
  '23fecfa4bb4a22fea354fcab23bcf1cc',
  'e4d119e7381ee6074eb45934cad67286',
  '552dee1afe356f3a07f118a9d0741b53',
  'c91e35b238a6f290a0ab89a40287fc40',
  'c7af2f59ff42f4410a1739111dbea489',
  'c28678c5474dd180becafdd64fddac7d',
  '553fee3c21ab4328508c8e467806613e',
  '54ac5ed66a8b2c74a3878d90d805f367',
  'b196564f2fd79a80ab1b31dd8ba4e4fb',
  '23f99f3d6a5974cd50c00ebb3d6540a1',
  '3ab7017ae596ec8fae78b7232580a0a8',
  '5cbc4966cc894d0b1ad64e7747264335',
  '02e405aa2667a116637cdb4affaf93c0',
  '1f1eea532cdd1978a4a9438a5373ebca',
  '10ce8dab3f76d4cdd5dd2e9c6d5c3feb',
  '10cb203e7598cb11350267c0600fc00d',
  '5235298169aca42202c801a309b63c37',
  'cb4591b9a09b86b55be10a9ea234de8c',
  '5d52a189aad255c960953d7d5d1aa7dc',
  '75d4b0b71e66d09b6070bd54c61e20fd',
  '4eb514337231826065b55177f5f9e267',
  '54623479e83b4d90c3a3087c34a95187',
  'bb5ce7970b8f80016d81488da88bd924',
  'fe0b24305fde3889fdd0d23abaa7e52a',
  '11b33f091608b48c86184dcfd339dc9e',
  '7885086b880b3ab7e8be74bbbe05779e',
  'cd2457140ff84327d7d7030053b80fce',
  '5870c61c60ceece3d575eecb68252abe',
  '70ecbe22c2346dd38085cba820c9c462',
  '616f3163d12cbaf681d34413542802bd',
  '3568ebea6d5338487cf9c64e9f59abfe',
  '1e7b55dfee29c0ed7edb54c8cfeaf244',
  '19ed81a2cfda88a47b2d66b801fc22e8',
  '02a98752595ee9d94c570ad3e18055b4',
  '318160e821f4c754080f46f95afc1ded',
  'c92ad65cfc1951e1be667976a90d49ea',
  '71c04eba03595f13adc87878455ffa92',
  'a51972957a794d949aa4f39ca52249fc',
  '8a27647dc5f71b1eda4620983e89334c',
  'b96c09813df649f724999478074019ff',
  'e2747b7f8ef2d891fc5c127dc44c68b5',
  '6d2a7ba931fe7a8117fc382e5946832d',
  'd4d140e1cbc20856440a8343432848c4',
  'dc7be13b2ee660f092e641982b4dfb69',
  '0c01f50d13b63f9c7a1f073f51a45548',
  '2942d87f97c462f2c402070d7e2c1882',
  'b5354d8d292a97bc23838762d5c4bcc6',
  'd8548c48e1580222bda2c86c47ce10cd',
  '7c0c61f5d61aad026c439caf370a92f2',
  'f488ec10381a645d100c8e7ad0c6eab4',
  'cf5e115a19c54f0457aa4c00fb88ae63',
  '00c9d0257381c7e9ec13b4505f25b2cf',
  'eb4bfa31c0d54df31280baa9f95e4e78',
  '4415361bddc6491e81dff0a462283bb7',
  '23e1bad4a8ef314a7fe34fa71082d429',
  '6f7c4d0e0bfea3787bfa435c00423420',
  '87980ebda651df2ddec79138c0366d96',
  'd85ce9b0e10e08627fdc72bedcf4cde3',
  'b325a4afad33f2c09ba50df161457bdc',
  '6066c3889ab8affd2c01906b2d3b943c',
  'b7efe64319f69973a0924eb8e7a1ed3e',
  'b6007bc0214a24634dff19daab40bf21',
  '0c6a2732270e3f0f66bd73dbde93b59e',
  'a9d8070e7b21efa5414c183c918eb4d3',
  '6ca5c63fb52f32ccf5309fddb636c3a8',
  '878d8b6c3b9905f2eb5fe9d390c4c7db',
  '8d8643b7344d206920590efda8cc5cb7',
  '6051e6d3da9a50b7325cbe9c81025062',
  'db68ee136b9cb2c16d74fa11a7395e5d',
  'aff32ddeb1d4fcd7baa9d10d9b5941eb',
  'c2fe2f550416c0b36bad93166e4d2d1a',
  'cc9c27c90afa88462b4d852d81b367fc',
  '9eefad52e5b37dc3e94fc823d63057b5',
  'ad15d9b5c97ecfcbdffbd8148ef3e0a1',
  '9f67054716b5806d7ecb46b0f309e5c3',
  'c9577dccdc314ce381822a54b1eaf22d',
  '9e1c6d5149a241963c2e3a2ddaba98a1',
  '1b1f5c0333fae3e7b4b4670d2cc3c0ac',
  '16de740155e4e909578bd90826a632c1',
  'bfff22b563631e997a4a22dd4b87abc2',
  '3abdde0fd88e73a0651b9f90b6e553f5',
  'b7d132ccaa4a7e53c9fb25ff9979fc35',
  'd7bf53fc0c235f32fd61f11e6cc99a2a',
  'bd097e5fba6d060c0adb69b8865b1dfe',
  '1662797f04736ea5acb5de67d5672fcc',
  '7ed696782f4472458c5f1fc95bf5d6ed',
  '9b41711934b43494976d4412d62deb1a',
  '20c4ac55ded9c34a63cbf3e1f570afa4',
  '9230c8324320aabb46dcfbc11da845aa',
  '06cd9d207dfbdde70cff4074b5b3dfaf',
  'dd7e0efbe1cde6192eff0ea57a7b2888',
  '01bae920aea13b891b50bc1543634a65',
  '4035b52134bcb1bdaf305b4671495372',
  '2b41a3b768bdb66c8a67b20623aaaf78',
  'dace8fef361782cc885129d17c2df11f',
  '80742a986710e5cda30966b8d3f1ab96',
  '7596db1ba623b5cb1727772fc9bf8440',
  'ee044ff2777c49a97d4be749aa8e24bb',
  '1a8d9ee4ef14ca8feb96e914f51b9397',
  'eb4c34f6c71f98b594e9df32d8e3c851',
  'af95d7a4f9643401325ec89b4f7f8afe',
  '7f081049d243d9a51d4235dfc310a73f',
  'ad55129ee505d7099cfa6fa9050bdec6',
  '4e839b1ce670c701bd83a9d9aeb58969',
  '6d1941372f0503efc3953bd3b24bb512',
  '6dd108d9c1d54a07eeb03602befafd7a',
  'f2a9a390ab5775c0fddbb8e49ae95614',
  'ca70cf8792727da384ba1b6e384cfbf6',
  '88791555f9832d0bee1f87f2074392ef',
  'fb76ca91d6aa4a18429f91a8991355c9',
  '57faaa762a71e0603439c7a742527524',
  '2f66b4903890f8fcc8bccfd80510dae9',
  '2b7737f7accfb9e2ee360963a202eaf3',
  'd4113b34b5912aa49875798a65d88613',
  'f049e19134a95d09c806851a5ea1872e',
  '0ef7521d9d7e51a822826d40be82fe1d',
  '88981e5b92eb0fc6291a66ce7b892029',
  'f8bbf6bc03d0fb7a5a78e3dadea9f278',
  '6e1d72c49d6aa8e6a4c5670c6ae13c72',
  '8b6746478f6b44e7b76097d1c2f4dbe6',
  '51cd5fcee08447be92f8eb9852235f45',
  'aadd5a22c7d1dd16b1fe905a302d70e2',
  '612d140e314dab491efb33ec8219c2ee',
  '5a42abf0eee65d3a1e361aa49561a521',
  '7955751dd5fe4fe14b9e9a89fa14e917',
  '02875e2e1d01d7a1533215fb97510b06',
  '9f5bd892aa4c461b116e5c163f16b40a',
  '09ba762d7b29d3771a788d7d039159fa',
  '17a9b6c2934cd7dbb1d08626843da4c4',
  'f4b56fe7668e96ac977ad7bb6471bacb',
  '2fc9faf8c6b3ffe951029b8bae263bb6',
  '4e285df63acf5fe19cbb76253626fe8d',
  '04492e6b1fcee5317506f927e0e89eb2',
  '5c617dfa96b6fe84f28fcb382042b3a3',
  '6bdf9b89e5c81ead45dbc0a260dfbf13',
  '457a53571ce58184246a9e382fe8512e',
  'afbe0c76e58378669c3924e11182b02c',
  'c7a7c97d430f40628efc0f1e41f723b1',
  'adbbe31eab3ec8799e71b8fd89956464',
  'b26e3810d22f6c580f65bba31809c43a',
  '8f003b284055ebd824f3f4b259a49045',
  'f0ad6b89b7bb4a740b8121a4a69511fc',
  '1cf4be6f1eeda2457a333fde5abf39fb',
  '30ae6774935cd2a70fa74306f407495b',
  'ebf144597fc5b016fb405d0fea5c9e2d',
  '2fbaa53206d7c894eb7fd3a28d5d5592',
  '7a778b7745be3f801b6bdbd8d54da6fe',
  '5c65f6e8b3825aeb9c088dc89edec2e5',
  'c99a7c5ad6561092e099cf71868b4e78',
  '2fd592f3553f88b7489e09179c93f261',
  'bd1e1a304d04fa76626646f8efa12f77',
  '1e80bd664bc120ddf4d789b7b9455e14',
  '710d9b541d2ae52ef56ef33f5e1b795c',
  'a794d432d0990aa47220cda510a0a872',
  '7df620c5efd94b149ee17db0a48e4916',
  '41467837b8621b5014b5a91e78ab3747',
  'e96c4302510359c340adad478ba16cb0',
  'af1ffd059ac0a5f3996b4fe6c2863116',
  'e8a2fe3e5e58d8ed9080188f35c108ef',
  '45acb6840b062e10dd63454b19ce5212',
  'dcc97daebf3b61efe164a8e507c677d1',
  '136d740adc5aa0d3ad07f279eeb5b665',
  '1b18059100e6796d8551306a1876fc09',
  'b18f96d97651133bd9a491945fa1d3bd',
  '371108e902be11a7d9b8ce66a1893241',
  '071773cf1c4d6c91cce83af65b9f8fff',
  '29eb6d873f1087b4afd226c0abc162a4',
  '4e53579c0738eca6994241ff0b474dec',
  '123a6b2b8763ca40782c8252e63fdbca',
  '277f0bb8cf28ee39feee7825b5578c34',
  'd18585adacf5dc420841dfb67243a224',
  '9bd1b16f0da3ab4e8407a76b1d97be22',
  'e94197623546186601aa880a31269468',
  'abbfe78fd05873101e792fa04bbad963',
  '0095790a64527ec83aeaaf99023c050e',
  'a383762bd79949e1b34878460042cd23',
  '6741e21a24361b07f30063eec3897b37',
  '0baad26e1a67410a85b2b38558dade2f',
  '032de52b21013e176ee997c8f210dd66',
  'a7f8e3b5e7e9f480a27e2f410e560e16',
  '7c191e583fc264b819bc71653e4fc229',
  '003a7f59d7e08a9c61d9e2881fe6459c',
  'ba70bbb6a514786b8ad805f1c2fb1f34',
  '9a3492f3f18d2b5cf77e8ce369f84d80',
  'a862fe780f3ed3292f7835882aad00b3',
  '8e80c9ae33f2cff714311666eb2e71b1',
  'd6be19fade8df35d46c377eaeb737f67',
  '357699224271146ddda4a57375993805',
  '1f128a92fab0cad4a98cd61be2793d42',
  '084051935208c688c8cd5fae3d15810d',
  'e0f9660f398f606fc4326973728ad4cd',
  '513e088b2c0d0279b2df18d115a0d39d',
  '47f5956f0545ab50be4333cf70997aec',
  '908e192e4db399ba3df7c844bbafa304',
  '275b46c1b462043f24768a0b168bc654',
  'ad5e4b37aefeac1f582990bd5f5097e8',
  'a3bb82a765bf828134959a50bdc5f8cc',
  'ddb0d201c7d2c8ce0e966d98128d16e9',
  '35b6b206735a826adef009d685f69b16',
  '4cc8845d2a687fdd3d47898857cecdfd',
  'a5b36a263c9692d52e2243b9ef05c6d6',
  '3a4e65de6ffd941f6a4ee824d472aabb',
  '8af5834451865606adcc31b165d6ae54',
  'd92197e1617b69200451debc2626c333',
  '5355341d3b3fe35edbd80e7c7898551f',
  'd7484d6207c35d75a99882ac7de536c3',
  '7ef1629063a04bbeadf9410dcf689ef2',
  'e96316295f9dac5e936626ee32d3b05b',
  '499e36ddc9a7c36dd44e2dcd43a76620',
  '34e63d1843fa8269ed932133c6b58a3f',
  'b8eaf5e9d1583c47190523695464e441',
  '1997d8e0fb0e3c1ffefac2b84bde7662',
  'be1f74dd8c9f6ab6066aa38f00c87d99',
  'c915a55221e61e2d798340ec6553d2b0',
  '8c7b47a875c412c4303eefc88e9d92c9',
  '2c494cef88b908df152b7d6d69c8beba',
  '66aac47537a2b6a195103fcd5690996d',

In [300]:
# order_customer_info에 반영

order_customer_info['is_re_order'] = False
order_customer_info

,order_id,purchase_timestamp,customer_id,customer_unique_id,customer_zip_code,customer_city,customer_state,customer_region,customer_lat,customer_lng,is_re_order
0,3b697a20d9e427646d92567910af6d57,2016-10-03 09:44:50,355077684019f7f60a031656bd7262b8,32ea3bdedab835c3aa6cb68ce66565ef,4106,sao paulo,SP,Southest,-23.581321,-46.635726,False
1,be5bc2f0da14d8071e2d45451ad119d9,2016-10-03 16:56:50,7ec40b22510fdbea1b08921dd39e63d8,2f64e403852e6893ae37485d5fcacdaf,98280,panambi,RS,South,-28.291275,-53.501401,False
2,a41c8759fbe7aab36ea07e038b2d4465,2016-10-03 21:13:36,6f989332712d3222b6571b1cf5b835ce,61db744d2f835035a5625b59350c6b63,90040,porto alegre,RS,South,-30.040958,-51.212970,False
3,d207cc272675637bfed0062edffd0818,2016-10-03 22:06:03,b8cf418e97ae795672d326288dfab7a7,8d3a54507421dbd2ce0a1d58046826e0,13185,hortolandia,SP,Southest,-22.894390,-47.173213,False
4,cd3b8574c82b42fc8129f6d502690c3e,2016-10-03 22:31:31,7812fcebfc5e8065d31e1bb5f0017dae,87776adb449c551e74c13fc34f036105,12030,taubate,SP,Southest,-23.032122,-45.569423,False
...,...,...,...,...,...,...,...,...,...,...,...
98808,52018484704db3661b98ce838612b507,2018-08-29 12:25:59,e450a297a7bc6839ceb0cf1a2377fa02,7a22d14aa3c3599238509ddca4b93b01,5863,sao paulo,SP,Southest,-23.678012,-46.765741,False
98809,0b223d92c27432930dfe407c6aea3041,2018-08-29 14:18:23,e60df9449653a95af4549bbfcb18a6eb,5c58de6fb80e93396e2f35642666b693,80045,curitiba,PR,South,-25.426558,-49.255263,False
98810,168626408cb32af0ffaf76711caae1dc,2018-08-29 14:18:28,6e353700bc7bcdf6ebc15d6de16d7002,7febafa06d9d8f232a900a2937f04338,38600,paracatu,MG,Southest,-17.223373,-46.875188,False
98811,03ef5dedbe7492bdae72eec50764c43f,2018-08-29 14:52:00,496630b6740bcca28fce9ba50d8a26ef,b701bebbdf478f5500348f03aff62121,9541,sao caetano do sul,SP,Southest,-23.620032,-46.564027,False
98812,35a972d7f8436f405b56e36add1a7140,2018-08-29 15:00:37,898b7fee99c4e42170ab69ba59be0a8b,24ac2b4327e25baf39f2119e4228976a,13483,limeira,SP,Southest,-22.561171,-47.447471,False

In [301]:
order_customer_info.loc[order_customer_info[order_customer_info['order_id'].isin(re_order_id)].index, 'is_re_order'] = True
order_customer_info[order_customer_info['is_re_order']==True]

,order_id,purchase_timestamp,customer_id,customer_unique_id,customer_zip_code,customer_city,customer_state,customer_region,customer_lat,customer_lng,is_re_order
160,835bf4777ad72891587719f1098e3528,2016-10-07 08:28:29,dbfc2fb6a9424037815a3a887c10be61,f7b62c75467e8ce080b201667cbbc274,9990,diadema,SP,Southest,-23.697404,-46.619808,True
301,ec7a019261fce44180373d45b442d78f,2017-01-05 11:56:06,c24fc5f9a446b4d8262041b9c64de772,f7b981e8a280e455ac3cbe0d5d171bd1,80030,curitiba,PR,South,-25.417200,-49.259469,True
634,51ceba3ba51d4b4543e7f78e181e0ba9,2017-01-23 13:31:26,e7659c6f9fc78ba546ee2b0615258589,a5d3bfee5b23b430b95c4ae295e1028a,13844,mogi-guacu,SP,Southest,-22.382440,-46.947605,True
1048,adbbe31eab3ec8799e71b8fd89956464,2017-01-31 12:01:46,40e86a3dad650ba87f73f66396ca34ef,325e19085f3017b73be3d9fd98a93301,32400,ibirite,MG,Southest,-20.022622,-44.059586,True
1595,ea8dfcfa112dd9df068022a643e58a22,2017-02-07 19:06:47,f783bb6d6728b05cb674fc6709a56302,a7bbfaf8a288c45dc38d4693535dd63f,14057,ribeirao preto,SP,Southest,-21.132518,-47.846466,True
...,...,...,...,...,...,...,...,...,...,...,...
98735,57d0641da97fead93c9541a7c3b1fc75,2018-08-27 17:18:42,06909593a3382d75b06bcde5c527ad59,d44f553a3663a6323c901cf1f0a47c87,8021,sao paulo,SP,Southest,-23.500115,-46.435075,True
98759,68dd7c23e8b6c1e5f3ad16be5dd4bdf6,2018-08-27 22:59:03,175f8430de932f744f8eebc3c680915e,41d57ab847e5ccbe403f46b07ee577d6,6716,cotia,SP,Southest,-23.605706,-46.898514,True
98770,b18f96d97651133bd9a491945fa1d3bd,2018-08-28 10:57:13,e342cc220c9ce03ad61939a23e6571fd,34b0cd95480e55c2a701293a2b9671b3,5171,sao paulo,SP,Southest,-23.478461,-46.748473,True
98793,d4fae577806d683110e00e18a5e181be,2018-08-28 19:32:05,49a6ae8a95c6a78d90945b983ab1ecfc,fb7e29c65321441231990afc201c1b14,4107,sao paulo,SP,Southest,-23.580546,-46.634568,True
98798,3064071cf67a2cc381cd53b13055eac5,2018-08-28 21:56:12,931bfab7036f6763dc1bdf6e2696e08b,1041688b50cfd8ef6df6086a1746a30c,25720,petropolis,RJ,Southest,-22.436879,-43.139746,True

In [302]:
# order_customer_info에 반영

order_items_info['is_re_order'] = False
order_items_info

,order_id,customer_id,order_status,purchase_timestamp,purchase_date,purchase_year_month,purchase_year,purchase_month,purchase_month_name,purchase_day,purchase_week_no,purchase_week_name,purchase_hour,purchase_time,actual_delivery_days,estimated_delta_days,item_count,product_count,seller_count,price,freight,f/p_ratio_%,is_re_order
0,3b697a20d9e427646d92567910af6d57,355077684019f7f60a031656bd7262b8,delivered,2016-10-03 09:44:50,20161003,201610,2016,10,Oct,3,0,Mon,9,Morning,23.0,-1.0,1.0,1.0,1.0,29.90,15.56,52.040134,False
1,be5bc2f0da14d8071e2d45451ad119d9,7ec40b22510fdbea1b08921dd39e63d8,delivered,2016-10-03 16:56:50,20161003,201610,2016,10,Oct,3,0,Mon,16,Afternoon,24.0,-11.0,1.0,1.0,1.0,21.90,17.19,78.493151,False
2,a41c8759fbe7aab36ea07e038b2d4465,6f989332712d3222b6571b1cf5b835ce,delivered,2016-10-03 21:13:36,20161003,201610,2016,10,Oct,3,0,Mon,21,Night,30.0,-26.0,1.0,1.0,1.0,36.49,17.24,47.245821,False
3,d207cc272675637bfed0062edffd0818,b8cf418e97ae795672d326288dfab7a7,delivered,2016-10-03 22:06:03,20161003,201610,2016,10,Oct,3,0,Mon,22,Night,27.0,-23.0,1.0,1.0,1.0,119.90,13.56,11.309425,False
4,cd3b8574c82b42fc8129f6d502690c3e,7812fcebfc5e8065d31e1bb5f0017dae,delivered,2016-10-03 22:31:31,20161003,201610,2016,10,Oct,3,0,Mon,22,Night,10.0,-40.0,1.0,1.0,1.0,29.99,10.96,36.545515,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98808,52018484704db3661b98ce838612b507,e450a297a7bc6839ceb0cf1a2377fa02,delivered,2018-08-29 12:25:59,20180829,201808,2018,8,Aug,29,2,Wed,12,Morning,1.0,-4.0,1.0,1.0,1.0,63.90,9.20,14.397496,False
98809,0b223d92c27432930dfe407c6aea3041,e60df9449653a95af4549bbfcb18a6eb,delivered,2018-08-29 14:18:23,20180829,201808,2018,8,Aug,29,2,Wed,14,Afternoon,1.0,-5.0,2.0,1.0,1.0,418.00,92.96,22.239234,False
98810,168626408cb32af0ffaf76711caae1dc,6e353700bc7bcdf6ebc15d6de16d7002,delivered,2018-08-29 14:18:28,20180829,201808,2018,8,Aug,29,2,Wed,14,Afternoon,1.0,-12.0,1.0,1.0,1.0,45.90,15.39,33.529412,False
98811,03ef5dedbe7492bdae72eec50764c43f,496630b6740bcca28fce9ba50d8a26ef,delivered,2018-08-29 14:52:00,20180829,201808,2018,8,Aug,29,2,Wed,14,Afternoon,1.0,-4.0,1.0,1.0,1.0,24.90,8.33,33.453815,False
98812,35a972d7f8436f405b56e36add1a7140,898b7fee99c4e42170ab69ba59be0a8b,delivered,2018-08-29 15:00:37,20180829,201808,2018,8,Aug,29,2,Wed,15,Afternoon,1.0,-6.0,1.0,1.0,1.0,84.99,8.76,10.307095,False

In [303]:
order_items_info.loc[order_items_info[order_items_info['order_id'].isin(re_order_id)].index, 'is_re_order'] = True
order_items_info[order_items_info['is_re_order']==True]

,order_id,customer_id,order_status,purchase_timestamp,purchase_date,purchase_year_month,purchase_year,purchase_month,purchase_month_name,purchase_day,purchase_week_no,purchase_week_name,purchase_hour,purchase_time,actual_delivery_days,estimated_delta_days,item_count,product_count,seller_count,price,freight,f/p_ratio_%,is_re_order
160,835bf4777ad72891587719f1098e3528,dbfc2fb6a9424037815a3a887c10be61,delivered,2016-10-07 08:28:29,20161007,201610,2016,10,Oct,7,4,Fri,8,Morning,7.0,-46.0,1.0,1.0,1.0,30.97,10.96,35.389086,True
301,ec7a019261fce44180373d45b442d78f,c24fc5f9a446b4d8262041b9c64de772,delivered,2017-01-05 11:56:06,20170105,201701,2017,1,Jan,5,3,Thu,11,Morning,6.0,-21.0,1.0,1.0,1.0,10.90,8.72,80.000000,True
634,51ceba3ba51d4b4543e7f78e181e0ba9,e7659c6f9fc78ba546ee2b0615258589,delivered,2017-01-23 13:31:26,20170123,201701,2017,1,Jan,23,0,Mon,13,Afternoon,7.0,-29.0,5.0,1.0,1.0,49.50,54.80,110.707071,True
1048,adbbe31eab3ec8799e71b8fd89956464,40e86a3dad650ba87f73f66396ca34ef,delivered,2017-01-31 12:01:46,20170131,201701,2017,1,Jan,31,1,Tue,12,Morning,8.0,-32.0,1.0,1.0,1.0,49.00,16.05,32.755102,True
1595,ea8dfcfa112dd9df068022a643e58a22,f783bb6d6728b05cb674fc6709a56302,delivered,2017-02-07 19:06:47,20170207,201702,2017,2,Feb,7,1,Tue,19,Night,9.0,-31.0,1.0,1.0,1.0,29.90,14.52,48.561873,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98735,57d0641da97fead93c9541a7c3b1fc75,06909593a3382d75b06bcde5c527ad59,delivered,2018-08-27 17:18:42,20180827,201808,2018,8,Aug,27,0,Mon,17,Afternoon,3.0,-1.0,1.0,1.0,1.0,106.90,8.91,8.334892,True
98759,68dd7c23e8b6c1e5f3ad16be5dd4bdf6,175f8430de932f744f8eebc3c680915e,delivered,2018-08-27 22:59:03,20180827,201808,2018,8,Aug,27,0,Mon,22,Night,1.0,-1.0,1.0,1.0,1.0,42.00,8.45,20.119048,True
98770,b18f96d97651133bd9a491945fa1d3bd,e342cc220c9ce03ad61939a23e6571fd,delivered,2018-08-28 10:57:13,20180828,201808,2018,8,Aug,28,1,Tue,10,Morning,2.0,-1.0,1.0,1.0,1.0,30.00,8.37,27.900000,True
98793,d4fae577806d683110e00e18a5e181be,49a6ae8a95c6a78d90945b983ab1ecfc,delivered,2018-08-28 19:32:05,20180828,201808,2018,8,Aug,28,1,Tue,19,Night,1.0,-13.0,4.0,2.0,2.0,103.69,35.73,34.458482,True
98798,3064071cf67a2cc381cd53b13055eac5,931bfab7036f6763dc1bdf6e2696e08b,delivered,2018-08-28 21:56:12,20180828,201808,2018,8,Aug,28,1,Tue,21,Night,1.0,-4.0,1.0,1.0,1.0,19.90,7.56,37.989950,True

### ◼ Olist Sellers

$~√$  판매자 ID와 위치 정보를 SQL query로 가져온다.

In [304]:
query = """
SELECT
	s.seller_id,
	s.seller_zip_code_prefix seller_zip_code,
	s.seller_city,
	s.seller_state,
	r.Region seller_region,
	g.geolocation_lat seller_lat,
	g.geolocation_lng seller_lng
FROM olist_sellers s
LEFT JOIN brazil_state_region r ON s.seller_state=r.State
LEFT JOIN olist_geolocation_region g ON s.seller_zip_code_prefix=g.geolocation_zip_code_prefix
"""

df_sellers = pd.read_sql(query, engine)
df_sellers

,seller_id,seller_zip_code,seller_city,seller_state,seller_region,seller_lat,seller_lng
0,00720abe85ba0859807595bbf045a33b,7070,guarulhos,SP,Southest,-23.451475,-46.557386
1,00ab3eff1b5192e5f1a63bcecfee11c8,4164,sao paulo,SP,Southest,-23.628937,-46.608186
2,00ee68308b45bc5e2660cd833c3f81cc,3333,sao paulo,SP,Southest,-23.556430,-46.568530
3,010543a62bd80aa422851e79a3bc7540,1212,sao paulo,SP,Southest,-23.537493,-46.639745
4,0249d282d911d23cb8b869ab49c99f53,5676,sao paulo,SP,Southest,-23.601384,-46.697738
...,...,...,...,...,...,...,...
3090,fdaaf5bfda82b7b80535610c831b8d09,15015,sao jose do rio preto,SP,Southest,-20.816648,-49.386547
3091,fdf736c18c589ed030e058312203e1b2,37704,pocos de caldas,MG,Southest,-21.792210,-46.551607
3092,fe2032dab1a61af8794248c8196565c9,13030,campinas,SP,Southest,-22.924930,-47.074294
3093,ffeee66ac5d5a62fe688b9d26f83f534,15130,mirassol,SP,Southest,-20.815284,-49.507466
3094,fffd5413c0700ac820c7069d66d98c89,13908,amparo,SP,Southest,-22.722793,-46.846086

In [305]:
df_sellers.isna().sum()

seller_id          0
seller_zip_code    0
seller_city        0
seller_state       0
seller_region      0
seller_lat         7
seller_lng         7
dtype: int64

In [331]:
df_sellers[df_sellers.duplicated()]

Empty DataFrame
Columns: [seller_id, seller_zip_code, seller_city, seller_state, seller_region, seller_lat, seller_lng]
Index: []

In [335]:
len(df_sellers['seller_id'].unique()), len(df_sellers['seller_zip_code'].unique()), \
len(df_sellers['seller_lat'].unique()), len(df_sellers['seller_lng'].unique())

(3095, 2246, 2240, 2240)

- －__Merge Order Info__

In [363]:
# 시간별 구매 정보에 물품 정보 병합

order_seller_info = orders_datetime[['order_id', 'purchase_timestamp']].merge(
	df_order_items[['order_id', 'order_item_id', 'price', 'freight_value', 'product_id', 'seller_id']], how='left', on='order_id'
)
order_seller_info

,order_id,customer_id,purchase_timestamp,order_item_id,price,freight_value,product_id,seller_id
0,3b697a20d9e427646d92567910af6d57,355077684019f7f60a031656bd7262b8,2016-10-03 09:44:50,1.0,29.90,15.56,3ae08df6bcbfe23586dd431c40bddbb7,522620dcb18a6b31cd7bdf73665113a9
1,be5bc2f0da14d8071e2d45451ad119d9,7ec40b22510fdbea1b08921dd39e63d8,2016-10-03 16:56:50,1.0,21.90,17.19,fd7fd78fd3cbc1b0a6370a7909c0a629,f09b760d23495ac9a7e00d29b769007c
2,a41c8759fbe7aab36ea07e038b2d4465,6f989332712d3222b6571b1cf5b835ce,2016-10-03 21:13:36,1.0,36.49,17.24,b72b39418216e944bb34e35f4d3ea8c7,45d33f715e24d15a6ccf5c17b3a23e3c
3,d207cc272675637bfed0062edffd0818,b8cf418e97ae795672d326288dfab7a7,2016-10-03 22:06:03,1.0,119.90,13.56,107177bf61755f05c604fe57e02467d6,cca3071e3e9bb7d12640c9fbe2301306
4,cd3b8574c82b42fc8129f6d502690c3e,7812fcebfc5e8065d31e1bb5f0017dae,2016-10-03 22:31:31,1.0,29.99,10.96,e2a1d45a73dc7f5a7f9236b043431b89,b499c00f28f4b7069ff6550af8c1348a
...,...,...,...,...,...,...,...,...
112708,0b223d92c27432930dfe407c6aea3041,e60df9449653a95af4549bbfcb18a6eb,2018-08-29 14:18:23,1.0,209.00,46.48,2b4472df15512a2825ae86fd9ae79335,67bf6941ba2f1fa1d02c375766bc3e53
112709,0b223d92c27432930dfe407c6aea3041,e60df9449653a95af4549bbfcb18a6eb,2018-08-29 14:18:23,2.0,209.00,46.48,2b4472df15512a2825ae86fd9ae79335,67bf6941ba2f1fa1d02c375766bc3e53
112710,168626408cb32af0ffaf76711caae1dc,6e353700bc7bcdf6ebc15d6de16d7002,2018-08-29 14:18:28,1.0,45.90,15.39,bdcf6a834e8faa30dac3886c7a58e92e,2a84855fd20af891be03bc5924d2b453
112711,03ef5dedbe7492bdae72eec50764c43f,496630b6740bcca28fce9ba50d8a26ef,2018-08-29 14:52:00,1.0,24.90,8.33,c7f27c5bef2338541c772b5776403e6a,7d7866a99a8656a42c7ff6352a433410
112712,35a972d7f8436f405b56e36add1a7140,898b7fee99c4e42170ab69ba59be0a8b,2018-08-29 15:00:37,1.0,84.99,8.76,d04857e7b4b708ee8b8b9921163edba3,9f505651f4a6abe901a56cdc21508025

In [364]:
order_seller_info.isna().sum()

order_id                0
customer_id             0
purchase_timestamp      0
order_item_id         611
price                 611
freight_value         611
product_id            611
seller_id             611
dtype: int64

In [365]:
# 주문일은 있지만 구매 정보가 없는 611개의 결측치를 제거한다.

cols = ['order_item_id', 'price', 'freight_value', 'product_id', 'seller_id']

order_seller_info[order_seller_info[cols].isna().all(axis=1)]

,order_id,customer_id,purchase_timestamp,order_item_id,price,freight_value,product_id,seller_id
75,a68ce1686d536ca72bd2dadc4b8671e5,d7bed5fac093a4136216072abaf599d5,2016-10-05 01:47:40,NaN,NaN,NaN,NaN,NaN
99,e04f1da1f48bf2bbffcf57b9824f76e1,0d00d77134cae4c58695086ad8d85100,2016-10-05 13:22:20,NaN,NaN,NaN,NaN,NaN
116,1612081119e8f23745698ad3367cc14b,20d32833d8983a835cafcd54099631a0,2016-10-05 18:06:48,NaN,NaN,NaN,NaN,NaN
126,2ce9683175cdab7d1c95bcbb3e36f478,b2d7ae0415dbbca535b5f7b38056dd1f,2016-10-05 21:03:33,NaN,NaN,NaN,NaN,NaN
624,0cafd6a7576a6aae0f891008a87f1546,c758396a502648cb2e77ef06e0807a00,2017-01-20 10:31:53,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
106002,3438960569bf3e42fa63f8e7bab0ac03,521896033ed628472193e3adccf722e4,2018-08-02 15:28:32,NaN,NaN,NaN,NaN,NaN
108673,4cccc0d35e7c7a0dc766ad3c4043e33e,75295919398404a05b83a05a22506b41,2018-08-10 09:32:32,NaN,NaN,NaN,NaN,NaN
108940,4bd0d8aa4756f78245bd56015d4ddcc0,a66d945b437e7e8dab012f6172a5beb3,2018-08-11 11:56:24,NaN,NaN,NaN,NaN,NaN
109084,93881917b8e0f2bf11eec7abbbfe43ec,5c78528de7bc16285f19af96fce88f02,2018-08-11 21:38:00,NaN,NaN,NaN,NaN,NaN
111762,02de1e44936e56ddc1621c46d86bf91e,c4c369211d1aaab90c8e097f6939dda2,2018-08-21 12:21:00,NaN,NaN,NaN,NaN,NaN

In [351]:
len(order_seller_info[order_seller_info[cols].isna().all(axis=1)].index)

611

In [366]:
order_seller_info.dropna(subset=cols, how='all', inplace=True)
order_seller_info

,order_id,customer_id,purchase_timestamp,order_item_id,price,freight_value,product_id,seller_id
0,3b697a20d9e427646d92567910af6d57,355077684019f7f60a031656bd7262b8,2016-10-03 09:44:50,1.0,29.90,15.56,3ae08df6bcbfe23586dd431c40bddbb7,522620dcb18a6b31cd7bdf73665113a9
1,be5bc2f0da14d8071e2d45451ad119d9,7ec40b22510fdbea1b08921dd39e63d8,2016-10-03 16:56:50,1.0,21.90,17.19,fd7fd78fd3cbc1b0a6370a7909c0a629,f09b760d23495ac9a7e00d29b769007c
2,a41c8759fbe7aab36ea07e038b2d4465,6f989332712d3222b6571b1cf5b835ce,2016-10-03 21:13:36,1.0,36.49,17.24,b72b39418216e944bb34e35f4d3ea8c7,45d33f715e24d15a6ccf5c17b3a23e3c
3,d207cc272675637bfed0062edffd0818,b8cf418e97ae795672d326288dfab7a7,2016-10-03 22:06:03,1.0,119.90,13.56,107177bf61755f05c604fe57e02467d6,cca3071e3e9bb7d12640c9fbe2301306
4,cd3b8574c82b42fc8129f6d502690c3e,7812fcebfc5e8065d31e1bb5f0017dae,2016-10-03 22:31:31,1.0,29.99,10.96,e2a1d45a73dc7f5a7f9236b043431b89,b499c00f28f4b7069ff6550af8c1348a
...,...,...,...,...,...,...,...,...
112708,0b223d92c27432930dfe407c6aea3041,e60df9449653a95af4549bbfcb18a6eb,2018-08-29 14:18:23,1.0,209.00,46.48,2b4472df15512a2825ae86fd9ae79335,67bf6941ba2f1fa1d02c375766bc3e53
112709,0b223d92c27432930dfe407c6aea3041,e60df9449653a95af4549bbfcb18a6eb,2018-08-29 14:18:23,2.0,209.00,46.48,2b4472df15512a2825ae86fd9ae79335,67bf6941ba2f1fa1d02c375766bc3e53
112710,168626408cb32af0ffaf76711caae1dc,6e353700bc7bcdf6ebc15d6de16d7002,2018-08-29 14:18:28,1.0,45.90,15.39,bdcf6a834e8faa30dac3886c7a58e92e,2a84855fd20af891be03bc5924d2b453
112711,03ef5dedbe7492bdae72eec50764c43f,496630b6740bcca28fce9ba50d8a26ef,2018-08-29 14:52:00,1.0,24.90,8.33,c7f27c5bef2338541c772b5776403e6a,7d7866a99a8656a42c7ff6352a433410
112712,35a972d7f8436f405b56e36add1a7140,898b7fee99c4e42170ab69ba59be0a8b,2018-08-29 15:00:37,1.0,84.99,8.76,d04857e7b4b708ee8b8b9921163edba3,9f505651f4a6abe901a56cdc21508025

In [367]:
order_seller_info.isna().sum()

order_id              0
customer_id           0
purchase_timestamp    0
order_item_id         0
price                 0
freight_value         0
product_id            0
seller_id             0
dtype: int64

In [368]:
# 판매자 정보 병합

order_seller_info = order_seller_info.merge(df_sellers, how='left', on='seller_id')
order_seller_info

,order_id,customer_id,purchase_timestamp,order_item_id,price,freight_value,product_id,seller_id,seller_zip_code,seller_city,seller_state,seller_region,seller_lat,seller_lng
0,3b697a20d9e427646d92567910af6d57,355077684019f7f60a031656bd7262b8,2016-10-03 09:44:50,1.0,29.90,15.56,3ae08df6bcbfe23586dd431c40bddbb7,522620dcb18a6b31cd7bdf73665113a9,85801,cascavel,PR,South,-24.958205,-53.461305
1,be5bc2f0da14d8071e2d45451ad119d9,7ec40b22510fdbea1b08921dd39e63d8,2016-10-03 16:56:50,1.0,21.90,17.19,fd7fd78fd3cbc1b0a6370a7909c0a629,f09b760d23495ac9a7e00d29b769007c,15802,catanduva,SP,Southest,-21.142974,-48.994517
2,a41c8759fbe7aab36ea07e038b2d4465,6f989332712d3222b6571b1cf5b835ce,2016-10-03 21:13:36,1.0,36.49,17.24,b72b39418216e944bb34e35f4d3ea8c7,45d33f715e24d15a6ccf5c17b3a23e3c,18015,sorocaba,SP,Southest,-23.503591,-47.429639
3,d207cc272675637bfed0062edffd0818,b8cf418e97ae795672d326288dfab7a7,2016-10-03 22:06:03,1.0,119.90,13.56,107177bf61755f05c604fe57e02467d6,cca3071e3e9bb7d12640c9fbe2301306,14940,ibitinga,SP,Southest,-21.757690,-48.829768
4,cd3b8574c82b42fc8129f6d502690c3e,7812fcebfc5e8065d31e1bb5f0017dae,2016-10-03 22:31:31,1.0,29.99,10.96,e2a1d45a73dc7f5a7f9236b043431b89,b499c00f28f4b7069ff6550af8c1348a,13481,limeira,SP,Southest,-22.599254,-47.408799
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112097,0b223d92c27432930dfe407c6aea3041,e60df9449653a95af4549bbfcb18a6eb,2018-08-29 14:18:23,1.0,209.00,46.48,2b4472df15512a2825ae86fd9ae79335,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529
112098,0b223d92c27432930dfe407c6aea3041,e60df9449653a95af4549bbfcb18a6eb,2018-08-29 14:18:23,2.0,209.00,46.48,2b4472df15512a2825ae86fd9ae79335,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529
112099,168626408cb32af0ffaf76711caae1dc,6e353700bc7bcdf6ebc15d6de16d7002,2018-08-29 14:18:28,1.0,45.90,15.39,bdcf6a834e8faa30dac3886c7a58e92e,2a84855fd20af891be03bc5924d2b453,30111,belo horizonte,MG,Southest,-19.915587,-43.939356
112100,03ef5dedbe7492bdae72eec50764c43f,496630b6740bcca28fce9ba50d8a26ef,2018-08-29 14:52:00,1.0,24.90,8.33,c7f27c5bef2338541c772b5776403e6a,7d7866a99a8656a42c7ff6352a433410,1320,sao paulo,SP,Southest,-23.557961,-46.639479
112101,35a972d7f8436f405b56e36add1a7140,898b7fee99c4e42170ab69ba59be0a8b,2018-08-29 15:00:37,1.0,84.99,8.76,d04857e7b4b708ee8b8b9921163edba3,9f505651f4a6abe901a56cdc21508025,4102,sao paulo,SP,Southest,-23.590330,-46.631751

In [369]:
order_seller_info.isna().sum()

order_id                0
customer_id             0
purchase_timestamp      0
order_item_id           0
price                   0
freight_value           0
product_id              0
seller_id               0
seller_zip_code         0
seller_city             0
seller_state            0
seller_region           0
seller_lat            252
seller_lng            252
dtype: int64

In [372]:
# 제품 정보 병합

order_sp_info = order_seller_info.merge(df_products, how='left', on='product_id')
order_sp_info = order_sp_info.drop(columns='product_id')
order_sp_info

,order_id,customer_id,purchase_timestamp,order_item_id,price,freight_value,seller_id,seller_zip_code,seller_city,seller_state,seller_region,seller_lat,seller_lng,product_category_name,product_desc_len,product_photos_qty,product_weight_g,product_volume_cm3
0,3b697a20d9e427646d92567910af6d57,355077684019f7f60a031656bd7262b8,2016-10-03 09:44:50,1.0,29.90,15.56,522620dcb18a6b31cd7bdf73665113a9,85801,cascavel,PR,South,-24.958205,-53.461305,watches_gifts,1642.0,3.0,300.0,4096.0
1,be5bc2f0da14d8071e2d45451ad119d9,7ec40b22510fdbea1b08921dd39e63d8,2016-10-03 16:56:50,1.0,21.90,17.19,f09b760d23495ac9a7e00d29b769007c,15802,catanduva,SP,Southest,-21.142974,-48.994517,sports_leisure,518.0,1.0,400.0,4096.0
2,a41c8759fbe7aab36ea07e038b2d4465,6f989332712d3222b6571b1cf5b835ce,2016-10-03 21:13:36,1.0,36.49,17.24,45d33f715e24d15a6ccf5c17b3a23e3c,18015,sorocaba,SP,Southest,-23.503591,-47.429639,sports_leisure,141.0,1.0,767.0,4160.0
3,d207cc272675637bfed0062edffd0818,b8cf418e97ae795672d326288dfab7a7,2016-10-03 22:06:03,1.0,119.90,13.56,cca3071e3e9bb7d12640c9fbe2301306,14940,ibitinga,SP,Southest,-21.757690,-48.829768,furniture_decor,130.0,1.0,2050.0,14960.0
4,cd3b8574c82b42fc8129f6d502690c3e,7812fcebfc5e8065d31e1bb5f0017dae,2016-10-03 22:31:31,1.0,29.99,10.96,b499c00f28f4b7069ff6550af8c1348a,13481,limeira,SP,Southest,-22.599254,-47.408799,fashion_shoes,459.0,2.0,9000.0,2640.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112097,0b223d92c27432930dfe407c6aea3041,e60df9449653a95af4549bbfcb18a6eb,2018-08-29 14:18:23,1.0,209.00,46.48,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529,kitchen_dining_laundry_garden_furniture,112.0,1.0,13550.0,115248.0
112098,0b223d92c27432930dfe407c6aea3041,e60df9449653a95af4549bbfcb18a6eb,2018-08-29 14:18:23,2.0,209.00,46.48,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529,kitchen_dining_laundry_garden_furniture,112.0,1.0,13550.0,115248.0
112099,168626408cb32af0ffaf76711caae1dc,6e353700bc7bcdf6ebc15d6de16d7002,2018-08-29 14:18:28,1.0,45.90,15.39,2a84855fd20af891be03bc5924d2b453,30111,belo horizonte,MG,Southest,-19.915587,-43.939356,health_beauty,394.0,1.0,1614.0,13888.0
112100,03ef5dedbe7492bdae72eec50764c43f,496630b6740bcca28fce9ba50d8a26ef,2018-08-29 14:52:00,1.0,24.90,8.33,7d7866a99a8656a42c7ff6352a433410,1320,sao paulo,SP,Southest,-23.557961,-46.639479,party_supplies,429.0,1.0,450.0,4788.0
112101,35a972d7f8436f405b56e36add1a7140,898b7fee99c4e42170ab69ba59be0a8b,2018-08-29 15:00:37,1.0,84.99,8.76,9f505651f4a6abe901a56cdc21508025,4102,sao paulo,SP,Southest,-23.590330,-46.631751,computers_accessories,1127.0,2.0,450.0,1280.0

In [376]:
order_sp_info.isna().sum()

order_id                   0
customer_id                0
purchase_timestamp         0
order_item_id              0
price                      0
freight_value              0
seller_id                  0
seller_zip_code            0
seller_city                0
seller_state               0
seller_region              0
seller_lat               252
seller_lng               252
product_category_name      0
product_desc_len           0
product_photos_qty         0
product_weight_g           0
product_volume_cm3         0
is_re_order                0
dtype: int64

In [375]:
# 재구매 주문 아이디에 True 표시

order_sp_info['is_re_order'] = False
order_sp_info.loc[order_sp_info[order_sp_info['order_id'].isin(re_order_id)].index, 'is_re_order'] = True
order_sp_info

,order_id,customer_id,purchase_timestamp,order_item_id,price,freight_value,seller_id,seller_zip_code,seller_city,seller_state,seller_region,seller_lat,seller_lng,product_category_name,product_desc_len,product_photos_qty,product_weight_g,product_volume_cm3,is_re_order
0,3b697a20d9e427646d92567910af6d57,355077684019f7f60a031656bd7262b8,2016-10-03 09:44:50,1.0,29.90,15.56,522620dcb18a6b31cd7bdf73665113a9,85801,cascavel,PR,South,-24.958205,-53.461305,watches_gifts,1642.0,3.0,300.0,4096.0,False
1,be5bc2f0da14d8071e2d45451ad119d9,7ec40b22510fdbea1b08921dd39e63d8,2016-10-03 16:56:50,1.0,21.90,17.19,f09b760d23495ac9a7e00d29b769007c,15802,catanduva,SP,Southest,-21.142974,-48.994517,sports_leisure,518.0,1.0,400.0,4096.0,False
2,a41c8759fbe7aab36ea07e038b2d4465,6f989332712d3222b6571b1cf5b835ce,2016-10-03 21:13:36,1.0,36.49,17.24,45d33f715e24d15a6ccf5c17b3a23e3c,18015,sorocaba,SP,Southest,-23.503591,-47.429639,sports_leisure,141.0,1.0,767.0,4160.0,False
3,d207cc272675637bfed0062edffd0818,b8cf418e97ae795672d326288dfab7a7,2016-10-03 22:06:03,1.0,119.90,13.56,cca3071e3e9bb7d12640c9fbe2301306,14940,ibitinga,SP,Southest,-21.757690,-48.829768,furniture_decor,130.0,1.0,2050.0,14960.0,False
4,cd3b8574c82b42fc8129f6d502690c3e,7812fcebfc5e8065d31e1bb5f0017dae,2016-10-03 22:31:31,1.0,29.99,10.96,b499c00f28f4b7069ff6550af8c1348a,13481,limeira,SP,Southest,-22.599254,-47.408799,fashion_shoes,459.0,2.0,9000.0,2640.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112097,0b223d92c27432930dfe407c6aea3041,e60df9449653a95af4549bbfcb18a6eb,2018-08-29 14:18:23,1.0,209.00,46.48,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529,kitchen_dining_laundry_garden_furniture,112.0,1.0,13550.0,115248.0,False
112098,0b223d92c27432930dfe407c6aea3041,e60df9449653a95af4549bbfcb18a6eb,2018-08-29 14:18:23,2.0,209.00,46.48,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529,kitchen_dining_laundry_garden_furniture,112.0,1.0,13550.0,115248.0,False
112099,168626408cb32af0ffaf76711caae1dc,6e353700bc7bcdf6ebc15d6de16d7002,2018-08-29 14:18:28,1.0,45.90,15.39,2a84855fd20af891be03bc5924d2b453,30111,belo horizonte,MG,Southest,-19.915587,-43.939356,health_beauty,394.0,1.0,1614.0,13888.0,False
112100,03ef5dedbe7492bdae72eec50764c43f,496630b6740bcca28fce9ba50d8a26ef,2018-08-29 14:52:00,1.0,24.90,8.33,7d7866a99a8656a42c7ff6352a433410,1320,sao paulo,SP,Southest,-23.557961,-46.639479,party_supplies,429.0,1.0,450.0,4788.0,False
112101,35a972d7f8436f405b56e36add1a7140,898b7fee99c4e42170ab69ba59be0a8b,2018-08-29 15:00:37,1.0,84.99,8.76,9f505651f4a6abe901a56cdc21508025,4102,sao paulo,SP,Southest,-23.590330,-46.631751,computers_accessories,1127.0,2.0,450.0,1280.0,False

- －__Groupby__

In [ ]:
import pandas as pd

# 예시 데이터프레임 생성
data = {
    'group1': ['A', 'A', 'B', 'B', 'A'],
    'group2': ['X', 'Y', 'X', 'Y', 'X'],
    'value': [1, 2, 3, 4, 5]
}
df = pd.DataFrame(data)
display(df)

# 두 개의 컬럼을 묶어서 groupby 수행
grouped_df = df.groupby(['group1', 'group2'])
display(grouped_df)

# 그룹화된 결과에 대해 합계를 구함
sum_result = grouped_df.sum()
sum_result

  group1 group2  value
0      A      X      1
1      A      Y      2
2      B      X      3
3      B      Y      4
4      A      X      5

               value
group1 group2
A      X           6
       Y           2
B      X           3
       Y           4

In [378]:
order_sp_info.drop(columns='customer_id', inplace=True)

In [379]:
order_sp_info[order_sp_info['seller_id']=='67bf6941ba2f1fa1d02c375766bc3e53']

,order_id,purchase_timestamp,order_item_id,price,freight_value,seller_id,seller_zip_code,seller_city,seller_state,seller_region,seller_lat,seller_lng,product_category_name,product_desc_len,product_photos_qty,product_weight_g,product_volume_cm3,is_re_order
28636,dec806358e32446003f5fea8111b10e8,2017-09-17 20:41:21,1.0,274.0,62.66,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,92.0,2.0,12125.0,97498.0,False
44199,a9fa7ea99c0724de00e9d31f2a39a723,2017-11-29 14:57:40,1.0,274.0,58.07,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,92.0,2.0,12125.0,97498.0,False
48090,75e6b640cd630f2a1b0250fadc68da12,2017-12-13 15:49:39,1.0,274.0,80.87,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,92.0,2.0,12125.0,97498.0,False
51716,da1b656d5535a2420f9010ab910d1fa5,2018-01-04 18:01:00,1.0,274.0,50.66,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,92.0,2.0,12125.0,97498.0,False
53997,a9bd89ff808222233c9bb5567f618e3f,2018-01-12 21:17:40,1.0,274.0,80.87,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,92.0,2.0,12125.0,97498.0,False
53998,a9bd89ff808222233c9bb5567f618e3f,2018-01-12 21:17:40,2.0,274.0,80.87,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,92.0,2.0,12125.0,97498.0,False
58602,1ec0c008e2f52adf3af40327df25cea8,2018-01-30 09:55:32,1.0,274.0,113.67,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,92.0,2.0,12125.0,97498.0,False
66022,88a01a140aa9a9b29927d71752e9b7cd,2018-02-27 07:37:02,1.0,274.0,31.51,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,92.0,2.0,12125.0,97498.0,False
74697,b370e2d776f17cc50260493b2ae2d4fb,2018-03-30 20:42:09,1.0,323.0,42.90,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,92.0,2.0,12125.0,97498.0,False
74698,b370e2d776f17cc50260493b2ae2d4fb,2018-03-30 20:42:09,2.0,323.0,42.90,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,92.0,2.0,12125.0,97498.0,False
74699,b370e2d776f17cc50260493b2ae2d4fb,2018-03-30 20:42:09,3.0,323.0,42.90,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,92.0,2.0,12125.0,97498.0,False
79403,96232025cb67bf9cece00d90f9d225e8,2018-04-18 00:51:50,1.0,139.0,18.53,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529,furniture_living_room,364.0,3.0,9850.0,56212.0,False
79404,96232025cb67bf9cece00d90f9d225e8,2018-04-18 00:51:50,2.0,139.0,18.53,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529,furniture_living_room,364.0,3.0,9850.0,56212.0,False
79405,96232025cb67bf9cece00d90f9d225e8,2018-04-18 00:51:50,3.0,139.0,18.53,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529,furniture_living_room,364.0,3.0,9850.0,56212.0,False
81199,bde6e20289749eb6e7fc368efae2b87f,2018-04-24 17:21:16,1.0,289.0,116.24,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,92.0,2.0,12125.0,97498.0,False
86482,f7fb915e2a9f9889685dbc187b376427,2018-05-12 11:17:38,1.0,249.0,53.30,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,225.0,3.0,11025.0,74727.0,False
90599,5ed3ad68a6b539929adf6d324f01ff01,2018-05-30 18:29:21,1.0,289.0,93.14,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,92.0,2.0,12125.0,97498.0,False
90649,60058e743955ad0595c97a485d1737f8,2018-05-31 09:55:00,1.0,289.0,98.70,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,92.0,2.0,12125.0,97498.0,False
93903,1c5dded30baeb7f5dabbd1e613c76164,2018-06-13 19:10:21,1.0,289.0,173.02,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,92.0,2.0,12125.0,97498.0,False
102930,4d02fcbcbf4a19682c0c09fb8fc8005f,2018-07-24 21:21:15,1.0,209.0,48.85,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529,kitchen_dining_laundry_garden_furniture,112.0,1.0,13550.0,115248.0,False
112097,0b223d92c27432930dfe407c6aea3041,2018-08-29 14:18:23,1.0,209.0,46.48,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529,kitchen_dining_laundry_garden_furniture,112.0,1.0,13550.0,115248.0,False
112098,0b223d92c27432930dfe407c6aea3041,2018-08-29 14:18:23,2.0,209.0,46.48,67bf6941ba2f1fa1d02c375766bc3e53,82400,curitiba,PR,South,-25.393932,-49.343529,kitchen_dining_laundry_garden_furniture,112.0,1.0,13550.0,115248.0,False

In [380]:
order_sp_info.columns

Index(['order_id', 'purchase_timestamp', 'order_item_id', 'price',
       'freight_value', 'seller_id', 'seller_zip_code', 'seller_city',
       'seller_state', 'seller_region', 'seller_lat', 'seller_lng',
       'product_category_name', 'product_desc_len', 'product_photos_qty',
       'product_weight_g', 'product_volume_cm3', 'is_re_order'],
      dtype='object')

In [383]:
seller_result = order_sp_info.groupby(['seller_id', 'order_id']).agg({
	'purchase_timestamp': join_unique_values,
	'order_item_id': 'max', 'price': 'sum', 'freight_value': 'sum',
	'seller_zip_code': 'min', 'seller_city': 'min', 'seller_state': 'min', 'seller_region': 'min',
 	'seller_lat': 'median', 'seller_lng': 'median',
	'product_category_name': join_unique_values, 
 	'product_desc_len': join_unique_values,
  	'product_photos_qty': join_unique_values,
    'product_weight_g': join_unique_values, 
    'product_volume_cm3': join_unique_values,
    'is_re_order': 'min'
})
seller_result

                                                                    purchase_timestamp  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac  2017-10-18 08:16:34
                                 9dc8d1a6f16f1b89874c29c9d8d30447  2017-10-12 13:33:22
                                 d455a8cb295653b55abda06d434ab492  2017-09-26 22:17:05
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529  2017-05-11 00:24:35
                                 00dfb074b5c910fbd08e04691c4b712f  2017-06-08 19:43:35
...                                                                                ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8  2017-03-16 14:15:16
                                 d437ec1ece70f3e35d2695adfeb8a272  2017-03-13 13:32:46
                                 d815bd2c2bdd79e4c0e0263caa986d66  2017-03-15 10:30:17
                                 df537c849af44beef86a7ef7de12126a  2017-01-19 21:48:41
                                 fdb3ef83ea6f7bef7d13bdd9b38da661  2017-01-17 21:09:40

                                                                   order_item_id  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac            1.0
                                 9dc8d1a6f16f1b89874c29c9d8d30447            1.0
                                 d455a8cb295653b55abda06d434ab492            1.0
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529            1.0
                                 00dfb074b5c910fbd08e04691c4b712f            1.0
...                                                                          ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8            1.0
                                 d437ec1ece70f3e35d2695adfeb8a272            1.0
                                 d815bd2c2bdd79e4c0e0263caa986d66            1.0
                                 df537c849af44beef86a7ef7de12126a            1.0
                                 fdb3ef83ea6f7bef7d13bdd9b38da661            1.0

                                                                    price  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac  895.00
                                 9dc8d1a6f16f1b89874c29c9d8d30447  895.00
                                 d455a8cb295653b55abda06d434ab492  895.00
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529   99.00
                                 00dfb074b5c910fbd08e04691c4b712f   99.50
...                                                                   ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8   51.45
                                 d437ec1ece70f3e35d2695adfeb8a272   52.50
                                 d815bd2c2bdd79e4c0e0263caa986d66   52.50
                                 df537c849af44beef86a7ef7de12126a   29.40
                                 fdb3ef83ea6f7bef7d13bdd9b38da661  109.20

                                                                   freight_value  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac          21.02
                                 9dc8d1a6f16f1b89874c29c9d8d30447          21.02
                                 d455a8cb295653b55abda06d434ab492          21.02
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529          43.06
                                 00dfb074b5c910fbd08e04691c4b712f          35.07
...                                                                          ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8          24.85
                                 d437ec1ece70f3e35d2695adfeb8a272          18.96
                                 d815bd2c2bdd79e4c0e0263caa986d66          17.11
                                 df537c849af44beef86a7ef7de12126a          10.96
                                 fdb3ef83ea6f7bef7d13bdd9b38da661          13.34

                                                                   seller_zip_code  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac             9080
                                 9dc8d1a6f16f1b89874c29c9d8d30447             9080
                                 d455a8cb295653b55abda06d434ab492             9080
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529            29156
                                 00dfb074b5c910fbd08e04691c4b712f            29156
...                                                                            ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8            13070
                                 d437ec1ece70f3e35d2695adfeb8a272            13070
                                 d815bd2c2bdd79e4c0e0263caa986d66            13070
                                 df537c849af44beef86a7ef7de12126a            13070
                                 fdb3ef83ea6f7bef7d13bdd9b38da661            13070

                                                                   seller_city  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac  santo andre
                                 9dc8d1a6f16f1b89874c29c9d8d30447  santo andre
                                 d455a8cb295653b55abda06d434ab492  santo andre
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529    cariacica
                                 00dfb074b5c910fbd08e04691c4b712f    cariacica
...                                                                        ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8     campinas
                                 d437ec1ece70f3e35d2695adfeb8a272     campinas
                                 d815bd2c2bdd79e4c0e0263caa986d66     campinas
                                 df537c849af44beef86a7ef7de12126a     campinas
                                 fdb3ef83ea6f7bef7d13bdd9b38da661     campinas

                                                                  seller_state  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac           SP
                                 9dc8d1a6f16f1b89874c29c9d8d30447           SP
                                 d455a8cb295653b55abda06d434ab492           SP
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529           ES
                                 00dfb074b5c910fbd08e04691c4b712f           ES
...                                                                        ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8           SP
                                 d437ec1ece70f3e35d2695adfeb8a272           SP
                                 d815bd2c2bdd79e4c0e0263caa986d66           SP
                                 df537c849af44beef86a7ef7de12126a           SP
                                 fdb3ef83ea6f7bef7d13bdd9b38da661           SP

                                                                  seller_region  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac      Southest
                                 9dc8d1a6f16f1b89874c29c9d8d30447      Southest
                                 d455a8cb295653b55abda06d434ab492      Southest
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529      Southest
                                 00dfb074b5c910fbd08e04691c4b712f      Southest
...                                                                         ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8      Southest
                                 d437ec1ece70f3e35d2695adfeb8a272      Southest
                                 d815bd2c2bdd79e4c0e0263caa986d66      Southest
                                 df537c849af44beef86a7ef7de12126a      Southest
                                 fdb3ef83ea6f7bef7d13bdd9b38da661      Southest

                                                                   seller_lat  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac  -23.641517
                                 9dc8d1a6f16f1b89874c29c9d8d30447  -23.641517
                                 d455a8cb295653b55abda06d434ab492  -23.641517
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529  -20.271105
                                 00dfb074b5c910fbd08e04691c4b712f  -20.271105
...                                                                       ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8  -22.893511
                                 d437ec1ece70f3e35d2695adfeb8a272  -22.893511
                                 d815bd2c2bdd79e4c0e0263caa986d66  -22.893511
                                 df537c849af44beef86a7ef7de12126a  -22.893511
                                 fdb3ef83ea6f7bef7d13bdd9b38da661  -22.893511

                                                                   seller_lng  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac  -46.542105
                                 9dc8d1a6f16f1b89874c29c9d8d30447  -46.542105
                                 d455a8cb295653b55abda06d434ab492  -46.542105
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529  -40.415232
                                 00dfb074b5c910fbd08e04691c4b712f  -40.415232
...                                                                       ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8  -47.080024
                                 d437ec1ece70f3e35d2695adfeb8a272  -47.080024
                                 d815bd2c2bdd79e4c0e0263caa986d66  -47.080024
                                 df537c849af44beef86a7ef7de12126a  -47.080024
                                 fdb3ef83ea6f7bef7d13bdd9b38da661  -47.080024

                                                                  product_category_name  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac      small_appliances
                                 9dc8d1a6f16f1b89874c29c9d8d30447      small_appliances
                                 d455a8cb295653b55abda06d434ab492      small_appliances
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529          garden_tools
                                 00dfb074b5c910fbd08e04691c4b712f          garden_tools
...                                                                                 ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8                  auto
                                 d437ec1ece70f3e35d2695adfeb8a272                  food
                                 d815bd2c2bdd79e4c0e0263caa986d66                  food
                                 df537c849af44beef86a7ef7de12126a                  auto
                                 fdb3ef83ea6f7bef7d13bdd9b38da661                  auto

                                                                  product_desc_len  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac            849.0
                                 9dc8d1a6f16f1b89874c29c9d8d30447            849.0
                                 d455a8cb295653b55abda06d434ab492            849.0
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529            450.0
                                 00dfb074b5c910fbd08e04691c4b712f            706.0
...                                                                            ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8            595.0
                                 d437ec1ece70f3e35d2695adfeb8a272            283.0
                                 d815bd2c2bdd79e4c0e0263caa986d66            283.0
                                 df537c849af44beef86a7ef7de12126a            231.0
                                 fdb3ef83ea6f7bef7d13bdd9b38da661           1208.0

                                                                  product_photos_qty  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac                2.0
                                 9dc8d1a6f16f1b89874c29c9d8d30447                2.0
                                 d455a8cb295653b55abda06d434ab492                2.0
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529                1.0
                                 00dfb074b5c910fbd08e04691c4b712f                2.0
...                                                                              ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8                3.0
                                 d437ec1ece70f3e35d2695adfeb8a272                1.0
                                 d815bd2c2bdd79e4c0e0263caa986d66                1.0
                                 df537c849af44beef86a7ef7de12126a                3.0
                                 fdb3ef83ea6f7bef7d13bdd9b38da661                4.0

                                                                  product_weight_g  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac          11800.0
                                 9dc8d1a6f16f1b89874c29c9d8d30447          11800.0
                                 d455a8cb295653b55abda06d434ab492          11800.0
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529           9000.0
                                 00dfb074b5c910fbd08e04691c4b712f           9050.0
...                                                                            ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8            100.0
                                 d437ec1ece70f3e35d2695adfeb8a272           1403.0
                                 d815bd2c2bdd79e4c0e0263caa986d66           1403.0
                                 df537c849af44beef86a7ef7de12126a            100.0
                                 fdb3ef83ea6f7bef7d13bdd9b38da661           1300.0

                                                                  product_volume_cm3  \
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac            61920.0
                                 9dc8d1a6f16f1b89874c29c9d8d30447            61920.0
                                 d455a8cb295653b55abda06d434ab492            61920.0
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529            19656.0
                                 00dfb074b5c910fbd08e04691c4b712f            19656.0
...                                                                              ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8             4096.0
                                 d437ec1ece70f3e35d2695adfeb8a272            34452.0
                                 d815bd2c2bdd79e4c0e0263caa986d66            34452.0
                                 df537c849af44beef86a7ef7de12126a             4913.0
                                 fdb3ef83ea6f7bef7d13bdd9b38da661             8000.0

                                                                   is_re_order
seller_id                        order_id
0015a82c2db000af6aaaf3ae2ecb0532 7f39ba4c9052be115350065d07583cac        False
                                 9dc8d1a6f16f1b89874c29c9d8d30447        False
                                 d455a8cb295653b55abda06d434ab492        False
001cca7ae9ae17fb1caed9dfb1094831 006e43460a55bc60c0a437521e426529        False
                                 00dfb074b5c910fbd08e04691c4b712f        False
...                                                                        ...
ffff564a4f9085cd26170f4732393726 c2509daf9e1312fea710fc46902c9da8        False
                                 d437ec1ece70f3e35d2695adfeb8a272        False
                                 d815bd2c2bdd79e4c0e0263caa986d66        False
                                 df537c849af44beef86a7ef7de12126a        False
                                 fdb3ef83ea6f7bef7d13bdd9b38da661        False

[99546 rows x 16 columns]

In [384]:
seller_result.loc['67bf6941ba2f1fa1d02c375766bc3e53']

,purchase_timestamp,order_item_id,price,freight_value,seller_zip_code,seller_city,seller_state,seller_region,seller_lat,seller_lng,product_category_name,product_desc_len,product_photos_qty,product_weight_g,product_volume_cm3,is_re_order
order_id,,,,,,,,,,,,,,,,
0b223d92c27432930dfe407c6aea3041,2018-08-29 14:18:23,2.0,418.0,92.96,82400,curitiba,PR,South,-25.393932,-49.343529,kitchen_dining_laundry_garden_furniture,112.0,1.0,13550.0,115248.0,False
1c5dded30baeb7f5dabbd1e613c76164,2018-06-13 19:10:21,1.0,289.0,173.02,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,92.0,2.0,12125.0,97498.0,False
1ec0c008e2f52adf3af40327df25cea8,2018-01-30 09:55:32,1.0,274.0,113.67,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,92.0,2.0,12125.0,97498.0,False
4d02fcbcbf4a19682c0c09fb8fc8005f,2018-07-24 21:21:15,1.0,209.0,48.85,82400,curitiba,PR,South,-25.393932,-49.343529,kitchen_dining_laundry_garden_furniture,112.0,1.0,13550.0,115248.0,False
5ed3ad68a6b539929adf6d324f01ff01,2018-05-30 18:29:21,1.0,289.0,93.14,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,92.0,2.0,12125.0,97498.0,False
60058e743955ad0595c97a485d1737f8,2018-05-31 09:55:00,1.0,289.0,98.70,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,92.0,2.0,12125.0,97498.0,False
75e6b640cd630f2a1b0250fadc68da12,2017-12-13 15:49:39,1.0,274.0,80.87,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,92.0,2.0,12125.0,97498.0,False
88a01a140aa9a9b29927d71752e9b7cd,2018-02-27 07:37:02,1.0,274.0,31.51,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,92.0,2.0,12125.0,97498.0,False
96232025cb67bf9cece00d90f9d225e8,2018-04-18 00:51:50,3.0,417.0,55.59,82400,curitiba,PR,South,-25.393932,-49.343529,furniture_living_room,364.0,3.0,9850.0,56212.0,False
a9bd89ff808222233c9bb5567f618e3f,2018-01-12 21:17:40,2.0,548.0,161.74,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,92.0,2.0,12125.0,97498.0,False
a9fa7ea99c0724de00e9d31f2a39a723,2017-11-29 14:57:40,1.0,274.0,58.07,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,92.0,2.0,12125.0,97498.0,False
b370e2d776f17cc50260493b2ae2d4fb,2018-03-30 20:42:09,3.0,969.0,128.70,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,92.0,2.0,12125.0,97498.0,False
bde6e20289749eb6e7fc368efae2b87f,2018-04-24 17:21:16,1.0,289.0,116.24,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,92.0,2.0,12125.0,97498.0,False
da1b656d5535a2420f9010ab910d1fa5,2018-01-04 18:01:00,1.0,274.0,50.66,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,92.0,2.0,12125.0,97498.0,False
dec806358e32446003f5fea8111b10e8,2017-09-17 20:41:21,1.0,274.0,62.66,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,92.0,2.0,12125.0,97498.0,False
f7fb915e2a9f9889685dbc187b376427,2018-05-12 11:17:38,1.0,249.0,53.30,82400,curitiba,PR,South,-25.393932,-49.343529,office_furniture,225.0,3.0,11025.0,74727.0,False

In [393]:
seller_result2 = seller_result.reset_index()
seller_result2

,seller_id,order_id,purchase_timestamp,order_item_id,price,freight_value,seller_zip_code,seller_city,seller_state,seller_region,seller_lat,seller_lng,product_category_name,product_desc_len,product_photos_qty,product_weight_g,product_volume_cm3,is_re_order
0,0015a82c2db000af6aaaf3ae2ecb0532,7f39ba4c9052be115350065d07583cac,2017-10-18 08:16:34,1.0,895.00,21.02,9080,santo andre,SP,Southest,-23.641517,-46.542105,small_appliances,849.0,2.0,11800.0,61920.0,False
1,0015a82c2db000af6aaaf3ae2ecb0532,9dc8d1a6f16f1b89874c29c9d8d30447,2017-10-12 13:33:22,1.0,895.00,21.02,9080,santo andre,SP,Southest,-23.641517,-46.542105,small_appliances,849.0,2.0,11800.0,61920.0,False
2,0015a82c2db000af6aaaf3ae2ecb0532,d455a8cb295653b55abda06d434ab492,2017-09-26 22:17:05,1.0,895.00,21.02,9080,santo andre,SP,Southest,-23.641517,-46.542105,small_appliances,849.0,2.0,11800.0,61920.0,False
3,001cca7ae9ae17fb1caed9dfb1094831,006e43460a55bc60c0a437521e426529,2017-05-11 00:24:35,1.0,99.00,43.06,29156,cariacica,ES,Southest,-20.271105,-40.415232,garden_tools,450.0,1.0,9000.0,19656.0,False
4,001cca7ae9ae17fb1caed9dfb1094831,00dfb074b5c910fbd08e04691c4b712f,2017-06-08 19:43:35,1.0,99.50,35.07,29156,cariacica,ES,Southest,-20.271105,-40.415232,garden_tools,706.0,2.0,9050.0,19656.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99541,ffff564a4f9085cd26170f4732393726,c2509daf9e1312fea710fc46902c9da8,2017-03-16 14:15:16,1.0,51.45,24.85,13070,campinas,SP,Southest,-22.893511,-47.080024,auto,595.0,3.0,100.0,4096.0,False
99542,ffff564a4f9085cd26170f4732393726,d437ec1ece70f3e35d2695adfeb8a272,2017-03-13 13:32:46,1.0,52.50,18.96,13070,campinas,SP,Southest,-22.893511,-47.080024,food,283.0,1.0,1403.0,34452.0,False
99543,ffff564a4f9085cd26170f4732393726,d815bd2c2bdd79e4c0e0263caa986d66,2017-03-15 10:30:17,1.0,52.50,17.11,13070,campinas,SP,Southest,-22.893511,-47.080024,food,283.0,1.0,1403.0,34452.0,False
99544,ffff564a4f9085cd26170f4732393726,df537c849af44beef86a7ef7de12126a,2017-01-19 21:48:41,1.0,29.40,10.96,13070,campinas,SP,Southest,-22.893511,-47.080024,auto,231.0,3.0,100.0,4913.0,False
99545,ffff564a4f9085cd26170f4732393726,fdb3ef83ea6f7bef7d13bdd9b38da661,2017-01-17 21:09:40,1.0,109.20,13.34,13070,campinas,SP,Southest,-22.893511,-47.080024,auto,1208.0,4.0,1300.0,8000.0,False

In [394]:
len(seller_result2['order_id'].unique())

98202

In [395]:
seller_result2 = seller_result2.groupby(by='seller_id', as_index=False).aggregate({
	'order_id': ['count', join_values],
	'purchase_timestamp': join_values,
 	'order_item_id': 'sum', 'price': 'sum', 'freight_value': 'sum',
	'seller_zip_code': 'min', 'seller_city': 'min', 'seller_state': 'min', 'seller_region': 'min',
 	'seller_lat': 'median', 'seller_lng': 'median',
	'product_category_name': join_unique_values, 
 	'product_desc_len': join_values,
  	'product_photos_qty': join_values,
    'product_weight_g': join_values, 
    'product_volume_cm3': join_values,
    'is_re_order': 'sum'
})
seller_result2.columns = seller_result2.columns.map('_'.join)
seller_result2

,seller_id_,order_id_count,order_id_join_values,purchase_timestamp_join_values,order_item_id_sum,price_sum,freight_value_sum,seller_zip_code_min,seller_city_min,seller_state_min,seller_region_min,seller_lat_median,seller_lng_median,product_category_name_join_unique_values,product_desc_len_join_values,product_photos_qty_join_values,product_weight_g_join_values,product_volume_cm3_join_values,is_re_order_sum
0,0015a82c2db000af6aaaf3ae2ecb0532,3,"7f39ba4c9052be115350065d07583cac, 9dc8d1a6f16f...","2017-10-18 08:16:34, 2017-10-12 13:33:22, 2017...",3.0,2685.00,63.06,9080,santo andre,SP,Southest,-23.641517,-46.542105,small_appliances,"849.0, 849.0, 849.0","2.0, 2.0, 2.0","11800.0, 11800.0, 11800.0","61920.0, 61920.0, 61920.0",0
1,001cca7ae9ae17fb1caed9dfb1094831,200,"006e43460a55bc60c0a437521e426529, 00dfb074b5c9...","2017-05-11 00:24:35, 2017-06-08 19:43:35, 2018...",240.0,25080.03,8854.14,29156,cariacica,ES,Southest,-20.271105,-40.415232,"garden_tools, construction_tools_construction","450.0, 706.0, 509.0, 450.0, 511.0, 450.0, 511....","1.0, 2.0, 1.0, 1.0, 4.0, 1.0, 4.0, 1.0, 1.0, 2...","9000.0, 9050.0, 9100.0, 9000.0, 8875.0, 9000.0...","19656.0, 19656.0, 21294.0, 19656.0, 24080.0, 1...",1
2,002100f778ceb8431b7a1020ff7ab48f,51,"044cd7ffb6a41e6e5513c6595a2893ca, 07c04599729d...","2017-10-29 10:15:00, 2017-09-30 16:53:45, 2017...",56.0,1234.50,793.66,14405,franca,SP,Southest,-20.530007,-47.411024,furniture_decor,"646.0, 646.0, 646.0, 646.0, 646.0, 646.0, 718....","1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1...","300.0, 300.0, 300.0, 300.0, 300.0, 300.0, 300....","9600.0, 9600.0, 9600.0, 9600.0, 9600.0, 9600.0...",2
3,003554e2dce176b5555353e4f3555ac8,1,7e4f454abfc163899a6ef5b4d5facfb2,2017-12-15 06:52:25,1.0,120.00,19.38,74565,goiania,GO,CentralWest,-16.642567,-49.274629,N/A,0.0,0.0,1200.0,21000.0,0
4,004c9cd9d87a3c30c522c48c4fc07416,158,"044223df7cb37509bfeb2a0df1250ca4, 04f1827088d9...","2017-11-02 09:19:16, 2017-12-10 20:42:05, 2017...",171.0,19712.71,3551.23,14940,ibitinga,SP,Southest,-21.757690,-48.829768,"bed_bath_table, N/A, bed_bath_table, N/A","223.0, 595.0, 632.0, 405.0, 433.0, 647.0, 520....","1.0, 1.0, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1...","2550.0, 1600.0, 4188.0, 1650.0, 1050.0, 1300.0...","20475.0, 7200.0, 24864.0, 21168.0, 6336.0, 788...",3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3051,ffc470761de7d0232558ba5e786e57b7,28,"001ac194d4a326a6fa99b581e9a3d963, 01e662008f03...","2018-07-04 11:39:11, 2018-06-30 10:04:41, 2018...",31.0,1649.01,438.12,7091,guarulhos,SP,Southest,-23.464392,-46.540897,"construction_tools_construction, housewares, a...","1178.0, 720.0, 511.0, 945.0, 648.0, 720.0, 470...","2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 4.0, 3...","418.0, 350.0, 500.0, 213.0, 500.0, 350.0, 950....","1482.0, 4352.0, 13125.0, 1638.0, 8000.0, 4352....",1
3052,ffdd9f82b9a447f6f8d4b91554cc7dd3,18,"0c80c82bdef7f227e7483cdd3c94f697, 105a17b01506...","2018-07-24 12:57:52, 2017-11-27 15:19:38, 2018...",20.0,2101.20,727.46,80030,curitiba,PR,South,-25.417200,-49.259469,"housewares, furniture_decor","353.0, 739.0, 444.0, 513.0, 444.0, 743.0, 715....","1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2...","600.0, 1500.0, 11450.0, 2350.0, 11450.0, 5050....","16530.0, 23040.0, 43706.0, 15776.0, 43706.0, 3...",1
3053,ffeee66ac5d5a62fe688b9d26f83f534,14,"16a73b59c868ed5c7152b96b0ebc7693, 3012c36a0f63...","2017-10-18 23:21:35, 2017-12-30 12:19:04, 2017...",14.0,1839.86,419.69,15130,mirassol,SP,Southest,-20.815284,-49.507466,home_appliances,"780.0, 780.0, 780.0, 780.0, 1048.0, 780.0, 780...","5.0, 5.0, 5.0, 5.0, 4.0, 5.0, 5.0, 5.0, 5.0, 5...","7600.0, 7600.0, 7600.0, 7600.0, 3600.0, 7600.0...","60000.0, 60000.0, 60000.0, 60000.0, 18150.0, 6...",0
3054,fffd5413c0700ac820c7069d66d98c89,59,"05df1c1ff1b3e0ba073493d2ca0bdffc, 0aaf8268ec2a...","2018-01-24 10:21:52, 2017-10-02 12:32:44, 2018...",64.0,8962.50,2799.77,13908,amparo,SP,Southest,-22.722793,-46.846086,"housewares, furniture_decor, furniture_living_...","436.0, 436.0, 387.0, 434.0, 285.0, 534.0, 256....","1.0, 1.0, 1.0, 1.0, 3.0, 2.0, 3.0, 4.0, 4.0, 4...","400.0, 400.0, 25850.0, 6700.0, 600.0, 11250.0,...","4719.0, 4719.0, 147098.0, 31360.0, 2880.0, 480...",3
3055,ffff564a4f9085cd26170f4732393726,16,"021d08e4057e5b6414c8d2f69f4f72a0, 2fbb05b3ee70...","2016-10-07 17:37:49, 2016-10-10 15:37:12, 2017...",16.0,831.65,264.90,13070,campinas,SP,Southest,-22.893511,-47.080024,"auto, market_place, electronics, N/A, housewar...","393.0, 975.0, 1221.0, 317.0, 231.0, 1798.0, 28...","2.0, 1.0, 4.0, 3.0, 3.0, 1.0, 3.0, 3.0, 0.0, 3...","100.0, 950.0, 1200.0, 100.0, 100.0, 500.0, 100...","4913.0, 10608.0, 8000.0, 4913.0, 4913.0, 6400....",0

In [396]:
seller_result2.rename(columns={
	'seller_id_':'seller_id', 'order_id_join_values':'total_order_id', 'purchase_timestamp_join_values':'total_purchase_timestamp',
 	'order_item_id_sum':'order_item_num', 'freight_value_sum':'freight_sum',
  	'seller_zip_code_min':'seller_zip_code', 'seller_city_min':'seller_city', 'seller_state_min':'seller_state',
   	'seller_region_min':'seller_region', 'seller_lat_median':'seller_lat', 'seller_lng_median':'seller_lng',
    'product_category_name_join_unique_values':'p_category',
	'product_desc_len_join_values':'p_desc_len_avg', 'product_photos_qty_join_values':'p_photo_qty_avg',
	'product_weight_g_join_values':'p_weight_g_avg', 'product_volume_cm3_join_values':'p_volume_cm3_avg',
	'is_re_order_sum':'re_order_count'
}, inplace=True)
seller_result2

,seller_id,order_id_count,total_order_id,total_purchase_timestamp,order_item_num,price_sum,freight_sum,seller_zip_code,seller_city,seller_state,seller_region,seller_lat,seller_lng,p_category,p_desc_len_avg,p_photo_qty_avg,p_weight_g_avg,p_volume_cm3_avg,re_order_count
0,0015a82c2db000af6aaaf3ae2ecb0532,3,"7f39ba4c9052be115350065d07583cac, 9dc8d1a6f16f...","2017-10-18 08:16:34, 2017-10-12 13:33:22, 2017...",3.0,2685.00,63.06,9080,santo andre,SP,Southest,-23.641517,-46.542105,small_appliances,"849.0, 849.0, 849.0","2.0, 2.0, 2.0","11800.0, 11800.0, 11800.0","61920.0, 61920.0, 61920.0",0
1,001cca7ae9ae17fb1caed9dfb1094831,200,"006e43460a55bc60c0a437521e426529, 00dfb074b5c9...","2017-05-11 00:24:35, 2017-06-08 19:43:35, 2018...",240.0,25080.03,8854.14,29156,cariacica,ES,Southest,-20.271105,-40.415232,"garden_tools, construction_tools_construction","450.0, 706.0, 509.0, 450.0, 511.0, 450.0, 511....","1.0, 2.0, 1.0, 1.0, 4.0, 1.0, 4.0, 1.0, 1.0, 2...","9000.0, 9050.0, 9100.0, 9000.0, 8875.0, 9000.0...","19656.0, 19656.0, 21294.0, 19656.0, 24080.0, 1...",1
2,002100f778ceb8431b7a1020ff7ab48f,51,"044cd7ffb6a41e6e5513c6595a2893ca, 07c04599729d...","2017-10-29 10:15:00, 2017-09-30 16:53:45, 2017...",56.0,1234.50,793.66,14405,franca,SP,Southest,-20.530007,-47.411024,furniture_decor,"646.0, 646.0, 646.0, 646.0, 646.0, 646.0, 718....","1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1...","300.0, 300.0, 300.0, 300.0, 300.0, 300.0, 300....","9600.0, 9600.0, 9600.0, 9600.0, 9600.0, 9600.0...",2
3,003554e2dce176b5555353e4f3555ac8,1,7e4f454abfc163899a6ef5b4d5facfb2,2017-12-15 06:52:25,1.0,120.00,19.38,74565,goiania,GO,CentralWest,-16.642567,-49.274629,N/A,0.0,0.0,1200.0,21000.0,0
4,004c9cd9d87a3c30c522c48c4fc07416,158,"044223df7cb37509bfeb2a0df1250ca4, 04f1827088d9...","2017-11-02 09:19:16, 2017-12-10 20:42:05, 2017...",171.0,19712.71,3551.23,14940,ibitinga,SP,Southest,-21.757690,-48.829768,"bed_bath_table, N/A, bed_bath_table, N/A","223.0, 595.0, 632.0, 405.0, 433.0, 647.0, 520....","1.0, 1.0, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1...","2550.0, 1600.0, 4188.0, 1650.0, 1050.0, 1300.0...","20475.0, 7200.0, 24864.0, 21168.0, 6336.0, 788...",3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3051,ffc470761de7d0232558ba5e786e57b7,28,"001ac194d4a326a6fa99b581e9a3d963, 01e662008f03...","2018-07-04 11:39:11, 2018-06-30 10:04:41, 2018...",31.0,1649.01,438.12,7091,guarulhos,SP,Southest,-23.464392,-46.540897,"construction_tools_construction, housewares, a...","1178.0, 720.0, 511.0, 945.0, 648.0, 720.0, 470...","2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 4.0, 3...","418.0, 350.0, 500.0, 213.0, 500.0, 350.0, 950....","1482.0, 4352.0, 13125.0, 1638.0, 8000.0, 4352....",1
3052,ffdd9f82b9a447f6f8d4b91554cc7dd3,18,"0c80c82bdef7f227e7483cdd3c94f697, 105a17b01506...","2018-07-24 12:57:52, 2017-11-27 15:19:38, 2018...",20.0,2101.20,727.46,80030,curitiba,PR,South,-25.417200,-49.259469,"housewares, furniture_decor","353.0, 739.0, 444.0, 513.0, 444.0, 743.0, 715....","1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2...","600.0, 1500.0, 11450.0, 2350.0, 11450.0, 5050....","16530.0, 23040.0, 43706.0, 15776.0, 43706.0, 3...",1
3053,ffeee66ac5d5a62fe688b9d26f83f534,14,"16a73b59c868ed5c7152b96b0ebc7693, 3012c36a0f63...","2017-10-18 23:21:35, 2017-12-30 12:19:04, 2017...",14.0,1839.86,419.69,15130,mirassol,SP,Southest,-20.815284,-49.507466,home_appliances,"780.0, 780.0, 780.0, 780.0, 1048.0, 780.0, 780...","5.0, 5.0, 5.0, 5.0, 4.0, 5.0, 5.0, 5.0, 5.0, 5...","7600.0, 7600.0, 7600.0, 7600.0, 3600.0, 7600.0...","60000.0, 60000.0, 60000.0, 60000.0, 18150.0, 6...",0
3054,fffd5413c0700ac820c7069d66d98c89,59,"05df1c1ff1b3e0ba073493d2ca0bdffc, 0aaf8268ec2a...","2018-01-24 10:21:52, 2017-10-02 12:32:44, 2018...",64.0,8962.50,2799.77,13908,amparo,SP,Southest,-22.722793,-46.846086,"housewares, furniture_decor, furniture_living_...","436.0, 436.0, 387.0, 434.0, 285.0, 534.0, 256....","1.0, 1.0, 1.0, 1.0, 3.0, 2.0, 3.0, 4.0, 4.0, 4...","400.0, 400.0, 25850.0, 6700.0, 600.0, 11250.0,...","4719.0, 4719.0, 147098.0, 31360.0, 2880.0, 480...",3
3055,ffff564a4f9085cd26170f4732393726,16,"021d08e4057e5b6414c8d2f69f4f72a0, 2fbb05b3ee70...","2016-10-07 17:37:49, 2016-10-10 15:37:12, 2017...",16.0,831.65,264.90,13070,campinas,SP,Southest,-22.893511,-47.080024,"auto, market_place, electronics, N/A, housewar...","393.0, 975.0, 1221.0, 317.0, 231.0, 1798.0, 28...","2.0, 1.0, 4.0, 3.0, 3.0, 1.0, 3.0, 3.0, 0.0, 3...","100.0, 950.0, 1200.0, 100.0, 100.0, 500.0, 100...","4913.0, 10608.0, 8000.0, 4913.0, 4913.0, 6400....",0

In [406]:
cols = ['p_desc_len_avg', 'p_photo_qty_avg', 'p_weight_g_avg', 'p_volume_cm3_avg']

def get_average(val):
    list = [float(x) for x in val.split(', ')]
    return round(np.mean(list))

for col in cols:
    seller_result2[col] = seller_result2[col].apply(get_average)
seller_result2

,seller_id,order_id_count,total_order_id,total_purchase_timestamp,order_item_num,price_sum,freight_sum,seller_zip_code,seller_city,seller_state,seller_region,seller_lat,seller_lng,p_category,p_desc_len_avg,p_photo_qty_avg,p_weight_g_avg,p_volume_cm3_avg,re_order_count
0,0015a82c2db000af6aaaf3ae2ecb0532,3,"7f39ba4c9052be115350065d07583cac, 9dc8d1a6f16f...","2017-10-18 08:16:34, 2017-10-12 13:33:22, 2017...",3.0,2685.00,63.06,9080,santo andre,SP,Southest,-23.641517,-46.542105,small_appliances,849,2,11800,61920,0
1,001cca7ae9ae17fb1caed9dfb1094831,200,"006e43460a55bc60c0a437521e426529, 00dfb074b5c9...","2017-05-11 00:24:35, 2017-06-08 19:43:35, 2018...",240.0,25080.03,8854.14,29156,cariacica,ES,Southest,-20.271105,-40.415232,"garden_tools, construction_tools_construction",472,2,8996,20709,1
2,002100f778ceb8431b7a1020ff7ab48f,51,"044cd7ffb6a41e6e5513c6595a2893ca, 07c04599729d...","2017-10-29 10:15:00, 2017-09-30 16:53:45, 2017...",56.0,1234.50,793.66,14405,franca,SP,Southest,-20.530007,-47.411024,furniture_decor,654,1,334,9000,2
3,003554e2dce176b5555353e4f3555ac8,1,7e4f454abfc163899a6ef5b4d5facfb2,2017-12-15 06:52:25,1.0,120.00,19.38,74565,goiania,GO,CentralWest,-16.642567,-49.274629,N/A,0,0,1200,21000,0
4,004c9cd9d87a3c30c522c48c4fc07416,158,"044223df7cb37509bfeb2a0df1250ca4, 04f1827088d9...","2017-11-02 09:19:16, 2017-12-10 20:42:05, 2017...",171.0,19712.71,3551.23,14940,ibitinga,SP,Southest,-21.757690,-48.829768,"bed_bath_table, N/A, bed_bath_table, N/A",479,1,2474,17779,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3051,ffc470761de7d0232558ba5e786e57b7,28,"001ac194d4a326a6fa99b581e9a3d963, 01e662008f03...","2018-07-04 11:39:11, 2018-06-30 10:04:41, 2018...",31.0,1649.01,438.12,7091,guarulhos,SP,Southest,-23.464392,-46.540897,"construction_tools_construction, housewares, a...",830,2,758,8033,1
3052,ffdd9f82b9a447f6f8d4b91554cc7dd3,18,"0c80c82bdef7f227e7483cdd3c94f697, 105a17b01506...","2018-07-24 12:57:52, 2017-11-27 15:19:38, 2018...",20.0,2101.20,727.46,80030,curitiba,PR,South,-25.417200,-49.259469,"housewares, furniture_decor",530,1,5173,31519,1
3053,ffeee66ac5d5a62fe688b9d26f83f534,14,"16a73b59c868ed5c7152b96b0ebc7693, 3012c36a0f63...","2017-10-18 23:21:35, 2017-12-30 12:19:04, 2017...",14.0,1839.86,419.69,15130,mirassol,SP,Southest,-20.815284,-49.507466,home_appliances,801,5,7325,57011,0
3054,fffd5413c0700ac820c7069d66d98c89,59,"05df1c1ff1b3e0ba073493d2ca0bdffc, 0aaf8268ec2a...","2018-01-24 10:21:52, 2017-10-02 12:32:44, 2018...",64.0,8962.50,2799.77,13908,amparo,SP,Southest,-22.722793,-46.846086,"housewares, furniture_decor, furniture_living_...",448,3,9173,56892,3
3055,ffff564a4f9085cd26170f4732393726,16,"021d08e4057e5b6414c8d2f69f4f72a0, 2fbb05b3ee70...","2016-10-07 17:37:49, 2016-10-10 15:37:12, 2017...",16.0,831.65,264.90,13070,campinas,SP,Southest,-22.893511,-47.080024,"auto, market_place, electronics, N/A, housewar...",539,2,560,10152,0

In [408]:
len(seller_result2['seller_id'].unique())

3056

In [413]:
seller_result2['price_avg'] = (seller_result2['price_sum'] / seller_result2['order_item_num']).round(1)
seller_result2['freight_avg'] = (seller_result2['freight_sum'] / seller_result2['order_item_num']).round(1)
seller_result2['re_order_%'] = (seller_result2['re_order_count'] / seller_result2['order_id_count'] * 100).round(2) #--> 재구매율
seller_result2['pf_ratio_%'] = (seller_result2['freight_sum'] / seller_result2['price_sum'] * 100).round(2) #--> 가격 대비 운일료 비율
seller_result2

,seller_id,order_id_count,total_order_id,total_purchase_timestamp,order_item_num,price_sum,freight_sum,seller_zip_code,seller_city,seller_state,seller_region,seller_lat,seller_lng,p_category,p_desc_len_avg,p_photo_qty_avg,p_weight_g_avg,p_volume_cm3_avg,re_order_count,price_avg,freight_avg
0,0015a82c2db000af6aaaf3ae2ecb0532,3,"7f39ba4c9052be115350065d07583cac, 9dc8d1a6f16f...","2017-10-18 08:16:34, 2017-10-12 13:33:22, 2017...",3.0,2685.00,63.06,9080,santo andre,SP,Southest,-23.641517,-46.542105,small_appliances,849,2,11800,61920,0,895.0,21.0
1,001cca7ae9ae17fb1caed9dfb1094831,200,"006e43460a55bc60c0a437521e426529, 00dfb074b5c9...","2017-05-11 00:24:35, 2017-06-08 19:43:35, 2018...",240.0,25080.03,8854.14,29156,cariacica,ES,Southest,-20.271105,-40.415232,"garden_tools, construction_tools_construction",472,2,8996,20709,1,104.5,36.9
2,002100f778ceb8431b7a1020ff7ab48f,51,"044cd7ffb6a41e6e5513c6595a2893ca, 07c04599729d...","2017-10-29 10:15:00, 2017-09-30 16:53:45, 2017...",56.0,1234.50,793.66,14405,franca,SP,Southest,-20.530007,-47.411024,furniture_decor,654,1,334,9000,2,22.0,14.2
3,003554e2dce176b5555353e4f3555ac8,1,7e4f454abfc163899a6ef5b4d5facfb2,2017-12-15 06:52:25,1.0,120.00,19.38,74565,goiania,GO,CentralWest,-16.642567,-49.274629,N/A,0,0,1200,21000,0,120.0,19.4
4,004c9cd9d87a3c30c522c48c4fc07416,158,"044223df7cb37509bfeb2a0df1250ca4, 04f1827088d9...","2017-11-02 09:19:16, 2017-12-10 20:42:05, 2017...",171.0,19712.71,3551.23,14940,ibitinga,SP,Southest,-21.757690,-48.829768,"bed_bath_table, N/A, bed_bath_table, N/A",479,1,2474,17779,3,115.3,20.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3051,ffc470761de7d0232558ba5e786e57b7,28,"001ac194d4a326a6fa99b581e9a3d963, 01e662008f03...","2018-07-04 11:39:11, 2018-06-30 10:04:41, 2018...",31.0,1649.01,438.12,7091,guarulhos,SP,Southest,-23.464392,-46.540897,"construction_tools_construction, housewares, a...",830,2,758,8033,1,53.2,14.1
3052,ffdd9f82b9a447f6f8d4b91554cc7dd3,18,"0c80c82bdef7f227e7483cdd3c94f697, 105a17b01506...","2018-07-24 12:57:52, 2017-11-27 15:19:38, 2018...",20.0,2101.20,727.46,80030,curitiba,PR,South,-25.417200,-49.259469,"housewares, furniture_decor",530,1,5173,31519,1,105.1,36.4
3053,ffeee66ac5d5a62fe688b9d26f83f534,14,"16a73b59c868ed5c7152b96b0ebc7693, 3012c36a0f63...","2017-10-18 23:21:35, 2017-12-30 12:19:04, 2017...",14.0,1839.86,419.69,15130,mirassol,SP,Southest,-20.815284,-49.507466,home_appliances,801,5,7325,57011,0,131.4,30.0
3054,fffd5413c0700ac820c7069d66d98c89,59,"05df1c1ff1b3e0ba073493d2ca0bdffc, 0aaf8268ec2a...","2018-01-24 10:21:52, 2017-10-02 12:32:44, 2018...",64.0,8962.50,2799.77,13908,amparo,SP,Southest,-22.722793,-46.846086,"housewares, furniture_decor, furniture_living_...",448,3,9173,56892,3,140.0,43.7
3055,ffff564a4f9085cd26170f4732393726,16,"021d08e4057e5b6414c8d2f69f4f72a0, 2fbb05b3ee70...","2016-10-07 17:37:49, 2016-10-10 15:37:12, 2017...",16.0,831.65,264.90,13070,campinas,SP,Southest,-22.893511,-47.080024,"auto, market_place, electronics, N/A, housewar...",539,2,560,10152,0,52.0,16.6

In [426]:
seller_result3 = seller_result2[[
	'seller_id', 'order_id_count', 're_order_count', 're_order_%', 'p_category', 'order_item_num',
 	'price_sum', 'freight_sum', 'pf_ratio_%', 'price_avg', 'freight_avg',
    'p_desc_len_avg', 'p_photo_qty_avg', 'p_weight_g_avg', 'p_volume_cm3_avg'
]]
seller_result3

,seller_id,order_id_count,re_order_count,re_order_%,p_category,order_item_num,price_sum,freight_sum,pf_ratio_%,price_avg,freight_avg,p_desc_len_avg,p_photo_qty_avg,p_weight_g_avg,p_volume_cm3_avg
0,0015a82c2db000af6aaaf3ae2ecb0532,3,0,0.00,small_appliances,3.0,2685.00,63.06,2.35,895.0,21.0,849,2,11800,61920
1,001cca7ae9ae17fb1caed9dfb1094831,200,1,0.50,"garden_tools, construction_tools_construction",240.0,25080.03,8854.14,35.30,104.5,36.9,472,2,8996,20709
2,002100f778ceb8431b7a1020ff7ab48f,51,2,3.92,furniture_decor,56.0,1234.50,793.66,64.29,22.0,14.2,654,1,334,9000
3,003554e2dce176b5555353e4f3555ac8,1,0,0.00,N/A,1.0,120.00,19.38,16.15,120.0,19.4,0,0,1200,21000
4,004c9cd9d87a3c30c522c48c4fc07416,158,3,1.90,"bed_bath_table, N/A, bed_bath_table, N/A",171.0,19712.71,3551.23,18.01,115.3,20.8,479,1,2474,17779
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3051,ffc470761de7d0232558ba5e786e57b7,28,1,3.57,"construction_tools_construction, housewares, a...",31.0,1649.01,438.12,26.57,53.2,14.1,830,2,758,8033
3052,ffdd9f82b9a447f6f8d4b91554cc7dd3,18,1,5.56,"housewares, furniture_decor",20.0,2101.20,727.46,34.62,105.1,36.4,530,1,5173,31519
3053,ffeee66ac5d5a62fe688b9d26f83f534,14,0,0.00,home_appliances,14.0,1839.86,419.69,22.81,131.4,30.0,801,5,7325,57011
3054,fffd5413c0700ac820c7069d66d98c89,59,3,5.08,"housewares, furniture_decor, furniture_living_...",64.0,8962.50,2799.77,31.24,140.0,43.7,448,3,9173,56892
3055,ffff564a4f9085cd26170f4732393726,16,0,0.00,"auto, market_place, electronics, N/A, housewar...",16.0,831.65,264.90,31.85,52.0,16.6,539,2,560,10152

In [427]:
seller_result3.sort_values(by='order_id_count', ascending=False).head(10)

,seller_id,order_id_count,re_order_count,re_order_%,p_category,order_item_num,price_sum,freight_sum,pf_ratio_%,price_avg,freight_avg,p_desc_len_avg,p_photo_qty_avg,p_weight_g_avg,p_volume_cm3_avg
1220,6560211a19b47992c3666cc44a7e94c0,1847,57,3.09,"fashion_bags_accessories, watches_gifts, const...",2038.0,122776.83,27745.19,22.60,60.2,13.6,379,4,257,503
873,4a3ca9315b744ce9f8e9374361493884,1804,50,2.77,"bed_bath_table, home_confort, furniture_decor,...",2045.0,200326.12,35033.18,17.49,98.0,17.1,331,1,2136,22990
2452,cc419e0650a3c5ba77189a1882b7556a,1697,30,1.77,"health_beauty, telephony, perfumery, food",1770.0,103634.51,25535.44,24.64,58.6,14.4,843,2,335,5111
366,1f50f920176fa81dab994f9023523100,1403,36,2.57,"garden_tools, signaling_and_security, baby, ba...",1956.0,106889.31,35148.17,32.88,54.6,18.0,347,2,1802,24929
2613,da8622b14eb17ae2831f4ac5b9dab84a,1314,41,3.12,"bed_bath_table, health_beauty, bed_bath_table,...",1576.0,160236.57,24955.75,15.57,101.7,15.8,245,1,1327,7374
1800,955fee9216a65b617aa5c0531780ce60,1286,17,1.32,"sports_leisure, construction_tools_lights, hea...",1504.0,135159.70,25423.20,18.81,89.9,16.9,1000,6,2385,16385
1486,7a67c85e85bb2ce8582c35f2203ad736,1159,16,1.38,"cool_stuff, baby",1182.0,141715.54,20891.70,14.74,119.9,17.7,865,1,1620,20712
2802,ea8482cd71df3c1969d7b9473ff13abc,1145,27,2.36,"telephony, auto, auto, telephony",1213.0,37147.53,17536.99,47.21,30.6,14.5,698,5,283,890
849,4869f7a5dfa277a7dca6462dcf3b52b2,1131,25,2.21,"watches_gifts, cool_stuff, health_beauty, cons...",1162.0,229237.63,20155.81,8.79,197.3,17.3,523,2,1137,2959
724,3d871de0142ce09b7081e2b9d1733cb1,1076,14,1.30,"stationery, watches_gifts, toys, cool_stuff, b...",1160.0,94508.20,22327.60,23.63,81.5,19.2,229,4,4811,32736

In [428]:
seller_result3.sort_values(by='re_order_count', ascending=False).head(20)

,seller_id,order_id_count,re_order_count,re_order_%,p_category,order_item_num,price_sum,freight_sum,pf_ratio_%,price_avg,freight_avg,p_desc_len_avg,p_photo_qty_avg,p_weight_g_avg,p_volume_cm3_avg
1220,6560211a19b47992c3666cc44a7e94c0,1847,57,3.09,"fashion_bags_accessories, watches_gifts, const...",2038.0,122776.83,27745.19,22.60,60.2,13.6,379,4,257,503
873,4a3ca9315b744ce9f8e9374361493884,1804,50,2.77,"bed_bath_table, home_confort, furniture_decor,...",2045.0,200326.12,35033.18,17.49,98.0,17.1,331,1,2136,22990
2613,da8622b14eb17ae2831f4ac5b9dab84a,1314,41,3.12,"bed_bath_table, health_beauty, bed_bath_table,...",1576.0,160236.57,24955.75,15.57,101.7,15.8,245,1,1327,7374
366,1f50f920176fa81dab994f9023523100,1403,36,2.57,"garden_tools, signaling_and_security, baby, ba...",1956.0,106889.31,35148.17,32.88,54.6,18.0,347,2,1802,24929
2452,cc419e0650a3c5ba77189a1882b7556a,1697,30,1.77,"health_beauty, telephony, perfumery, food",1770.0,103634.51,25535.44,24.64,58.6,14.4,843,2,335,5111
2802,ea8482cd71df3c1969d7b9473ff13abc,1145,27,2.36,"telephony, auto, auto, telephony",1213.0,37147.53,17536.99,47.21,30.6,14.5,698,5,283,890
2784,e9779976487b77c6d4ac45f75ec7afe9,656,27,4.12,"sports_leisure, food, health_beauty, drinks, f...",754.0,43127.95,10127.86,23.48,57.2,13.4,2181,3,574,7739
849,4869f7a5dfa277a7dca6462dcf3b52b2,1131,25,2.21,"watches_gifts, cool_stuff, health_beauty, cons...",1162.0,229237.63,20155.81,8.79,197.3,17.3,523,2,1137,2959
1012,53e4c6e0f4312d4d2107a8c9cddf45cd,471,23,4.88,"housewares, garden_tools, furniture_decor, N/A...",532.0,29969.01,9827.83,32.79,56.3,18.5,557,1,4120,35059
291,1900267e848ceeba8fa32d80c1a5f5a8,411,21,5.11,"bed_bath_table, pet_shop, home_confort",572.0,24982.53,8138.06,32.58,43.7,14.2,489,1,1203,5940
191,1025f0e2d44d7041d6cf58b6550e0bfa,915,21,2.30,"signaling_and_security, furniture_decor, home_...",1453.0,138968.55,33892.14,24.39,95.6,23.3,693,1,4302,33965
661,391fc6631aebcf3004804e51b40bcf1e,526,20,3.80,"bed_bath_table, furniture_decor, N/A",636.0,39951.95,10190.88,25.51,62.8,16.0,216,4,1182,9010
913,4d6d651bd7684af3fffabd5f08d12e5a,368,19,5.16,"sports_leisure, perfumery, health_beauty",401.0,43517.50,7882.79,18.11,108.5,19.7,1127,1,2788,6150
2987,fa1c13f2614d7b5c4749cbc52fecda94,584,17,2.91,"watches_gifts, sports_leisure, electronics, au...",592.0,192842.13,10019.54,5.20,325.7,16.9,608,2,354,2887
1800,955fee9216a65b617aa5c0531780ce60,1286,17,1.32,"sports_leisure, construction_tools_lights, hea...",1504.0,135159.70,25423.20,18.81,89.9,16.9,1000,6,2385,16385
350,1da3aeb70d7989d1e6d9b0e887f97c23,264,16,6.06,"toys, stationery, health_beauty, perfumery, co...",334.0,8733.53,4206.18,48.16,26.1,12.6,537,2,466,8651
172,0ea22c1cfbdc755f86b9b54b39c16043,237,16,6.75,"fashion_bags_accessories, toys, stationery, fa...",279.0,10711.70,4363.61,40.74,38.4,15.6,392,4,261,1623
1486,7a67c85e85bb2ce8582c35f2203ad736,1159,16,1.38,"cool_stuff, baby",1182.0,141715.54,20891.70,14.74,119.9,17.7,865,1,1620,20712
1686,8b321bb669392f5163d04c59e235e066,943,16,1.70,"electronics, air_conditioning, musical_instrum...",1022.0,17535.69,14156.36,80.73,17.2,13.9,492,1,206,4313
2518,d2374cbcbb3ca4ab1086534108cc3ab7,523,16,3.06,"bed_bath_table, auto, cool_stuff, baby",655.0,21196.02,9578.78,45.19,32.4,14.6,146,1,582,5663

In [423]:
seller_result3['re_order_count'].sum()

2364

In [429]:
seller_result3.sort_values(by='re_order_%', ascending=False).head(10)

,seller_id,order_id_count,re_order_count,re_order_%,p_category,order_item_num,price_sum,freight_sum,pf_ratio_%,price_avg,freight_avg,p_desc_len_avg,p_photo_qty_avg,p_weight_g_avg,p_volume_cm3_avg
2959,f7c31656c19db6275a8acadca289f426,1,1,100.0,N/A,1.0,61.56,16.19,26.30,61.6,16.2,0,0,600,7200
2630,dc120d932ddf9d4dfb6fd68beefda622,1,1,100.0,computers_accessories,1.0,130.00,14.44,11.11,130.0,14.4,1209,3,1600,4554
807,43a1d4bab73b816e44ef4e4facd9f9b5,1,1,100.0,health_beauty,1.0,189.90,15.50,8.16,189.9,15.5,3173,1,125,2772
1781,93bef6edaa84956e8e575016449b6351,1,1,100.0,sports_leisure,1.0,115.00,14.56,12.66,115.0,14.6,2981,1,2600,33600
687,3ac588cd562971392504a9e17130c40b,1,1,100.0,fashion_bags_accessories,1.0,11.90,7.39,62.10,11.9,7.4,106,1,50,1056
2161,b5f0712d22a873b6797ab6cc65c3fcba,1,1,100.0,food_drink,1.0,12.99,8.29,63.82,13.0,8.3,898,1,400,1792
1388,723a46b89fd5c3ed78ccdf039e33ac63,1,1,100.0,auto,1.0,66.64,23.40,35.11,66.6,23.4,974,6,800,14000
2902,f3055483058c84d75ca2a3314fb4deef,1,1,100.0,pet_shop,1.0,67.50,35.79,53.02,67.5,35.8,346,1,833,23520
2209,ba8e85df286308fe68a2ce83a8f8b2d6,1,1,100.0,perfumery,1.0,80.90,16.76,20.72,80.9,16.8,360,2,950,3696
140,0b1ca3ef18a63d7eb0c8897fa0849c08,1,1,100.0,health_beauty,1.0,55.00,7.87,14.31,55.0,7.9,966,1,150,4620

In [432]:
order_sp_info[order_sp_info['seller_id']=='f7c31656c19db6275a8acadca289f426']

,order_id,purchase_timestamp,order_item_id,price,freight_value,seller_id,seller_zip_code,seller_city,seller_state,seller_region,seller_lat,seller_lng,product_category_name,product_desc_len,product_photos_qty,product_weight_g,product_volume_cm3,is_re_order
62751,6667ce63925742278c4eb0f5d83a913c,2018-02-15 11:26:40,1.0,61.56,16.19,f7c31656c19db6275a8acadca289f426,14940,ibitinga,SP,Southest,-21.75769,-48.829768,N/A,0.0,0.0,600.0,7200.0,True

In [434]:
idx = seller_result3[(seller_result3['order_id_count']==1) & (seller_result3['re_order_count']==1)].index.tolist()
seller_result3.loc[idx, 're_order_%'] = 0
seller_result3[(seller_result3['order_id_count']==1) & (seller_result3['re_order_count']==1)]

,seller_id,order_id_count,re_order_count,re_order_%,p_category,order_item_num,price_sum,freight_sum,pf_ratio_%,price_avg,freight_avg,p_desc_len_avg,p_photo_qty_avg,p_weight_g_avg,p_volume_cm3_avg
140,0b1ca3ef18a63d7eb0c8897fa0849c08,1,1,0.0,health_beauty,1.0,55.00,7.87,14.31,55.0,7.9,966,1,150,4620
687,3ac588cd562971392504a9e17130c40b,1,1,0.0,fashion_bags_accessories,1.0,11.90,7.39,62.10,11.9,7.4,106,1,50,1056
807,43a1d4bab73b816e44ef4e4facd9f9b5,1,1,0.0,health_beauty,1.0,189.90,15.50,8.16,189.9,15.5,3173,1,125,2772
853,48e5ee06fb2dc74df1c711a9b6dfac2a,1,1,0.0,construction_tools_construction,3.0,57.00,45.30,79.47,19.0,15.1,1973,9,200,4800
1388,723a46b89fd5c3ed78ccdf039e33ac63,1,1,0.0,auto,1.0,66.64,23.40,35.11,66.6,23.4,974,6,800,14000
1781,93bef6edaa84956e8e575016449b6351,1,1,0.0,sports_leisure,1.0,115.00,14.56,12.66,115.0,14.6,2981,1,2600,33600
2161,b5f0712d22a873b6797ab6cc65c3fcba,1,1,0.0,food_drink,1.0,12.99,8.29,63.82,13.0,8.3,898,1,400,1792
2209,ba8e85df286308fe68a2ce83a8f8b2d6,1,1,0.0,perfumery,1.0,80.90,16.76,20.72,80.9,16.8,360,2,950,3696
2630,dc120d932ddf9d4dfb6fd68beefda622,1,1,0.0,computers_accessories,1.0,130.00,14.44,11.11,130.0,14.4,1209,3,1600,4554
2902,f3055483058c84d75ca2a3314fb4deef,1,1,0.0,pet_shop,1.0,67.50,35.79,53.02,67.5,35.8,346,1,833,23520
2959,f7c31656c19db6275a8acadca289f426,1,1,0.0,N/A,1.0,61.56,16.19,26.30,61.6,16.2,0,0,600,7200

In [435]:
seller_result3.sort_values(by='re_order_%', ascending=False).head(10)

,seller_id,order_id_count,re_order_count,re_order_%,p_category,order_item_num,price_sum,freight_sum,pf_ratio_%,price_avg,freight_avg,p_desc_len_avg,p_photo_qty_avg,p_weight_g_avg,p_volume_cm3_avg
1196,63272377184e969942f7fff221be858d,2,1,50.00,housewares,2.0,149.70,66.53,44.44,74.8,33.3,2941,1,4225,84974
2010,a7d0f8dd44f57ef6de7f7f02e3d82630,2,1,50.00,"cool_stuff, health_beauty",2.0,73.79,25.88,35.07,36.9,12.9,966,2,592,7003
901,4c4d546adf3c3868fe19c9ec6e9ffda9,2,1,50.00,pet_shop,3.0,111.70,45.39,40.64,37.2,15.1,262,2,250,2780
1941,a20d8058c866dbaeca014d2cd20ac62e,2,1,50.00,small_appliances,2.0,1194.00,44.90,3.76,597.0,22.4,2916,14,1500,4608
2723,e546117ed9cafbc40239c0c78635c584,2,1,50.00,perfumery,2.0,456.00,28.34,6.21,228.0,14.2,2724,1,250,3168
1165,6025c79c035c3d772133b8b8238463b2,2,1,50.00,auto,4.0,989.74,108.59,10.97,247.4,27.1,638,1,1267,2903
97,07e8e8fc5222bb358e6f259da3197074,2,1,50.00,N/A,2.0,51.80,23.06,44.52,25.9,11.5,0,0,225,6440
2035,aae5e7b457a3c72ee230a47d98fceda5,5,2,40.00,bed_bath_table,7.0,604.80,140.77,23.28,86.4,20.1,982,2,1950,15578
888,4bcec44888b30ba9001234c534716d3f,5,2,40.00,health_beauty,5.0,146.00,63.23,43.31,29.2,12.6,346,1,320,2186
2503,d149de2f383552baea37a7198c2296ce,3,1,33.33,toys,3.0,320.70,33.67,10.50,106.9,11.2,804,1,617,11209

In [422]:
seller_result3.sort_values(by='price_avg', ascending=False).head(10)

,seller_id,order_id_count,re_order_count,p_category,order_item_num,price_sum,price_avg,freight_sum,freight_avg,p_desc_len_avg,p_photo_qty_avg,p_weight_g_avg,p_volume_cm3_avg
1564,80ceebb4ee9b31afb6c6a916a574a1e2,1,0,computers,1.0,6729.00,6729.0,193.21,193.2,1935,4,5660,45684
2847,ee27a8f15b1dded4d213a468ba4eb391,1,0,art,1.0,6499.00,6499.0,227.66,227.7,3954,2,7400,29375
1066,585175ec331ea177fa47199e39a6170a,1,0,computers,1.0,3549.00,3549.0,53.47,53.5,1265,7,3200,8400
2047,abe021b01ba992245271b9aa422032df,2,0,N/A,2.0,6720.00,3360.0,117.24,58.6,0,0,800,950
1919,a00824eb9093d40e589b940ec45c4eb0,3,0,computers,3.0,9399.97,3133.3,379.49,126.5,2009,2,25950,155610
2698,e2a1ac9bf33e5549a2a4f834e70df2f8,5,0,computers_accessories,5.0,14999.45,2999.9,201.11,40.2,1186,4,4000,14280
2779,e908c0f3646e8b60375734a350d95d71,1,0,computers_accessories,1.0,2951.00,2951.0,58.53,58.5,1545,2,6250,4500
2559,d63c73efd41eb002280e7ec831424edb,2,0,health_beauty,2.0,5598.00,2799.0,168.59,84.3,1842,2,9125,64736
237,1444c08e64d55fb3c25f0f09c07ffcf2,1,0,garden_tools,1.0,2749.00,2749.0,69.74,69.7,2612,3,50,24684
41,039e6ad9dae79614493083e241147386,5,0,garden_tools,5.0,12925.00,2585.0,348.42,69.7,2196,1,7580,30087

### ◼ Olist Products

$~√~$  Null값을 SQL query로 처리

In [ ]:
query = """
UPDATE olist_products
SET product_category_name = COALESCE(product_category_name, 'N/A'),
	product_name_lenght = COALESCE(product_name_lenght, 0),
	product_description_lenght = COALESCE(product_description_lenght, 0),
	product_photos_qty = COALESCE(product_photos_qty, 0)
"""

In [345]:
query = """
SELECT product_id, product_category_name, product_description_lenght product_desc_len, product_photos_qty,
product_weight_g, (product_length_cm*product_height_cm*product_width_cm) product_volume_cm3
FROM olist_products;
"""
df_products = pd.read_sql(query, con=engine)
df_products

,product_id,product_category_name,product_desc_len,product_photos_qty,product_weight_g,product_volume_cm3
0,00066f42aeeb9f3007548bb9d3f33c38,perfumery,596.0,6.0,300.0,5120.0
1,00088930e925c41fd95ebfe695fd2655,auto,752.0,4.0,1225.0,14300.0
2,0009406fd7479715e4bef61dd91f2462,bed_bath_table,266.0,2.0,300.0,23625.0
3,000b8f95fcb9e0096488278317764d19,housewares,364.0,3.0,550.0,5472.0
4,000d9be29b5207b54e86aa1b1ac54872,watches_gifts,613.0,4.0,250.0,3630.0
...,...,...,...,...,...,...
32946,fff6177642830a9a94a0f2cba5e476d1,cool_stuff,842.0,1.0,1400.0,15750.0
32947,fff81cc3158d2725c0655ab9ba0f712c,health_beauty,643.0,1.0,58.0,2816.0
32948,fff9553ac224cec9d15d49f5a263411f,fashion_bags_accessories,328.0,3.0,150.0,2288.0
32949,fffdb2d0ec8d6a61f0a0a0db3f25b441,computers_accessories,501.0,5.0,150.0,832.0
32950,fffe9eeff12fcbd74a2f2b007dde0c58,toys,1536.0,3.0,3900.0,7568.0

In [358]:
df_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             32951 non-null  object
 1   product_category_name  32951 non-null  object
 2   product_desc_len       32951 non-null  float64
 3   product_photos_qty     32951 non-null  float64
 4   product_weight_g       32949 non-null  float64
 5   product_volume_cm3     32949 non-null  float64
dtypes: float64(4), object(2)
memory usage: 1.5+ MB

In [359]:
df_products.isna().sum()

product_id               0
product_category_name    0
product_desc_len         0
product_photos_qty       0
product_weight_g         2
product_volume_cm3       2
dtype: int64

In [360]:
df_products.loc[df_products[df_products['product_weight_g'].isnull()].index, 'product_weight_g'] = 0
df_products.loc[df_products[df_products['product_volume_cm3'].isnull()].index, 'product_volume_cm3'] = 0
df_products.isna().sum()

product_id               0
product_category_name    0
product_desc_len         0
product_photos_qty       0
product_weight_g         0
product_volume_cm3       0
dtype: int64

In [54]:
df_orders

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,seller_zip_code,seller_city,seller_state,seller_region,seller_lat,seller_lng
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,27277,volta redonda,SP,Southest,-22.498419,-44.125272
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,3471,sao paulo,SP,Southest,-23.564289,-46.519045
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,37564,borda da mata,MG,Southest,-22.271648,-46.165556
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,14403,franca,SP,Southest,-20.554951,-47.387691
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,87900,loanda,PR,South,-22.930408,-53.136438
...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,88303,itajai,SC,South,-26.912616,-48.674015
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,1206,sao paulo,SP,Southest,-23.536609,-46.642445
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,80610,curitiba,PR,South,-25.469632,-49.291261
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,4733,sao paulo,SP,Southest,-23.636321,-46.694586
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,14940,ibitinga,SP,Southest,-21.757690,-48.829768

In [56]:
# order_items, sellers, products
order_ps_info = order_seller_info.merge(
	df_products, how='left', left_on='product_id', right_on='product_id'
)
order_ps_info

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,seller_zip_code,seller_city,seller_state,seller_region,seller_lat,seller_lng,product_category_name,product_description_lenght,product_photos_qty,product_weight_g,product_volume_cm3
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,27277,volta redonda,SP,Southest,-22.498419,-44.125272,cool_stuff,598.0,4.0,650.0,3528.0
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,3471,sao paulo,SP,Southest,-23.564289,-46.519045,pet_shop,239.0,2.0,30000.0,60000.0
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,37564,borda da mata,MG,Southest,-22.271648,-46.165556,furniture_decor,695.0,2.0,3050.0,14157.0
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,14403,franca,SP,Southest,-20.554951,-47.387691,perfumery,480.0,1.0,200.0,2400.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,87900,loanda,PR,South,-22.930408,-53.136438,garden_tools,409.0,1.0,3750.0,42000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,88303,itajai,SC,South,-26.912616,-48.674015,housewares,1002.0,3.0,10150.0,53400.0
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,1206,sao paulo,SP,Southest,-23.536609,-46.642445,computers_accessories,232.0,1.0,8950.0,44460.0
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,80610,curitiba,PR,South,-25.469632,-49.291261,sports_leisure,869.0,1.0,967.0,9576.0
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,4733,sao paulo,SP,Southest,-23.636321,-46.694586,computers_accessories,1306.0,1.0,100.0,8000.0
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,14940,ibitinga,SP,Southest,-21.757690,-48.829768,bed_bath_table,511.0,1.0,600.0,1710.0

In [57]:
order_ps_info.isna().sum()

order_id                        0
order_item_id                   0
product_id                      0
seller_id                       0
shipping_limit_date             0
price                           0
freight_value                   0
seller_zip_code                 0
seller_city                     0
seller_state                    0
seller_region                   0
seller_lat                    253
seller_lng                    253
product_category_name           0
product_description_lenght      0
product_photos_qty              0
product_weight_g                0
product_volume_cm3              0
dtype: int64

In [60]:
cols = [
    'order_id', 'order_item_id', 'price', 'freight_value',
    'seller_id', 'seller_zip_code', 'seller_city', 'seller_state', 'seller_region', 'seller_lat', 'seller_lng',
    'product_id', 'product_category_name', 'product_description_lenght', 'product_photos_qty', 'product_weight_g', 'product_volume_cm3'
]

order_ps_info = order_ps_info[cols]
order_ps_info

,order_id,order_item_id,price,freight_value,seller_id,seller_zip_code,seller_city,seller_state,seller_region,seller_lat,seller_lng,product_id,product_category_name,product_description_lenght,product_photos_qty,product_weight_g,product_volume_cm3
0,00010242fe8c5a6d1ba2dd792cb16214,1,58.90,13.29,48436dade18ac8b2bce089ec2a041202,27277,volta redonda,SP,Southest,-22.498419,-44.125272,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,598.0,4.0,650.0,3528.0
1,00018f77f2f0320c557190d7a144bdd3,1,239.90,19.93,dd7ddc04e1b6c2c614352b383efe2d36,3471,sao paulo,SP,Southest,-23.564289,-46.519045,e5f2d52b802189ee658865ca93d83a8f,pet_shop,239.0,2.0,30000.0,60000.0
2,000229ec398224ef6ca0657da4fc703e,1,199.00,17.87,5b51032eddd242adc84c38acab88f23d,37564,borda da mata,MG,Southest,-22.271648,-46.165556,c777355d18b72b67abbeef9df44fd0fd,furniture_decor,695.0,2.0,3050.0,14157.0
3,00024acbcdf0a6daa1e931b038114c75,1,12.99,12.79,9d7a1d34a5052409006425275ba1c2b4,14403,franca,SP,Southest,-20.554951,-47.387691,7634da152a4610f1595efa32f14722fc,perfumery,480.0,1.0,200.0,2400.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,199.90,18.14,df560393f3a51e74553ab94004ba5c87,87900,loanda,PR,South,-22.930408,-53.136438,ac6c3623068f30de03045865e4e10089,garden_tools,409.0,1.0,3750.0,42000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,299.99,43.41,b8bc237ba3788b23da09c0f1f3a3288c,88303,itajai,SC,South,-26.912616,-48.674015,4aa6014eceb682077f9dc4bffebc05b0,housewares,1002.0,3.0,10150.0,53400.0
112646,fffcd46ef2263f404302a634eb57f7eb,1,350.00,36.53,f3c38ab652836d21de61fb8314b69182,1206,sao paulo,SP,Southest,-23.536609,-46.642445,32e07fd915822b0765e448c4dd74c828,computers_accessories,232.0,1.0,8950.0,44460.0
112647,fffce4705a9662cd70adb13d4a31832d,1,99.90,16.95,c3cfdc648177fdbbbb35635a37472c53,80610,curitiba,PR,South,-25.469632,-49.291261,72a30483855e2eafc67aee5dc2560482,sports_leisure,869.0,1.0,967.0,9576.0
112648,fffe18544ffabc95dfada21779c9644f,1,55.99,8.72,2b3e4a2a3ea8e01938cabda2a3e5cc79,4733,sao paulo,SP,Southest,-23.636321,-46.694586,9c422a519119dcad7575db5af1ba540e,computers_accessories,1306.0,1.0,100.0,8000.0
112649,fffe41c64501cc87c801fd61db3f6244,1,43.00,12.79,f7ccf836d21b2fb1de37564105216cc1,14940,ibitinga,SP,Southest,-21.757690,-48.829768,350688d9dc1e75ff97be326363655e01,bed_bath_table,511.0,1.0,600.0,1710.0

In [61]:
order_ps_info.isna().sum()

order_id                        0
order_item_id                   0
price                           0
freight_value                   0
seller_id                       0
seller_zip_code                 0
seller_city                     0
seller_state                    0
seller_region                   0
seller_lat                    253
seller_lng                    253
product_id                      0
product_category_name           0
product_description_lenght      0
product_photos_qty              0
product_weight_g                0
product_volume_cm3              0
dtype: int64

In [ ]:
def join_unique_values(series):
    unique_values = series.drop_duplicates()
    return ', '.join(unique_values)

order_items = df_order_items.groupby('order_id', as_index=False).aggregate({
    'order_item_id': 'last',
    'product_id': join_unique_values,
    'seller_id' : join_unique_values,
    'price': 'sum',
    'freight_value': 'sum'
})
order_items['f/p_ratio_%'] = order_items['freight_value'] / order_items['price'] * 100
order_items

### ◼ Olist

$~√$

### ◼ Olist

$~√$