# 재구매

</br>

## --▶ Dataset Customizing

In [1]:
import pandas as pd
from warnings import simplefilter
simplefilter("ignore")
pd.set_option('display.max_columns', 100)

In [2]:
import pymysql
from sqlalchemy import create_engine
from mysql.connector import connect

engine = create_engine('mysql+pymysql://root:MSQanfqud42!@localhost:3306/ml_project?charset=utf8mb4')

conn = connect(
	host = "localhost",
	user = "root",
	password = "MSQanfqud42!",
	database = "ml_project"
)
cursor = conn.cursor(buffered=True)

In [ ]:
engine.dispose()

cursor.close()
connect.close()
connect.is_connected()

### ◼ Olist Orders

$~√$  order_status=='canceled' 주문 데이터에서 제외하기

$~√$  Order DateTime 데이터 따로 만들기

In [3]:
df_orders = pd.read_sql_query("SELECT * FROM olist_orders WHERE order_status != 'canceled'", engine)
df_orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05 00:00:00
3,00024acbcdf0a6daa1e931b038114c75,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20 00:00:00
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17 00:00:00
...,...,...,...,...,...,...,...,...
98811,fffc94f6ce00a00581880bf54a75a037,b51593916b4b8e0d6f66f2ae24f2673d,delivered,2018-04-23 13:57:06,2018-04-25 04:11:01,2018-04-25 12:09:00,2018-05-10 22:56:40,2018-05-18 00:00:00
98812,fffcd46ef2263f404302a634eb57f7eb,84c5d4fbaf120aae381fad077416eaa0,delivered,2018-07-14 10:26:46,2018-07-17 04:31:48,2018-07-17 08:05:00,2018-07-23 20:31:55,2018-08-01 00:00:00
98813,fffce4705a9662cd70adb13d4a31832d,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23 17:07:56,2017-10-24 17:14:25,2017-10-26 15:13:14,2017-10-28 12:22:22,2017-11-10 00:00:00
98814,fffe18544ffabc95dfada21779c9644f,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14 23:02:59,2017-08-15 00:04:32,2017-08-15 19:02:53,2017-08-16 21:59:40,2017-08-25 00:00:00
98815,fffe41c64501cc87c801fd61db3f6244,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09 17:00:18,2018-06-09 17:10:13,2018-06-11 14:11:00,2018-06-14 17:56:26,2018-06-28 00:00:00

In [4]:
df_orders.shape, len(df_orders['order_id'].unique()), len(df_orders['customer_id'].unique())

((98816, 8), 98816, 98816)

- －__Get Order datetime__

In [5]:
timestamp_cols = [
    'order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date',
    'order_delivered_customer_date', 'order_estimated_delivery_date'
]
for col in timestamp_cols:
    df_orders[col] = pd.to_datetime(df_orders[col])

In [6]:
orders_datetime = df_orders[['order_id', 'customer_id']]
orders_datetime['purchase_timestamp'] = df_orders['order_purchase_timestamp']
orders_datetime

,order_id,customer_id,purchase_timestamp
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,2017-09-13 08:59:02
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,2017-04-26 10:53:06
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,2018-01-14 14:33:31
3,00024acbcdf0a6daa1e931b038114c75,d4eb9395c8c0431ee92fce09860c5a06,2018-08-08 10:00:35
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,2017-02-04 13:57:51
...,...,...,...
98811,fffc94f6ce00a00581880bf54a75a037,b51593916b4b8e0d6f66f2ae24f2673d,2018-04-23 13:57:06
98812,fffcd46ef2263f404302a634eb57f7eb,84c5d4fbaf120aae381fad077416eaa0,2018-07-14 10:26:46
98813,fffce4705a9662cd70adb13d4a31832d,29309aa813182aaddc9b259e31b870e6,2017-10-23 17:07:56
98814,fffe18544ffabc95dfada21779c9644f,b5e6afd5a41800fdf401e0272ca74655,2017-08-14 23:02:59
98815,fffe41c64501cc87c801fd61db3f6244,96d649da0cc4ff33bb408b199d4c7dcf,2018-06-09 17:00:18

In [7]:
# Year and Month
orders_datetime['purchase_date'] = df_orders['order_purchase_timestamp'].apply(lambda x: x.strftime('%Y%m%d'))
orders_datetime['purchase_year_month'] = df_orders['order_purchase_timestamp'].apply(lambda x: x.strftime('%Y%m'))
orders_datetime['purchase_year'] = df_orders['order_purchase_timestamp'].apply(lambda x: x.year)
orders_datetime['purchase_month'] = df_orders['order_purchase_timestamp'].apply(lambda x: x.month)
orders_datetime['purchase_month_name'] = df_orders['order_purchase_timestamp'].apply(lambda x: x.strftime('%b'))

# Day and Day of Week
orders_datetime['purchase_day'] = df_orders['order_purchase_timestamp'].apply(lambda x: x.day)
orders_datetime['purchase_week_no'] = df_orders['order_purchase_timestamp'].apply(lambda x: x.dayofweek)
orders_datetime['purchase_week_name'] = df_orders['order_purchase_timestamp'].apply(lambda x: x.strftime('%a'))

# Hour and Time of the Day
orders_datetime['purchase_hour'] = df_orders['order_purchase_timestamp'].apply(lambda x: x.hour)
hours_bins = [-0.1, 6, 12, 18, 23]
hours_labels = ['Dawn', 'Morning', 'Afternoon', 'Night']
orders_datetime['purchase_time'] = pd.cut(orders_datetime['purchase_hour'], hours_bins, labels=hours_labels)

# delivery days
orders_datetime['actual_delivery_days'] = (df_orders['order_delivered_customer_date'] - df_orders['order_purchase_timestamp']).dt.days
orders_datetime['estimated_delta_days'] = (df_orders['order_delivered_customer_date'] - df_orders['order_estimated_delivery_date']).dt.days
# 음수면 일찍 도착, +면 늦게 도착

orders_datetime

,order_id,customer_id,purchase_timestamp,purchase_date,purchase_year_month,purchase_year,purchase_month,purchase_month_name,purchase_day,purchase_week_no,purchase_week_name,purchase_hour,purchase_time,actual_delivery_days,estimated_delta_days
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,2017-09-13 08:59:02,20170913,201709,2017,9,Sep,13,2,Wed,8,Morning,7.0,-9.0
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,2017-04-26 10:53:06,20170426,201704,2017,4,Apr,26,2,Wed,10,Morning,16.0,-3.0
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,2018-01-14 14:33:31,20180114,201801,2018,1,Jan,14,6,Sun,14,Afternoon,7.0,-14.0
3,00024acbcdf0a6daa1e931b038114c75,d4eb9395c8c0431ee92fce09860c5a06,2018-08-08 10:00:35,20180808,201808,2018,8,Aug,8,2,Wed,10,Morning,6.0,-6.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,2017-02-04 13:57:51,20170204,201702,2017,2,Feb,4,5,Sat,13,Afternoon,25.0,-16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98811,fffc94f6ce00a00581880bf54a75a037,b51593916b4b8e0d6f66f2ae24f2673d,2018-04-23 13:57:06,20180423,201804,2018,4,Apr,23,0,Mon,13,Afternoon,17.0,-8.0
98812,fffcd46ef2263f404302a634eb57f7eb,84c5d4fbaf120aae381fad077416eaa0,2018-07-14 10:26:46,20180714,201807,2018,7,Jul,14,5,Sat,10,Morning,9.0,-9.0
98813,fffce4705a9662cd70adb13d4a31832d,29309aa813182aaddc9b259e31b870e6,2017-10-23 17:07:56,20171023,201710,2017,10,Oct,23,0,Mon,17,Afternoon,4.0,-13.0
98814,fffe18544ffabc95dfada21779c9644f,b5e6afd5a41800fdf401e0272ca74655,2017-08-14 23:02:59,20170814,201708,2017,8,Aug,14,0,Mon,23,Night,1.0,-9.0
98815,fffe41c64501cc87c801fd61db3f6244,96d649da0cc4ff33bb408b199d4c7dcf,2018-06-09 17:00:18,20180609,201806,2018,6,Jun,9,5,Sat,17,Afternoon,5.0,-14.0

In [8]:
orders_datetime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98816 entries, 0 to 98815
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_id              98816 non-null  object
 1   customer_id           98816 non-null  object
 2   purchase_timestamp    98816 non-null  datetime64[ns]
 3   purchase_date         98816 non-null  object
 4   purchase_year_month   98816 non-null  object
 5   purchase_year         98816 non-null  int64
 6   purchase_month        98816 non-null  int64
 7   purchase_month_name   98816 non-null  object
 8   purchase_day          98816 non-null  int64
 9   purchase_week_no      98816 non-null  int64
 10  purchase_week_name    98816 non-null  object
 11  purchase_hour         98816 non-null  int64
 12  purchase_time         98816 non-null  category
 13  actual_delivery_days  96470 non-null  float64
 14  estimated_delta_days  96470 non-null  float64
dtypes: category(1), datetime64[ns](1), float64(2), int64(5), object(6)
memory usage: 10.6+ MB

### ◼ Olist Order Items

$~√~$  `order_item_id`는 하나의 주문 ID에 포함된 품목 수를 식별하는 일련 번호로 제일 마지막 수가 주문한 품목수가 된다.

$~√~$  한 개의 품목마다 나눠져 있는 `order_id`를 하나로 합치고 구매 가격과 화물 가격을 합산하여 총액을 구한다.

$~√~$  구매 가격 대비 운임료 비율을 %로 계한해 추가한다.

In [9]:
df_order_items = pd.read_sql_query("SELECT * FROM olist_order_items", engine)
df_order_items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

- －__Get Unique Order ID__

In [10]:
def join_unique_values(series):
    unique_values = series.drop_duplicates()
    return ', '.join(unique_values)

order_items = df_order_items.groupby('order_id', as_index=False).aggregate({
    'order_item_id': 'last',
    'product_id': join_unique_values,
    'seller_id' : join_unique_values,
    'price': 'sum',
    'freight_value': 'sum'
})
order_items['f/p_ratio_%'] = order_items['freight_value'] / order_items['price'] * 100
order_items

,order_id,order_item_id,product_id,seller_id,price,freight_value,f/p_ratio_%
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.90,13.29,22.563667
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93,8.307628
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.00,17.87,8.979899
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79,98.460354
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,199.90,18.14,9.074537
...,...,...,...,...,...,...,...
98661,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,299.99,43.41,14.470482
98662,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,350.00,36.53,10.437143
98663,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,99.90,16.95,16.966967
98664,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,55.99,8.72,15.574210
98665,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,43.00,12.79,29.744186

In [11]:
len(order_items['order_id'].unique()), len(order_items['seller_id'].unique())

(98666, 4189)

In [13]:
def get_count(x):
    list = str(x).split(', ')
    return len(list)

order_items['product_count'] = order_items['product_id'].map(get_count)
order_items['seller_count'] = order_items['seller_id'].map(get_count)
order_items.tail()

,order_id,order_item_id,product_id,seller_id,price,freight_value,f/p_ratio_%,product_count,seller_count
98661,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,299.99,43.41,14.470482,1,1
98662,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,350.00,36.53,10.437143,1,1
98663,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,99.90,16.95,16.966967,1,1
98664,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,55.99,8.72,15.574210,1,1
98665,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,43.00,12.79,29.744186,1,1

In [14]:
order_items.rename(columns={'order_item_id': 'item_count', 'freight_value': 'freight'}, inplace=True)
order_items = order_items[['order_id', 'item_count', 'product_id', 'product_count', 'seller_id', 'seller_count', 'price', 'freight', 'f/p_ratio_%']]
order_items

,order_id,item_count,product_id,product_count,seller_id,seller_count,price,freight,f/p_ratio_%
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,1,48436dade18ac8b2bce089ec2a041202,1,58.90,13.29,22.563667
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,1,dd7ddc04e1b6c2c614352b383efe2d36,1,239.90,19.93,8.307628
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,1,5b51032eddd242adc84c38acab88f23d,1,199.00,17.87,8.979899
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,1,9d7a1d34a5052409006425275ba1c2b4,1,12.99,12.79,98.460354
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,1,df560393f3a51e74553ab94004ba5c87,1,199.90,18.14,9.074537
...,...,...,...,...,...,...,...,...,...
98661,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,1,b8bc237ba3788b23da09c0f1f3a3288c,1,299.99,43.41,14.470482
98662,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,1,f3c38ab652836d21de61fb8314b69182,1,350.00,36.53,10.437143
98663,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,1,c3cfdc648177fdbbbb35635a37472c53,1,99.90,16.95,16.966967
98664,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,1,2b3e4a2a3ea8e01938cabda2a3e5cc79,1,55.99,8.72,15.574210
98665,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,1,f7ccf836d21b2fb1de37564105216cc1,1,43.00,12.79,29.744186

### ◼ Olist Customers

$~√$  고객의 고유 ID와 위치 정보를 SQL query로 가져온다.

In [15]:
query = """
SELECT
	c.customer_id,
	c.customer_unique_id,
	c.customer_zip_code_prefix customer_zip_code,
	c.customer_city,
	c.customer_state,
	r.Region customer_region,
	g.geolocation_lat customer_lat,
	g.geolocation_lng customer_lng
FROM olist_customers c
LEFT JOIN brazil_state_region r ON c.customer_state=r.State
LEFT JOIN olist_geolocation_in g ON c.customer_zip_code_prefix=g.geolocation_zip_code_prefix
"""

df_customers = pd.read_sql(query, engine)
df_customers

,customer_id,customer_unique_id,customer_zip_code,customer_city,customer_state,customer_region,customer_lat,customer_lng
0,00012a2ce6f8dcda20d059ce98491703,248ffe10d632bebe4f7267f1f44844c9,6273,osasco,SP,Southest,-23.499314,-46.767550
1,000379cdec625522490c315e70c7a9fb,0b83f73b19c2019e182fd552c048a22c,4841,sao paulo,SP,Southest,-23.738482,-46.689273
2,0005aefbb696d34b3424dccd0a0e9fd0,616309b2eeb7bd9c05b0fdfbab28e6c6,3052,sao paulo,SP,Southest,-23.540546,-46.606968
3,00062b33cb9f6fe976afdcff967ea74d,f90f55ee274a4ae21510b386134b09cd,2306,sao paulo,SP,Southest,-23.466214,-46.603454
4,001028b78fd413e19704b3867c369d3a,e57a935f49ffd73b93c18eaaa04efa84,5387,sao paulo,SP,Southest,-23.565890,-46.764876
...,...,...,...,...,...,...,...,...
99436,ffdb7e488ea7c83b9c1258ee2d3776fa,271df0a7b98c752f9717a693bb33cafd,39680,capelinha,MG,Southest,-17.695151,-42.517383
99437,ffe0aaaac429db7837e943b83ee6c385,121a8ecc8f0438fe59cd337db4d4ebf5,90850,porto alegre,RS,South,-30.064348,-51.226661
99438,ffee99041e111172de2006fe9e90202a,5d7b01c0a09b912d9874a3fffdb858d5,65919,imperatriz,MA,Northest,-5.511695,-47.472820
99439,fff0f9fbcdf9cfe4d9328bd3a7af71d7,0cb95f1e2d716b9f4cf002be8cee2d54,39620,medina,MG,Southest,-16.226357,-41.478481
99440,fffeda5b6d849fbd39689bb92087f431,afbb5a642107cf6bb1ca68e863175f03,22461,rio de janeiro,RJ,Southest,-22.961018,-43.215229

In [16]:
df_customers.shape, len(df_customers['customer_unique_id'].unique()), len(df_customers['customer_id'].unique())

((99441, 8), 96096, 99441)

In [17]:
df_customers.isna().sum()

customer_id             0
customer_unique_id      0
customer_zip_code       0
customer_city           0
customer_state          0
customer_region         0
customer_lat          279
customer_lng          279
dtype: int64

- －__Get Order Customer Info__

In [18]:
order_customer_info = df_orders[['order_id', 'order_purchase_timestamp', 'customer_id']].merge(
	df_customers, how='left', left_on='customer_id', right_on='customer_id'
)
order_customer_info

,order_id,order_purchase_timestamp,customer_id,customer_unique_id,customer_zip_code,customer_city,customer_state,customer_region,customer_lat,customer_lng
0,00010242fe8c5a6d1ba2dd792cb16214,2017-09-13 08:59:02,3ce436f183e68e07877b285a838db11a,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,Southest,-21.762829,-41.310605
1,00018f77f2f0320c557190d7a144bdd3,2017-04-26 10:53:06,f6dd3ec061db4e3987629fe6b26e5cce,eb28e67c4c0b83846050ddfb8a35d051,15775,santa fe do sul,SP,Southest,-20.205737,-50.926924
2,000229ec398224ef6ca0657da4fc703e,2018-01-14 14:33:31,6489ae5e4333f3693df5ad4372dab6d3,3818d81c6709e39d06b2738a8d3a2474,35661,para de minas,MG,Southest,-19.870383,-44.594355
3,00024acbcdf0a6daa1e931b038114c75,2018-08-08 10:00:35,d4eb9395c8c0431ee92fce09860c5a06,af861d436cfc08b2c2ddefd0ba074622,12952,atibaia,SP,Southest,-23.104346,-46.595589
4,00042b26cf59d7ce69dfabb4e55b4fd9,2017-02-04 13:57:51,58dbd0b2d70206bf40e62cd34e84d795,64b576fb70d441e8f1b2d7d446e483c5,13226,varzea paulista,SP,Southest,-23.245512,-46.825182
...,...,...,...,...,...,...,...,...,...,...
98811,fffc94f6ce00a00581880bf54a75a037,2018-04-23 13:57:06,b51593916b4b8e0d6f66f2ae24f2673d,0c9aeda10a71f369396d0c04dce13a64,65077,sao luis,MA,Northest,-2.493458,-44.302009
98812,fffcd46ef2263f404302a634eb57f7eb,2018-07-14 10:26:46,84c5d4fbaf120aae381fad077416eaa0,0da9fe112eae0c74d3ba1fe16de0988b,81690,curitiba,PR,South,-25.544585,-49.303527
98813,fffce4705a9662cd70adb13d4a31832d,2017-10-23 17:07:56,29309aa813182aaddc9b259e31b870e6,cd79b407828f02fdbba457111c38e4c4,4039,sao paulo,SP,Southest,-23.598430,-46.642119
98814,fffe18544ffabc95dfada21779c9644f,2017-08-14 23:02:59,b5e6afd5a41800fdf401e0272ca74655,eb803377c9315b564bdedad672039306,13289,vinhedo,SP,Southest,-23.037764,-46.978860
98815,fffe41c64501cc87c801fd61db3f6244,2018-06-09 17:00:18,96d649da0cc4ff33bb408b199d4c7dcf,cd76a00d8e3ca5e6ab9ed9ecb6667ac4,18605,botucatu,SP,Southest,-22.916463,-48.441070

In [19]:
order_customer_info = df_orders[['order_id', 'order_purchase_timestamp', 'customer_id']].merge(
	df_customers, how='left', left_on='customer_id', right_on='customer_id'
)
order_customer_info.drop(columns='customer_id', inplace=True)
order_customer_info.sort_values(by='order_purchase_timestamp', inplace=True)
order_customer_info

,order_id,order_purchase_timestamp,customer_unique_id,customer_zip_code,customer_city,customer_state,customer_region,customer_lat,customer_lng
17811,2e7a8482f6fb09756ca50c10d7bfc047,2016-09-04 21:15:19,b7d76e111c89f7ebf14761390f0f7d17,69309,boa vista,RR,North,2.812997,-60.701117
73971,bfbd0f9bdef84302105ad712db648a6c,2016-09-15 12:16:38,830d5b7aaa3b6f1e9ad63703bec97d23,14600,sao joaquim da barra,SP,Southest,-20.585396,-47.863156
22915,3b697a20d9e427646d92567910af6d57,2016-10-03 09:44:50,32ea3bdedab835c3aa6cb68ce66565ef,4106,sao paulo,SP,Southest,-23.581321,-46.635726
73446,be5bc2f0da14d8071e2d45451ad119d9,2016-10-03 16:56:50,2f64e403852e6893ae37485d5fcacdaf,98280,panambi,RS,South,-28.291275,-53.501401
63038,a41c8759fbe7aab36ea07e038b2d4465,2016-10-03 21:13:36,61db744d2f835035a5625b59350c6b63,90040,porto alegre,RS,South,-30.040958,-51.212970
...,...,...,...,...,...,...,...,...,...
4325,0b223d92c27432930dfe407c6aea3041,2018-08-29 14:18:23,5c58de6fb80e93396e2f35642666b693,80045,curitiba,PR,South,-25.426558,-49.255263
8647,168626408cb32af0ffaf76711caae1dc,2018-08-29 14:18:28,7febafa06d9d8f232a900a2937f04338,38600,paracatu,MG,Southest,-17.223373,-46.875188
1519,03ef5dedbe7492bdae72eec50764c43f,2018-08-29 14:52:00,b701bebbdf478f5500348f03aff62121,9541,sao caetano do sul,SP,Southest,-23.620032,-46.564027
20657,35a972d7f8436f405b56e36add1a7140,2018-08-29 15:00:37,24ac2b4327e25baf39f2119e4228976a,13483,limeira,SP,Southest,-22.561171,-47.447471
32495,54282e97f61c23b78330c15b154c867d,2018-09-03 09:06:57,ff22e30958c13ffe219db7d711e8f564,2989,sao paulo,SP,Southest,-23.432767,-46.720828

In [20]:
first_order_date = order_customer_info.groupby('customer_unique_id')['order_purchase_timestamp'].min()
first_order_date

customer_unique_id
0000366f3b9a7992bf8c76cfdf3221e2   2018-05-10 10:56:27
0000b849f77a49e4a4ce2b2a4ca5be3f   2018-05-07 11:11:27
0000f46a3911fa3c0805444483337064   2017-03-10 21:05:03
0000f6ccb0745a6a4b88665a16c9f078   2017-10-12 20:29:41
0004aac84e0df4da2b147fca70cf8255   2017-11-14 19:45:42
                                           ...
fffcf5a5ff07b0908bd4e2dbc735a684   2017-06-08 21:00:36
fffea47cd6d3cc0a88bd621562a9d061   2017-12-10 20:07:56
ffff371b4d645b6ecea244b27531430a   2017-02-07 15:49:16
ffff5962728ec6157033ef9805bacc48   2018-05-02 15:17:41
ffffd2657e2aad2907e67c3e9daecbeb   2017-05-02 20:18:45
Name: order_purchase_timestamp, Length: 95560, dtype: datetime64[ns]

In [21]:
tmp = first_order_date.astype('str')
tmp

customer_unique_id
0000366f3b9a7992bf8c76cfdf3221e2    2018-05-10 10:56:27
0000b849f77a49e4a4ce2b2a4ca5be3f    2018-05-07 11:11:27
0000f46a3911fa3c0805444483337064    2017-03-10 21:05:03
0000f6ccb0745a6a4b88665a16c9f078    2017-10-12 20:29:41
0004aac84e0df4da2b147fca70cf8255    2017-11-14 19:45:42
                                           ...
fffcf5a5ff07b0908bd4e2dbc735a684    2017-06-08 21:00:36
fffea47cd6d3cc0a88bd621562a9d061    2017-12-10 20:07:56
ffff371b4d645b6ecea244b27531430a    2017-02-07 15:49:16
ffff5962728ec6157033ef9805bacc48    2018-05-02 15:17:41
ffffd2657e2aad2907e67c3e9daecbeb    2017-05-02 20:18:45
Name: order_purchase_timestamp, Length: 95560, dtype: object

In [22]:
first_order_date['8d50f5eadf50201ccdcedfb9e2ac8455'] # 2017-05-15 23:30:03

Timestamp('2017-05-15 23:30:03')

In [23]:
def join_unique_values(series):
    unique_values = series.drop_duplicates()
    return ', '.join(unique_values.astype('str'))

repeat_order_info = order_customer_info[['order_id', 'order_purchase_timestamp', 'customer_unique_id']]
repeat_order_info = repeat_order_info.groupby(by='customer_unique_id', as_index=False).aggregate({
	'order_id': ['count', join_unique_values],
	'order_purchase_timestamp': join_unique_values
})
repeat_order_info

                     customer_unique_id order_id  \
                                           count
0      0000366f3b9a7992bf8c76cfdf3221e2        1
1      0000b849f77a49e4a4ce2b2a4ca5be3f        1
2      0000f46a3911fa3c0805444483337064        1
3      0000f6ccb0745a6a4b88665a16c9f078        1
4      0004aac84e0df4da2b147fca70cf8255        1
...                                 ...      ...
95555  fffcf5a5ff07b0908bd4e2dbc735a684        1
95556  fffea47cd6d3cc0a88bd621562a9d061        1
95557  ffff371b4d645b6ecea244b27531430a        1
95558  ffff5962728ec6157033ef9805bacc48        1
95559  ffffd2657e2aad2907e67c3e9daecbeb        1

                                        order_purchase_timestamp
                     join_unique_values       join_unique_values
0      e22acc9c116caa3f2b7121bbb380d08e      2018-05-10 10:56:27
1      3594e05a005ac4d06a72673270ef9ec9      2018-05-07 11:11:27
2      b33ec3b699337181488304f362a6b734      2017-03-10 21:05:03
3      41272756ecddd9a9ed0180413cc22fb6      2017-10-12 20:29:41
4      d957021f1127559cd947b62533f484f7      2017-11-14 19:45:42
...                                 ...                      ...
95555  725cf8e9c24e679a8a5a32cb92c9ce1e      2017-06-08 21:00:36
95556  c71b9252fd7b3b263aaa4cb09319a323      2017-12-10 20:07:56
95557  fdc45e6c7555e6cb3cc0daca2557dbe1      2017-02-07 15:49:16
95558  94d3ee0bc2a0af9d4fa47a4d63616e8d      2018-05-02 15:17:41
95559  f79a35da168301ae56922475da21117b      2017-05-02 20:18:45

[95560 rows x 4 columns]

In [24]:
repeat_order_info.columns = repeat_order_info.columns.map('_'.join)
repeat_order_info

,customer_unique_id_,order_id_count,order_id_join_unique_values,order_purchase_timestamp_join_unique_values
0,0000366f3b9a7992bf8c76cfdf3221e2,1,e22acc9c116caa3f2b7121bbb380d08e,2018-05-10 10:56:27
1,0000b849f77a49e4a4ce2b2a4ca5be3f,1,3594e05a005ac4d06a72673270ef9ec9,2018-05-07 11:11:27
2,0000f46a3911fa3c0805444483337064,1,b33ec3b699337181488304f362a6b734,2017-03-10 21:05:03
3,0000f6ccb0745a6a4b88665a16c9f078,1,41272756ecddd9a9ed0180413cc22fb6,2017-10-12 20:29:41
4,0004aac84e0df4da2b147fca70cf8255,1,d957021f1127559cd947b62533f484f7,2017-11-14 19:45:42
...,...,...,...,...
95555,fffcf5a5ff07b0908bd4e2dbc735a684,1,725cf8e9c24e679a8a5a32cb92c9ce1e,2017-06-08 21:00:36
95556,fffea47cd6d3cc0a88bd621562a9d061,1,c71b9252fd7b3b263aaa4cb09319a323,2017-12-10 20:07:56
95557,ffff371b4d645b6ecea244b27531430a,1,fdc45e6c7555e6cb3cc0daca2557dbe1,2017-02-07 15:49:16
95558,ffff5962728ec6157033ef9805bacc48,1,94d3ee0bc2a0af9d4fa47a4d63616e8d,2018-05-02 15:17:41
95559,ffffd2657e2aad2907e67c3e9daecbeb,1,f79a35da168301ae56922475da21117b,2017-05-02 20:18:45

In [25]:
repeat_order_info.rename(columns={
	'customer_unique_id_': 'customer_unique_id',
	'order_id_count': 'order_count',
	'order_id_join_unique_values': 'total_order_id',
	'order_purchase_timestamp_join_unique_values': 'total_order_timestamp'
}, inplace=True)
repeat_order_info

,customer_unique_id,order_count,total_order_id,total_order_timestamp
0,0000366f3b9a7992bf8c76cfdf3221e2,1,e22acc9c116caa3f2b7121bbb380d08e,2018-05-10 10:56:27
1,0000b849f77a49e4a4ce2b2a4ca5be3f,1,3594e05a005ac4d06a72673270ef9ec9,2018-05-07 11:11:27
2,0000f46a3911fa3c0805444483337064,1,b33ec3b699337181488304f362a6b734,2017-03-10 21:05:03
3,0000f6ccb0745a6a4b88665a16c9f078,1,41272756ecddd9a9ed0180413cc22fb6,2017-10-12 20:29:41
4,0004aac84e0df4da2b147fca70cf8255,1,d957021f1127559cd947b62533f484f7,2017-11-14 19:45:42
...,...,...,...,...
95555,fffcf5a5ff07b0908bd4e2dbc735a684,1,725cf8e9c24e679a8a5a32cb92c9ce1e,2017-06-08 21:00:36
95556,fffea47cd6d3cc0a88bd621562a9d061,1,c71b9252fd7b3b263aaa4cb09319a323,2017-12-10 20:07:56
95557,ffff371b4d645b6ecea244b27531430a,1,fdc45e6c7555e6cb3cc0daca2557dbe1,2017-02-07 15:49:16
95558,ffff5962728ec6157033ef9805bacc48,1,94d3ee0bc2a0af9d4fa47a4d63616e8d,2018-05-02 15:17:41
95559,ffffd2657e2aad2907e67c3e9daecbeb,1,f79a35da168301ae56922475da21117b,2017-05-02 20:18:45

In [30]:
len(repeat_order_info['customer_unique_id'].unique())

95560

In [67]:
tmp = repeat_order_info[repeat_order_info['customer_unique_id']=='8d50f5eadf50201ccdcedfb9e2ac8455']['total_order_timestamp'].values[0]
tmp

'2018-07-23 21:53:02, 2018-05-21 22:44:31, 2017-06-18 22:56:48, 2017-07-18 23:10:58, 2017-08-05 08:59:43, 2017-07-17 22:11:13, 2017-05-15 23:30:03, 2018-05-22 23:08:55, 2018-07-04 22:35:13, 2017-10-29 16:58:02, 2018-08-18 12:39:19, 2017-11-22 20:01:53, 2017-07-24 22:11:50, 2018-08-07 23:32:14, 2017-10-18 23:25:04, 2018-08-20 19:14:26, 2017-09-05 22:14:52'

In [92]:
list = sorted([pd.to_datetime(x) for x in tmp.split(', ')])
list, len(list)

([Timestamp('2017-05-15 23:30:03'),
  Timestamp('2017-06-18 22:56:48'),
  Timestamp('2017-07-17 22:11:13'),
  Timestamp('2017-07-18 23:10:58'),
  Timestamp('2017-07-24 22:11:50'),
  Timestamp('2017-08-05 08:59:43'),
  Timestamp('2017-09-05 22:14:52'),
  Timestamp('2017-10-18 23:25:04'),
  Timestamp('2017-10-29 16:58:02'),
  Timestamp('2017-11-22 20:01:53'),
  Timestamp('2018-05-21 22:44:31'),
  Timestamp('2018-05-22 23:08:55'),
  Timestamp('2018-07-04 22:35:13'),
  Timestamp('2018-07-23 21:53:02'),
  Timestamp('2018-08-07 23:32:14'),
  Timestamp('2018-08-18 12:39:19'),
  Timestamp('2018-08-20 19:14:26')],
 17)

In [29]:
def get_repurchase_count(x):
    count = 1
    list = sorted([pd.to_datetime(d) for d in str(x).split(', ')])
    if len(list) > 1:
        for idx in range(0, len(list)-1):
            time_difference = (list[idx+1] - list[idx]).days #--> int type
            if time_difference >= 1:
                count += 1
    
    return count

repeat_order_info['re_order_count'] = repeat_order_info['total_order_timestamp'].map(get_repurchase_count)
repeat_order_info

170 <class 'int'>
267 <class 'int'>
10 <class 'int'>
0 <class 'int'>
60 <class 'int'>
176 <class 'int'>
329 <class 'int'>
42 <class 'int'>
28 <class 'int'>
3 <class 'int'>
38 <class 'int'>
443 <class 'int'>
101 <class 'int'>
94 <class 'int'>
0 <class 'int'>
206 <class 'int'>
397 <class 'int'>
50 <class 'int'>
34 <class 'int'>
0 <class 'int'>
235 <class 'int'>
287 <class 'int'>
171 <class 'int'>
0 <class 'int'>
34 <class 'int'>
0 <class 'int'>
55 <class 'int'>
1 <class 'int'>
73 <class 'int'>
1 <class 'int'>
1 <class 'int'>
150 <class 'int'>
0 <class 'int'>
309 <class 'int'>
33 <class 'int'>
77 <class 'int'>
246 <class 'int'>
188 <class 'int'>
117 <class 'int'>
65 <class 'int'>
6 <class 'int'>
19 <class 'int'>
25 <class 'int'>
60 <class 'int'>
258 <class 'int'>
0 <class 'int'>
2 <class 'int'>
59 <class 'int'>
0 <class 'int'>
41 <class 'int'>
74 <class 'int'>
0 <class 'int'>
71 <class 'int'>
147 <class 'int'>
45 <class 'int'>
0 <class 'int'>
61 <class 'int'>
261 <class 'int'>
230 <class 'int'>
41 <class 'int'>
0 <class 'int'>
1 <class 'int'>
264 <class 'int'>
281 <class 'int'>
299 <class 'int'>
7 <class 'int'>
39 <class 'int'>
51 <class 'int'>
0 <class 'int'>
0 <class 'int'>
76 <class 'int'>
0 <class 'int'>
3 <class 'int'>
40 <class 'int'>
0 <class 'int'>
2 <class 'int'>
0 <class 'int'>
191 <class 'int'>
115 <class 'int'>
10 <class 'int'>
40 <class 'int'>
8 <class 'int'>
10 <class 'int'>
362 <class 'int'>
212 <class 'int'>
88 <class 'int'>
130 <class 'int'>
60 <class 'int'>
0 <class 'int'>
48 <class 'int'>
168 <class 'int'>
69 <class 'int'>
31 <class 'int'>
64 <class 'int'>
0 <class 'int'>
3 <class 'int'>
0 <class 'int'>
49 <class 'int'>
347 <class 'int'>
0 <class 'int'>
13 <class 'int'>
8 <class 'int'>
21 <class 'int'>
307 <class 'int'>
163 <class 'int'>
174 <class 'int'>
0 <class 'int'>
109 <class 'int'>
0 <class 'int'>
0 <class 'int'>
344 <class 'int'>
71 <class 'int'>
0 <class 'int'>
0 <class 'int'>
154 <class 'int'>
64 <class 'int'>
230 <class 'int'>
258 <class 'int'>
0 <class 'int'>
21 <class 'int'>
50 <class 'int'>
201 <class 'int'>
0 <class 'int'>
11 <class 'int'>
272 <class 'int'>
93 <class 'int'>
296 <class 'int'>
216 <class 'int'>
59 <class 'int'>
0 <class 'int'>
357 <class 'int'>
69 <class 'int'>
0 <class 'int'>
66 <class 'int'>
180 <class 'int'>
192 <class 'int'>
197 <class 'int'>
14 <class 'int'>
335 <class 'int'>
45 <class 'int'>
144 <class 'int'>
141 <class 'int'>
0 <class 'int'>
25 <class 'int'>
34 <class 'int'>
8 <class 'int'>
49 <class 'int'>
68 <class 'int'>
209 <class 'int'>
0 <class 'int'>
3 <class 'int'>
103 <class 'int'>
5 <class 'int'>
142 <class 'int'>
164 <class 'int'>
0 <class 'int'>
72 <class 'int'>
75 <class 'int'>
0 <class 'int'>
11 <class 'int'>
0 <class 'int'>
0 <class 'int'>
0 <class 'int'>
113 <class 'int'>
12 <class 'int'>
0 <class 'int'>
185 <class 'int'>
0 <class 'int'>
0 <class 'int'>
114 <class 'int'>
444 <class 'int'>
179 <class 'int'>
0 <class 'int'>
112 <class 'int'>
0 <class 'int'>
120 <class 'int'>
146 <class 'int'>
21 <class 'int'>
0 <class 'int'>
3 <class 'int'>
53 <class 'int'>
305 <class 'int'>
139 <class 'int'>
133 <class 'int'>
16 <class 'int'>
0 <class 'int'>
0 <class 'int'>
19 <class 'int'>
230 <class 'int'>
0 <class 'int'>
0 <class 'int'>
73 <class 'int'>
342 <class 'int'>
52 <class 'int'>
230 <class 'int'>
60 <class 'int'>
158 <class 'int'>
0 <class 'int'>
41 <class 'int'>
0 <class 'int'>
6 <class 'int'>
13 <class 'int'>
285 <class 'int'>
168 <class 'int'>
51 <class 'int'>
0 <class 'int'>
0 <class 'int'>
76 <class 'int'>
328 <class 'int'>
137 <class 'int'>
112 <class 'int'>
0 <class 'int'>
0 <class 'int'>
49 <class 'int'>
337 <class 'int'>
14 <class 'int'>
49 <class 'int'>
0 <class 'int'>
0 <class 'int'>
0 <class 'int'>
0 <class 'int'>
0 <class 'int'>
292 <class 'int'>
5 <class 'int'>
168 <class 'int'>
179 <class 'int'>
0 <class 'int'>
147 <class 'int'>
62 <class 'int'>
29 <class 'int'>
350 <class 'int'>
6 <class 'int'>
0 <class 'int'>
245 <class 'int'>
0 <class 'int'>
161 <class 'int'>
216 <class 'int'>
194 <class 'int'>
21 <class 'int'>
0 <class 'int'>
0 <class 'int'>
40 <class 'int'>
0 <class 'int'>
14 <class 'int'>
0 <class 'int'>
23 <class 'int'>
76 <class 'int'>
65 <class 'int'>
0 <class 'int'>
1 <class 'int'>
0 <class 'int'>
113 <class 'int'>
0 <class 'int'>
171 <class 'int'>
2 <class 'int'>
26 <class 'int'>
0 <class 'int'>
2 <class 'int'>
73 <class 'int'>
78 <class 'int'>
0 <class 'int'>
211 <class 'int'>
48 <class 'int'>
139 <class 'int'>
83 <class 'int'>
6 <class 'int'>
246 <class 'int'>
13 <class 'int'>
39 <class 'int'>
34 <class 'int'>
0 <class 'int'>
174 <class 'int'>
40 <class 'int'>
5 <class 'int'>
215 <class 'int'>
100 <class 'int'>
28 <class 'int'>
7 <class 'int'>
0 <class 'int'>
280 <class 'int'>
0 <class 'int'>
51 <class 'int'>
514 <class 'int'>
306 <class 'int'>
0 <class 'int'>
202 <class 'int'>
7 <class 'int'>
57 <class 'int'>
146 <class 'int'>
13 <class 'int'>
96 <class 'int'>
129 <class 'int'>
23 <class 'int'>
23 <class 'int'>
8 <class 'int'>
198 <class 'int'>
154 <class 'int'>
56 <class 'int'>
299 <class 'int'>
171 <class 'int'>
30 <class 'int'>
214 <class 'int'>
0 <class 'int'>
9 <class 'int'>
9 <class 'int'>
326 <class 'int'>
17 <class 'int'>
403 <class 'int'>
25 <class 'int'>
190 <class 'int'>
0 <class 'int'>
280 <class 'int'>
0 <class 'int'>
7 <class 'int'>
33 <class 'int'>
10 <class 'int'>
10 <class 'int'>
0 <class 'int'>
15 <class 'int'>
36 <class 'int'>
20 <class 'int'>
298 <class 'int'>
213 <class 'int'>
9 <class 'int'>
0 <class 'int'>
482 <class 'int'>
37 <class 'int'>
10 <class 'int'>
353 <class 'int'>
56 <class 'int'>
116 <class 'int'>
68 <class 'int'>
37 <class 'int'>
14 <class 'int'>
185 <class 'int'>
15 <class 'int'>
224 <class 'int'>
126 <class 'int'>
28 <class 'int'>
124 <class 'int'>
0 <class 'int'>
19 <class 'int'>
0 <class 'int'>
150 <class 'int'>
98 <class 'int'>
10 <class 'int'>
71 <class 'int'>
174 <class 'int'>
251 <class 'int'>
0 <class 'int'>
297 <class 'int'>
33 <class 'int'>
0 <class 'int'>
379 <class 'int'>
152 <class 'int'>
44 <class 'int'>
1 <class 'int'>
454 <class 'int'>
257 <class 'int'>
29 <class 'int'>
10 <class 'int'>
145 <class 'int'>
218 <class 'int'>
0 <class 'int'>
217 <class 'int'>
131 <class 'int'>
23 <class 'int'>
27 <class 'int'>
105 <class 'int'>
58 <class 'int'>
12 <class 'int'>
0 <class 'int'>
345 <class 'int'>
62 <class 'int'>
2 <class 'int'>
17 <class 'int'>
403 <class 'int'>
87 <class 'int'>
149 <class 'int'>
0 <class 'int'>
46 <class 'int'>
197 <class 'int'>
22 <class 'int'>
0 <class 'int'>
20 <class 'int'>
53 <class 'int'>
3 <class 'int'>
91 <class 'int'>
36 <class 'int'>
194 <class 'int'>
59 <class 'int'>
195 <class 'int'>
0 <class 'int'>
62 <class 'int'>
8 <class 'int'>
4 <class 'int'>
0 <class 'int'>
16 <class 'int'>
1 <class 'int'>
177 <class 'int'>
120 <class 'int'>
27 <class 'int'>
510 <class 'int'>
29 <class 'int'>
0 <class 'int'>
129 <class 'int'>
39 <class 'int'>
51 <class 'int'>
180 <class 'int'>
0 <class 'int'>
66 <class 'int'>
16 <class 'int'>
87 <class 'int'>
177 <class 'int'>
0 <class 'int'>
0 <class 'int'>
11 <class 'int'>
42 <class 'int'>
0 <class 'int'>
0 <class 'int'>
0 <class 'int'>
11 <class 'int'>
277 <class 'int'>
0 <class 'int'>
0 <class 'int'>
0 <class 'int'>
26 <class 'int'>
0 <class 'int'>
105 <class 'int'>
0 <class 'int'>
4 <class 'int'>
143 <class 'int'>
10 <class 'int'>
0 <class 'int'>
0 <class 'int'>
32 <class 'int'>
223 <class 'int'>
0 <class 'int'>
0 <class 'int'>
46 <class 'int'>
241 <class 'int'>
182 <class 'int'>
14 <class 'int'>
279 <class 'int'>
68 <class 'int'>
84 <class 'int'>
9 <class 'int'>
112 <class 'int'>
80 <class 'int'>
390 <class 'int'>
139 <class 'int'>
0 <class 'int'>
75 <class 'int'>
302 <class 'int'>
0 <class 'int'>
266 <class 'int'>
15 <class 'int'>
0 <class 'int'>
19 <class 'int'>
0 <class 'int'>
48 <class 'int'>
0 <class 'int'>
16 <class 'int'>
90 <class 'int'>
60 <class 'int'>
24 <class 'int'>
25 <class 'int'>
42 <class 'int'>
104 <class 'int'>
257 <class 'int'>
220 <class 'int'>
137 <class 'int'>
265 <class 'int'>
29 <class 'int'>
58 <class 'int'>
0 <class 'int'>
126 <class 'int'>
0 <class 'int'>
4 <class 'int'>
49 <class 'int'>
36 <class 'int'>
0 <class 'int'>
21 <class 'int'>
0 <class 'int'>
0 <class 'int'>
13 <class 'int'>
63 <class 'int'>
0 <class 'int'>
105 <class 'int'>
133 <class 'int'>
395 <class 'int'>
118 <class 'int'>
128 <class 'int'>
172 <class 'int'>
42 <class 'int'>
173 <class 'int'>
257 <class 'int'>
1 <class 'int'>
24 <class 'int'>
226 <class 'int'>
70 <class 'int'>
6 <class 'int'>
0 <class 'int'>
22 <class 'int'>
39 <class 'int'>
11 <class 'int'>
0 <class 'int'>
208 <class 'int'>
288 <class 'int'>
350 <class 'int'>
9 <class 'int'>
0 <class 'int'>
294 <class 'int'>
5 <class 'int'>
5 <class 'int'>
6 <class 'int'>
26 <class 'int'>
20 <class 'int'>
138 <class 'int'>
94 <class 'int'>
252 <class 'int'>
2 <class 'int'>
0 <class 'int'>
485 <class 'int'>
1 <class 'int'>
0 <class 'int'>
41 <class 'int'>
236 <class 'int'>
119 <class 'int'>
33 <class 'int'>
41 <class 'int'>
17 <class 'int'>
37 <class 'int'>
117 <class 'int'>
8 <class 'int'>
193 <class 'int'>
9 <class 'int'>
229 <class 'int'>
9 <class 'int'>
8 <class 'int'>
135 <class 'int'>
509 <class 'int'>
15 <class 'int'>
17 <class 'int'>
128 <class 'int'>
54 <class 'int'>
452 <class 'int'>
22 <class 'int'>
3 <class 'int'>
27 <class 'int'>
20 <class 'int'>
17 <class 'int'>
15 <class 'int'>
23 <class 'int'>
339 <class 'int'>
88 <class 'int'>
0 <class 'int'>
126 <class 'int'>
9 <class 'int'>
1 <class 'int'>
0 <class 'int'>
8 <class 'int'>
0 <class 'int'>
223 <class 'int'>
0 <class 'int'>
11 <class 'int'>
20 <class 'int'>
9 <class 'int'>
259 <class 'int'>
0 <class 'int'>
148 <class 'int'>
0 <class 'int'>
358 <class 'int'>
274 <class 'int'>
16 <class 'int'>
295 <class 'int'>
0 <class 'int'>
102 <class 'int'>
106 <class 'int'>
66 <class 'int'>
55 <class 'int'>
68 <class 'int'>
184 <class 'int'>
47 <class 'int'>
60 <class 'int'>
200 <class 'int'>
0 <class 'int'>
244 <class 'int'>
14 <class 'int'>
4 <class 'int'>
348 <class 'int'>
246 <class 'int'>
49 <class 'int'>
0 <class 'int'>
110 <class 'int'>
14 <class 'int'>
0 <class 'int'>
203 <class 'int'>
25 <class 'int'>
3 <class 'int'>
25 <class 'int'>
0 <class 'int'>
28 <class 'int'>
382 <class 'int'>
24 <class 'int'>
132 <class 'int'>
0 <class 'int'>
11 <class 'int'>
58 <class 'int'>
43 <class 'int'>
136 <class 'int'>
32 <class 'int'>
1 <class 'int'>
25 <class 'int'>
0 <class 'int'>
0 <class 'int'>
0 <class 'int'>
175 <class 'int'>
0 <class 'int'>
100 <class 'int'>
174 <class 'int'>
252 <class 'int'>
36 <class 'int'>
334 <class 'int'>
0 <class 'int'>
13 <class 'int'>
229 <class 'int'>
0 <class 'int'>
16 <class 'int'>
96 <class 'int'>
20 <class 'int'>
0 <class 'int'>
59 <class 'int'>
17 <class 'int'>
200 <class 'int'>
0 <class 'int'>
84 <class 'int'>
129 <class 'int'>
214 <class 'int'>
0 <class 'int'>
0 <class 'int'>
77 <class 'int'>
2 <class 'int'>
73 <class 'int'>
9 <class 'int'>
96 <class 'int'>
56 <class 'int'>
0 <class 'int'>
26 <class 'int'>
101 <class 'int'>
29 <class 'int'>
0 <class 'int'>
0 <class 'int'>
0 <class 'int'>
99 <class 'int'>
34 <class 'int'>
213 <class 'int'>
0 <class 'int'>
87 <class 'int'>
58 <class 'int'>
64 <class 'int'>
94 <class 'int'>
11 <class 'int'>
0 <class 'int'>
0 <class 'int'>
7 <class 'int'>
0 <class 'int'>
41 <class 'int'>
466 <class 'int'>
0 <class 'int'>
262 <class 'int'>
8 <class 'int'>
38 <class 'int'>
41 <class 'int'>
0 <class 'int'>
8 <class 'int'>
282 <class 'int'>
16 <class 'int'>
19 <class 'int'>
69 <class 'int'>
7 <class 'int'>
19 <class 'int'>
353 <class 'int'>
6 <class 'int'>
159 <class 'int'>
206 <class 'int'>
308 <class 'int'>
15 <class 'int'>
0 <class 'int'>
48 <class 'int'>
177 <class 'int'>
281 <class 'int'>
114 <class 'int'>
55 <class 'int'>
41 <class 'int'>
53 <class 'int'>
224 <class 'int'>
8 <class 'int'>
73 <class 'int'>
0 <class 'int'>
0 <class 'int'>
40 <class 'int'>
31 <class 'int'>
0 <class 'int'>
8 <class 'int'>
7 <class 'int'>
13 <class 'int'>
304 <class 'int'>
56 <class 'int'>
0 <class 'int'>
393 <class 'int'>
48 <class 'int'>
57 <class 'int'>
323 <class 'int'>
12 <class 'int'>
0 <class 'int'>
25 <class 'int'>
91 <class 'int'>
21 <class 'int'>
115 <class 'int'>
35 <class 'int'>
0 <class 'int'>
153 <class 'int'>
42 <class 'int'>
389 <class 'int'>
361 <class 'int'>
2 <class 'int'>
431 <class 'int'>
59 <class 'int'>
7 <class 'int'>
146 <class 'int'>
4 <class 'int'>
506 <class 'int'>
122 <class 'int'>
454 <class 'int'>
280 <class 'int'>
0 <class 'int'>
0 <class 'int'>
19 <class 'int'>
0 <class 'int'>
29 <class 'int'>
1 <class 'int'>
46 <class 'int'>
0 <class 'int'>
154 <class 'int'>
6 <class 'int'>
28 <class 'int'>
175 <class 'int'>
135 <class 'int'>
72 <class 'int'>
472 <class 'int'>
2 <class 'int'>
71 <class 'int'>
0 <class 'int'>
165 <class 'int'>
2 <class 'int'>
230 <class 'int'>
165 <class 'int'>
0 <class 'int'>
0 <class 'int'>
17 <class 'int'>
122 <class 'int'>
15 <class 'int'>
307 <class 'int'>
16 <class 'int'>
0 <class 'int'>
0 <class 'int'>
42 <class 'int'>
20 <class 'int'>
181 <class 'int'>
6 <class 'int'>
7 <class 'int'>
0 <class 'int'>
65 <class 'int'>
19 <class 'int'>
213 <class 'int'>
162 <class 'int'>
188 <class 'int'>
176 <class 'int'>
122 <class 'int'>
351 <class 'int'>
0 <class 'int'>
296 <class 'int'>
296 <class 'int'>
0 <class 'int'>
0 <class 'int'>
488 <class 'int'>
0 <class 'int'>
68 <class 'int'>
0 <class 'int'>
4 <class 'int'>
408 <class 'int'>
457 <class 'int'>
0 <class 'int'>
449 <class 'int'>
22 <class 'int'>
79 <class 'int'>
30 <class 'int'>
0 <class 'int'>
115 <class 'int'>
23 <class 'int'>
28 <class 'int'>
1 <class 'int'>
10 <class 'int'>
14 <class 'int'>
36 <class 'int'>
60 <class 'int'>
58 <class 'int'>
192 <class 'int'>
3 <class 'int'>
139 <class 'int'>
275 <class 'int'>
0 <class 'int'>
142 <class 'int'>
199 <class 'int'>
133 <class 'int'>
14 <class 'int'>
167 <class 'int'>
124 <class 'int'>
156 <class 'int'>
340 <class 'int'>
398 <class 'int'>
6 <class 'int'>
0 <class 'int'>
206 <class 'int'>
32 <class 'int'>
197 <class 'int'>
88 <class 'int'>
232 <class 'int'>
97 <class 'int'>
0 <class 'int'>
114 <class 'int'>
62 <class 'int'>
13 <class 'int'>
46 <class 'int'>
149 <class 'int'>
29 <class 'int'>
0 <class 'int'>
281 <class 'int'>
123 <class 'int'>
49 <class 'int'>
6 <class 'int'>
7 <class 'int'>
26 <class 'int'>
28 <class 'int'>
1 <class 'int'>
9 <class 'int'>
4 <class 'int'>
30 <class 'int'>
0 <class 'int'>
81 <class 'int'>
0 <class 'int'>
364 <class 'int'>
0 <class 'int'>
11 <class 'int'>
0 <class 'int'>
134 <class 'int'>
187 <class 'int'>
23 <class 'int'>
489 <class 'int'>
1 <class 'int'>
28 <class 'int'>
11 <class 'int'>
0 <class 'int'>
247 <class 'int'>
524 <class 'int'>
50 <class 'int'>
0 <class 'int'>
173 <class 'int'>
5 <class 'int'>
0 <class 'int'>
67 <class 'int'>
22 <class 'int'>
21 <class 'int'>
332 <class 'int'>
0 <class 'int'>
22 <class 'int'>
206 <class 'int'>
112 <class 'int'>
100 <class 'int'>
47 <class 'int'>
103 <class 'int'>
317 <class 'int'>
29 <class 'int'>
98 <class 'int'>
59 <class 'int'>
0 <class 'int'>
12 <class 'int'>
19 <class 'int'>
0 <class 'int'>
396 <class 'int'>
19 <class 'int'>
4 <class 'int'>
2 <class 'int'>
0 <class 'int'>
55 <class 'int'>
0 <class 'int'>
0 <class 'int'>
83 <class 'int'>
0 <class 'int'>
43 <class 'int'>
0 <class 'int'>
4 <class 'int'>
147 <class 'int'>
96 <class 'int'>
0 <class 'int'>
1 <class 'int'>
0 <class 'int'>
0 <class 'int'>
12 <class 'int'>
186 <class 'int'>
0 <class 'int'>
0 <class 'int'>
82 <class 'int'>
230 <class 'int'>
7 <class 'int'>
0 <class 'int'>
85 <class 'int'>
241 <class 'int'>
10 <class 'int'>
153 <class 'int'>
102 <class 'int'>
265 <class 'int'>
120 <class 'int'>
98 <class 'int'>
25 <class 'int'>
324 <class 'int'>
0 <class 'int'>
6 <class 'int'>
0 <class 'int'>
18 <class 'int'>
47 <class 'int'>
225 <class 'int'>
67 <class 'int'>
32 <class 'int'>
298 <class 'int'>
21 <class 'int'>
238 <class 'int'>
0 <class 'int'>
0 <class 'int'>
167 <class 'int'>
0 <class 'int'>
46 <class 'int'>
116 <class 'int'>
148 <class 'int'>
73 <class 'int'>
218 <class 'int'>
67 <class 'int'>
19 <class 'int'>
370 <class 'int'>
39 <class 'int'>
0 <class 'int'>
0 <class 'int'>
294 <class 'int'>
50 <class 'int'>
420 <class 'int'>
9 <class 'int'>
44 <class 'int'>
48 <class 'int'>
27 <class 'int'>
320 <class 'int'>
96 <class 'int'>
22 <class 'int'>
74 <class 'int'>
12 <class 'int'>
98 <class 'int'>
48 <class 'int'>
19 <class 'int'>
235 <class 'int'>
0 <class 'int'>
8 <class 'int'>
0 <class 'int'>
23 <class 'int'>
253 <class 'int'>
0 <class 'int'>
20 <class 'int'>
8 <class 'int'>
10 <class 'int'>
148 <class 'int'>
12 <class 'int'>
0 <class 'int'>
183 <class 'int'>
144 <class 'int'>
15 <class 'int'>
1 <class 'int'>
129 <class 'int'>
324 <class 'int'>
246 <class 'int'>
0 <class 'int'>
0 <class 'int'>
142 <class 'int'>
337 <class 'int'>
336 <class 'int'>
16 <class 'int'>
331 <class 'int'>
0 <class 'int'>
0 <class 'int'>
190 <class 'int'>
2 <class 'int'>
0 <class 'int'>
2 <class 'int'>
0 <class 'int'>
219 <class 'int'>
0 <class 'int'>
71 <class 'int'>
200 <class 'int'>
3 <class 'int'>
113 <class 'int'>
11 <class 'int'>
48 <class 'int'>
217 <class 'int'>
34 <class 'int'>
21 <class 'int'>
8 <class 'int'>
0 <class 'int'>
161 <class 'int'>
31 <class 'int'>
3 <class 'int'>
0 <class 'int'>
0 <class 'int'>
20 <class 'int'>
0 <class 'int'>
24 <class 'int'>
0 <class 'int'>
0 <class 'int'>
62 <class 'int'>
78 <class 'int'>
0 <class 'int'>
0 <class 'int'>
30 <class 'int'>
0 <class 'int'>
151 <class 'int'>
31 <class 'int'>
0 <class 'int'>
0 <class 'int'>
0 <class 'int'>
64 <class 'int'>
36 <class 'int'>
0 <class 'int'>
161 <class 'int'>
5 <class 'int'>
0 <class 'int'>
0 <class 'int'>
1 <class 'int'>
0 <class 'int'>
0 <class 'int'>
0 <class 'int'>
39 <class 'int'>
0 <class 'int'>
125 <class 'int'>
0 <class 'int'>
198 <class 'int'>
28 <class 'int'>
21 <class 'int'>
22 <class 'int'>
93 <class 'int'>
48 <class 'int'>
0 <class 'int'>
15 <class 'int'>
432 <class 'int'>
266 <class 'int'>
116 <class 'int'>
92 <class 'int'>
0 <class 'int'>
12 <class 'int'>
91 <class 'int'>
0 <class 'int'>
391 <class 'int'>
10 <class 'int'>
47 <class 'int'>
0 <class 'int'>
0 <class 'int'>
23 <class 'int'>
15 <class 'int'>
97 <class 'int'>
61 <class 'int'>
0 <class 'int'>
138 <class 'int'>
0 <class 'int'>
3 <class 'int'>
517 <class 'int'>
0 <class 'int'>
113 <class 'int'>
35 <class 'int'>
46 <class 'int'>
225 <class 'int'>
69 <class 'int'>
154 <class 'int'>
2 <class 'int'>
360 <class 'int'>
170 <class 'int'>
0 <class 'int'>
47 <class 'int'>
39 <class 'int'>
0 <class 'int'>
0 <class 'int'>
0 <class 'int'>
296 <class 'int'>
74 <class 'int'>
0 <class 'int'>
163 <class 'int'>
1 <class 'int'>
376 <class 'int'>
51 <class 'int'>
228 <class 'int'>
167 <class 'int'>
6 <class 'int'>
91 <class 'int'>
30 <class 'int'>
136 <class 'int'>
0 <class 'int'>
0 <class 'int'>
42 <class 'int'>
0 <class 'int'>
159 <class 'int'>
163 <class 'int'>
100 <class 'int'>
58 <class 'int'>
0 <class 'int'>
6 <class 'int'>
77 <class 'int'>
0 <class 'int'>
104 <class 'int'>
71 <class 'int'>
0 <class 'int'>
62 <class 'int'>
31 <class 'int'>
50 <class 'int'>
185 <class 'int'>
40 <class 'int'>
62 <class 'int'>
0 <class 'int'>
10 <class 'int'>
31 <class 'int'>
117 <class 'int'>
108 <class 'int'>
114 <class 'int'>
142 <class 'int'>
298 <class 'int'>
0 <class 'int'>
130 <class 'int'>
55 <class 'int'>
148 <class 'int'>
330 <class 'int'>
0 <class 'int'>
16 <class 'int'>
41 <class 'int'>
40 <class 'int'>
0 <class 'int'>
21 <class 'int'>
162 <class 'int'>
14 <class 'int'>
0 <class 'int'>
0 <class 'int'>
0 <class 'int'>
215 <class 'int'>
0 <class 'int'>
49 <class 'int'>
102 <class 'int'>
97 <class 'int'>
15 <class 'int'>
179 <class 'int'>
0 <class 'int'>
0 <class 'int'>
54 <class 'int'>
29 <class 'int'>
0 <class 'int'>
222 <class 'int'>
0 <class 'int'>
20 <class 'int'>
0 <class 'int'>
0 <class 'int'>
255 <class 'int'>
204 <class 'int'>
48 <class 'int'>
0 <class 'int'>
3 <class 'int'>

,customer_unique_id,order_count,total_order_id,total_order_timestamp,re_order_count
0,0000366f3b9a7992bf8c76cfdf3221e2,1,e22acc9c116caa3f2b7121bbb380d08e,2018-05-10 10:56:27,1
1,0000b849f77a49e4a4ce2b2a4ca5be3f,1,3594e05a005ac4d06a72673270ef9ec9,2018-05-07 11:11:27,1
2,0000f46a3911fa3c0805444483337064,1,b33ec3b699337181488304f362a6b734,2017-03-10 21:05:03,1
3,0000f6ccb0745a6a4b88665a16c9f078,1,41272756ecddd9a9ed0180413cc22fb6,2017-10-12 20:29:41,1
4,0004aac84e0df4da2b147fca70cf8255,1,d957021f1127559cd947b62533f484f7,2017-11-14 19:45:42,1
...,...,...,...,...,...
95555,fffcf5a5ff07b0908bd4e2dbc735a684,1,725cf8e9c24e679a8a5a32cb92c9ce1e,2017-06-08 21:00:36,1
95556,fffea47cd6d3cc0a88bd621562a9d061,1,c71b9252fd7b3b263aaa4cb09319a323,2017-12-10 20:07:56,1
95557,ffff371b4d645b6ecea244b27531430a,1,fdc45e6c7555e6cb3cc0daca2557dbe1,2017-02-07 15:49:16,1
95558,ffff5962728ec6157033ef9805bacc48,1,94d3ee0bc2a0af9d4fa47a4d63616e8d,2018-05-02 15:17:41,1
95559,ffffd2657e2aad2907e67c3e9daecbeb,1,f79a35da168301ae56922475da21117b,2017-05-02 20:18:45,1

In [31]:
repeat_order_info['is_re_order'] = repeat_order_info.apply(lambda row: (row['re_order_count'] > 1), axis=1)
repeat_order_info

,customer_unique_id,order_count,total_order_id,total_order_timestamp,re_order_count,is_re_order
0,0000366f3b9a7992bf8c76cfdf3221e2,1,e22acc9c116caa3f2b7121bbb380d08e,2018-05-10 10:56:27,1,False
1,0000b849f77a49e4a4ce2b2a4ca5be3f,1,3594e05a005ac4d06a72673270ef9ec9,2018-05-07 11:11:27,1,False
2,0000f46a3911fa3c0805444483337064,1,b33ec3b699337181488304f362a6b734,2017-03-10 21:05:03,1,False
3,0000f6ccb0745a6a4b88665a16c9f078,1,41272756ecddd9a9ed0180413cc22fb6,2017-10-12 20:29:41,1,False
4,0004aac84e0df4da2b147fca70cf8255,1,d957021f1127559cd947b62533f484f7,2017-11-14 19:45:42,1,False
...,...,...,...,...,...,...
95555,fffcf5a5ff07b0908bd4e2dbc735a684,1,725cf8e9c24e679a8a5a32cb92c9ce1e,2017-06-08 21:00:36,1,False
95556,fffea47cd6d3cc0a88bd621562a9d061,1,c71b9252fd7b3b263aaa4cb09319a323,2017-12-10 20:07:56,1,False
95557,ffff371b4d645b6ecea244b27531430a,1,fdc45e6c7555e6cb3cc0daca2557dbe1,2017-02-07 15:49:16,1,False
95558,ffff5962728ec6157033ef9805bacc48,1,94d3ee0bc2a0af9d4fa47a4d63616e8d,2018-05-02 15:17:41,1,False
95559,ffffd2657e2aad2907e67c3e9daecbeb,1,f79a35da168301ae56922475da21117b,2017-05-02 20:18:45,1,False

In [32]:
repeat_order_info[repeat_order_info['is_re_order']==True]

,customer_unique_id,order_count,total_order_id,total_order_timestamp,re_order_count,is_re_order
106,004288347e5e88a27ded2bb23747066c,2,"a61d617fbe5bd006e40d3a0988fc844b, 08204559bebd...","2017-07-27 14:13:03, 2018-01-14 07:36:54",2,True
124,004b45ec5c64187465168251cd1c9c2f,2,"90ae229a4addcfead792e2564554f09c, 9392c5e72885...","2017-09-01 12:11:23, 2018-05-26 19:42:48",2,True
248,00a39521eb40f7012db50455bf083460,2,"7d32c87acba91ed87ebd98310fe1c54d, cea3e6c11eb6...","2018-05-23 20:14:21, 2018-06-03 10:12:57",2,True
412,011575986092c30523ecb71ff10cb473,2,"0f28d51fdd4828907bdc58b57f672e84, ed0a6265b5b0...","2018-02-17 15:54:49, 2018-04-18 21:58:08",2,True
427,011b4adcd54683b480c4d841250a987f,2,"f05a68aaa0d8f89e758c7134d53fa22a, 93b35affb864...","2017-08-22 12:51:29, 2018-02-15 11:40:57",2,True
...,...,...,...,...,...,...
95107,fed519569d16e690df6f89cb99d4e682,2,"adcd0c83cc5c1885f8dfcf0f9db19481, 169dbd59d432...","2017-12-20 19:10:19, 2018-03-18 21:51:49",2,True
95175,ff03923ad1eb9e32304deb7f9b2a45c9,2,"1d87599144fe1573be8611bf9f5d5de9, df52ca783038...","2018-04-23 21:49:49, 2018-05-26 11:51:22",2,True
95223,ff22e30958c13ffe219db7d711e8f564,2,"6ca46f2b9a1592929647682510800e0e, 54282e97f61c...","2018-08-24 17:02:19, 2018-09-03 09:06:57",2,True
95382,ff8892f7c26aa0446da53d01b18df463,2,"cb6e8d89049744886ad04520d5e0b2f6, 1c308eca3f33...","2017-05-24 16:09:14, 2017-11-26 23:25:43",2,True
95400,ff922bdd6bafcdf99cb90d7f39cea5b3,3,"fd216c435fda2be27c92920a5e5dba82, 5f79e2da24a5...","2017-02-22 12:26:42, 2017-08-23 13:15:29, 2017...",3,True

In [36]:
order_customer_info

,order_id,order_purchase_timestamp,customer_unique_id,customer_zip_code,customer_city,customer_state,customer_region,customer_lat,customer_lng
17811,2e7a8482f6fb09756ca50c10d7bfc047,2016-09-04 21:15:19,b7d76e111c89f7ebf14761390f0f7d17,69309,boa vista,RR,North,2.812997,-60.701117
73971,bfbd0f9bdef84302105ad712db648a6c,2016-09-15 12:16:38,830d5b7aaa3b6f1e9ad63703bec97d23,14600,sao joaquim da barra,SP,Southest,-20.585396,-47.863156
22915,3b697a20d9e427646d92567910af6d57,2016-10-03 09:44:50,32ea3bdedab835c3aa6cb68ce66565ef,4106,sao paulo,SP,Southest,-23.581321,-46.635726
73446,be5bc2f0da14d8071e2d45451ad119d9,2016-10-03 16:56:50,2f64e403852e6893ae37485d5fcacdaf,98280,panambi,RS,South,-28.291275,-53.501401
63038,a41c8759fbe7aab36ea07e038b2d4465,2016-10-03 21:13:36,61db744d2f835035a5625b59350c6b63,90040,porto alegre,RS,South,-30.040958,-51.212970
...,...,...,...,...,...,...,...,...,...
4325,0b223d92c27432930dfe407c6aea3041,2018-08-29 14:18:23,5c58de6fb80e93396e2f35642666b693,80045,curitiba,PR,South,-25.426558,-49.255263
8647,168626408cb32af0ffaf76711caae1dc,2018-08-29 14:18:28,7febafa06d9d8f232a900a2937f04338,38600,paracatu,MG,Southest,-17.223373,-46.875188
1519,03ef5dedbe7492bdae72eec50764c43f,2018-08-29 14:52:00,b701bebbdf478f5500348f03aff62121,9541,sao caetano do sul,SP,Southest,-23.620032,-46.564027
20657,35a972d7f8436f405b56e36add1a7140,2018-08-29 15:00:37,24ac2b4327e25baf39f2119e4228976a,13483,limeira,SP,Southest,-22.561171,-47.447471
32495,54282e97f61c23b78330c15b154c867d,2018-09-03 09:06:57,ff22e30958c13ffe219db7d711e8f564,2989,sao paulo,SP,Southest,-23.432767,-46.720828

In [37]:
repeat_order_info.columns

Index(['customer_unique_id', 'order_count', 'total_order_id',
       'total_order_timestamp', 're_order_count', 'is_re_order'],
      dtype='object')

In [38]:
re_order_items = order_customer_info.merge(
	repeat_order_info[['customer_unique_id', 'order_count', 're_order_count', 'is_re_order']],
	how='left', left_on='customer_unique_id', right_on='customer_unique_id'
)
re_order_items

,order_id,order_purchase_timestamp,customer_unique_id,customer_zip_code,customer_city,customer_state,customer_region,customer_lat,customer_lng,order_count,re_order_count,is_re_order
0,2e7a8482f6fb09756ca50c10d7bfc047,2016-09-04 21:15:19,b7d76e111c89f7ebf14761390f0f7d17,69309,boa vista,RR,North,2.812997,-60.701117,1,1,False
1,bfbd0f9bdef84302105ad712db648a6c,2016-09-15 12:16:38,830d5b7aaa3b6f1e9ad63703bec97d23,14600,sao joaquim da barra,SP,Southest,-20.585396,-47.863156,1,1,False
2,3b697a20d9e427646d92567910af6d57,2016-10-03 09:44:50,32ea3bdedab835c3aa6cb68ce66565ef,4106,sao paulo,SP,Southest,-23.581321,-46.635726,3,3,True
3,be5bc2f0da14d8071e2d45451ad119d9,2016-10-03 16:56:50,2f64e403852e6893ae37485d5fcacdaf,98280,panambi,RS,South,-28.291275,-53.501401,1,1,False
4,a41c8759fbe7aab36ea07e038b2d4465,2016-10-03 21:13:36,61db744d2f835035a5625b59350c6b63,90040,porto alegre,RS,South,-30.040958,-51.212970,1,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
98811,0b223d92c27432930dfe407c6aea3041,2018-08-29 14:18:23,5c58de6fb80e93396e2f35642666b693,80045,curitiba,PR,South,-25.426558,-49.255263,1,1,False
98812,168626408cb32af0ffaf76711caae1dc,2018-08-29 14:18:28,7febafa06d9d8f232a900a2937f04338,38600,paracatu,MG,Southest,-17.223373,-46.875188,1,1,False
98813,03ef5dedbe7492bdae72eec50764c43f,2018-08-29 14:52:00,b701bebbdf478f5500348f03aff62121,9541,sao caetano do sul,SP,Southest,-23.620032,-46.564027,1,1,False
98814,35a972d7f8436f405b56e36add1a7140,2018-08-29 15:00:37,24ac2b4327e25baf39f2119e4228976a,13483,limeira,SP,Southest,-22.561171,-47.447471,1,1,False
98815,54282e97f61c23b78330c15b154c867d,2018-09-03 09:06:57,ff22e30958c13ffe219db7d711e8f564,2989,sao paulo,SP,Southest,-23.432767,-46.720828,2,2,True

In [39]:
re_order_items.isna().sum()

order_id                      0
order_purchase_timestamp      0
customer_unique_id            0
customer_zip_code             0
customer_city                 0
customer_state                0
customer_region               0
customer_lat                277
customer_lng                277
order_count                   0
re_order_count                0
is_re_order                   0
dtype: int64

In [40]:
re_order_items[re_order_items['is_re_order']==True]

,order_id,order_purchase_timestamp,customer_unique_id,customer_zip_code,customer_city,customer_state,customer_region,customer_lat,customer_lng,order_count,re_order_count,is_re_order
2,3b697a20d9e427646d92567910af6d57,2016-10-03 09:44:50,32ea3bdedab835c3aa6cb68ce66565ef,4106,sao paulo,SP,Southest,-23.581321,-46.635726,3,3,True
30,60762802b48bb6d256d55b013d115013,2016-10-04 14:49:13,0b3dc7efaafb0cf78a4796d42fa8d74c,22410,rio de janeiro,RJ,Southest,-22.984120,-43.208372,2,2,True
81,31b0dd6152d2e471443debf037ae171d,2016-10-05 12:32:55,4e23e1826902ec9f208e8cc61329b494,20550,rio de janeiro,RJ,Southest,-22.917686,-43.231242,2,2,True
106,64f5569ef96004a1e1137bdf28fd4c45,2016-10-05 21:10:56,94e5ea5a8c1bf546db2739673060c43f,35730,capim branco,MG,Southest,-19.546943,-44.132521,2,2,True
150,3d58fd1ee438a43f2a826dda6b013519,2016-10-06 19:33:34,ccafc1c3f270410521c3c6f3b249870f,74820,goiania,GO,CentralWest,-16.707100,-49.247823,2,2,True
...,...,...,...,...,...,...,...,...,...,...,...,...
98761,68dd7c23e8b6c1e5f3ad16be5dd4bdf6,2018-08-27 22:59:03,41d57ab847e5ccbe403f46b07ee577d6,6716,cotia,SP,Southest,-23.605706,-46.898514,2,2,True
98772,b18f96d97651133bd9a491945fa1d3bd,2018-08-28 10:57:13,34b0cd95480e55c2a701293a2b9671b3,5171,sao paulo,SP,Southest,-23.478461,-46.748473,3,3,True
98795,d4fae577806d683110e00e18a5e181be,2018-08-28 19:32:05,fb7e29c65321441231990afc201c1b14,4107,sao paulo,SP,Southest,-23.580546,-46.634568,2,2,True
98800,3064071cf67a2cc381cd53b13055eac5,2018-08-28 21:56:12,1041688b50cfd8ef6df6086a1746a30c,25720,petropolis,RJ,Southest,-22.436879,-43.139746,2,2,True
98815,54282e97f61c23b78330c15b154c867d,2018-09-03 09:06:57,ff22e30958c13ffe219db7d711e8f564,2989,sao paulo,SP,Southest,-23.432767,-46.720828,2,2,True

In [41]:
re_order_items[re_order_items['customer_unique_id']=='32ea3bdedab835c3aa6cb68ce66565ef']

,order_id,order_purchase_timestamp,customer_unique_id,customer_zip_code,customer_city,customer_state,customer_region,customer_lat,customer_lng,order_count,re_order_count,is_re_order
2,3b697a20d9e427646d92567910af6d57,2016-10-03 09:44:50,32ea3bdedab835c3aa6cb68ce66565ef,4106,sao paulo,SP,Southest,-23.581321,-46.635726,3,3,True
26862,30ae6774935cd2a70fa74306f407495b,2017-09-27 08:20:09,32ea3bdedab835c3aa6cb68ce66565ef,4106,sao paulo,SP,Southest,-23.581321,-46.635726,3,3,True
85665,ebf144597fc5b016fb405d0fea5c9e2d,2018-06-28 11:46:04,32ea3bdedab835c3aa6cb68ce66565ef,4106,sao paulo,SP,Southest,-23.581321,-46.635726,3,3,True

### ◼ Olist Sellers

$~√$  판매자 ID와 위치 정보를 SQL query로 가져온다.

In [33]:
query = """
SELECT
	s.seller_id,
	s.seller_zip_code_prefix seller_zip_code,
	s.seller_city,
	s.seller_state,
	r.Region seller_region,
	g.geolocation_lat seller_lat,
	g.geolocation_lng seller_lng
FROM olist_sellers s
LEFT JOIN brazil_state_region r ON s.seller_state=r.State
LEFT JOIN olist_geolocation_region g ON s.seller_zip_code_prefix=g.geolocation_zip_code_prefix
"""

df_sellers = pd.read_sql(query, engine)
df_sellers

,seller_id,seller_zip_code,seller_city,seller_state,seller_region,seller_lat,seller_lng
0,00720abe85ba0859807595bbf045a33b,7070,guarulhos,SP,Southest,-23.451475,-46.557386
1,00ab3eff1b5192e5f1a63bcecfee11c8,4164,sao paulo,SP,Southest,-23.628937,-46.608186
2,00ee68308b45bc5e2660cd833c3f81cc,3333,sao paulo,SP,Southest,-23.556430,-46.568530
3,010543a62bd80aa422851e79a3bc7540,1212,sao paulo,SP,Southest,-23.537493,-46.639745
4,0249d282d911d23cb8b869ab49c99f53,5676,sao paulo,SP,Southest,-23.601384,-46.697738
...,...,...,...,...,...,...,...
3090,fdaaf5bfda82b7b80535610c831b8d09,15015,sao jose do rio preto,SP,Southest,-20.816648,-49.386547
3091,fdf736c18c589ed030e058312203e1b2,37704,pocos de caldas,MG,Southest,-21.792210,-46.551607
3092,fe2032dab1a61af8794248c8196565c9,13030,campinas,SP,Southest,-22.924930,-47.074294
3093,ffeee66ac5d5a62fe688b9d26f83f534,15130,mirassol,SP,Southest,-20.815284,-49.507466
3094,fffd5413c0700ac820c7069d66d98c89,13908,amparo,SP,Southest,-22.722793,-46.846086

In [34]:
df_sellers.isna().sum()

seller_id          0
seller_zip_code    0
seller_city        0
seller_state       0
seller_region      0
seller_lat         7
seller_lng         7
dtype: int64

- －__Merge Order_Items Seller Info__

In [42]:
order_items

,order_id,item_count,product_id,product_count,seller_id,seller_count,price,freight,f/p_ratio_%
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,1,48436dade18ac8b2bce089ec2a041202,1,58.90,13.29,22.563667
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,1,dd7ddc04e1b6c2c614352b383efe2d36,1,239.90,19.93,8.307628
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,1,5b51032eddd242adc84c38acab88f23d,1,199.00,17.87,8.979899
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,1,9d7a1d34a5052409006425275ba1c2b4,1,12.99,12.79,98.460354
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,1,df560393f3a51e74553ab94004ba5c87,1,199.90,18.14,9.074537
...,...,...,...,...,...,...,...,...,...
98661,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,1,b8bc237ba3788b23da09c0f1f3a3288c,1,299.99,43.41,14.470482
98662,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,1,f3c38ab652836d21de61fb8314b69182,1,350.00,36.53,10.437143
98663,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,1,c3cfdc648177fdbbbb35635a37472c53,1,99.90,16.95,16.966967
98664,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,1,2b3e4a2a3ea8e01938cabda2a3e5cc79,1,55.99,8.72,15.574210
98665,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,1,f7ccf836d21b2fb1de37564105216cc1,1,43.00,12.79,29.744186

In [46]:
order_seller_info = df_order_items.merge(
	df_sellers, how='left', left_on='seller_id', right_on='seller_id'
)
order_seller_info

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,seller_zip_code,seller_city,seller_state,seller_region,seller_lat,seller_lng
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,27277,volta redonda,SP,Southest,-22.498419,-44.125272
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,3471,sao paulo,SP,Southest,-23.564289,-46.519045
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,37564,borda da mata,MG,Southest,-22.271648,-46.165556
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,14403,franca,SP,Southest,-20.554951,-47.387691
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,87900,loanda,PR,South,-22.930408,-53.136438
...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,88303,itajai,SC,South,-26.912616,-48.674015
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,1206,sao paulo,SP,Southest,-23.536609,-46.642445
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,80610,curitiba,PR,South,-25.469632,-49.291261
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,4733,sao paulo,SP,Southest,-23.636321,-46.694586
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,14940,ibitinga,SP,Southest,-21.757690,-48.829768

In [47]:
order_seller_info.isna().sum()

order_id                 0
order_item_id            0
product_id               0
seller_id                0
shipping_limit_date      0
price                    0
freight_value            0
seller_zip_code          0
seller_city              0
seller_state             0
seller_region            0
seller_lat             253
seller_lng             253
dtype: int64

In [48]:
order_seller_info[order_seller_info['order_id']=='ffb8f7de8940249a3221252818937ecb']

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,seller_zip_code,seller_city,seller_state,seller_region,seller_lat,seller_lng
112530,ffb8f7de8940249a3221252818937ecb,1,bd6e8cf9fe4122c385da2bcb9f979d5d,9f50216bfd01913736a55a11b55ea842,2018-07-27 09:04:32,45.00,6.79,12020,taubate,SP,Southest,-23.024999,-45.557221
112531,ffb8f7de8940249a3221252818937ecb,2,803f77475e1b51b47f1bfec4f2ec353f,c9c7905cffc4ef9ff9f113554423e671,2018-07-25 09:04:32,79.99,6.37,6871,itapecerica da serra,SP,Southest,-23.722885,-46.856599
112532,ffb8f7de8940249a3221252818937ecb,3,bd0ac51dc93e62c4dbe6ca9d70a9b311,1d4587203296c8f4ad134dc286fa6db0,2018-07-27 09:04:32,64.50,42.47,5101,sao paulo,SP,Southest,-23.505929,-46.724155

### ◼ Olist Products

$~√~$  Null값을 SQL query로 처리

In [ ]:
query = """
UPDATE olist_products
SET product_category_name = COALESCE(product_category_name, 'N/A'),
	product_name_lenght = COALESCE(product_name_lenght, 0),
	product_description_lenght = COALESCE(product_description_lenght, 0),
	product_photos_qty = COALESCE(product_photos_qty, 0)
"""

In [49]:
query = """
SELECT product_id, product_category_name, product_description_lenght, product_photos_qty,
product_weight_g, (product_length_cm*product_height_cm*product_width_cm) product_volume_cm3
FROM olist_products;
"""
df_products = pd.read_sql(query, con=engine)
df_products

,product_id,product_category_name,product_description_lenght,product_photos_qty,product_weight_g,product_volume_cm3
0,00066f42aeeb9f3007548bb9d3f33c38,perfumery,596.0,6.0,300.0,5120.0
1,00088930e925c41fd95ebfe695fd2655,auto,752.0,4.0,1225.0,14300.0
2,0009406fd7479715e4bef61dd91f2462,bed_bath_table,266.0,2.0,300.0,23625.0
3,000b8f95fcb9e0096488278317764d19,housewares,364.0,3.0,550.0,5472.0
4,000d9be29b5207b54e86aa1b1ac54872,watches_gifts,613.0,4.0,250.0,3630.0
...,...,...,...,...,...,...
32946,fff6177642830a9a94a0f2cba5e476d1,cool_stuff,842.0,1.0,1400.0,15750.0
32947,fff81cc3158d2725c0655ab9ba0f712c,health_beauty,643.0,1.0,58.0,2816.0
32948,fff9553ac224cec9d15d49f5a263411f,fashion_bags_accessories,328.0,3.0,150.0,2288.0
32949,fffdb2d0ec8d6a61f0a0a0db3f25b441,computers_accessories,501.0,5.0,150.0,832.0
32950,fffe9eeff12fcbd74a2f2b007dde0c58,toys,1536.0,3.0,3900.0,7568.0

In [50]:
df_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32951 non-null  object
 2   product_description_lenght  32951 non-null  float64
 3   product_photos_qty          32951 non-null  float64
 4   product_weight_g            32949 non-null  float64
 5   product_volume_cm3          32949 non-null  float64
dtypes: float64(4), object(2)
memory usage: 1.5+ MB

In [51]:
df_products.isna().sum()

product_id                    0
product_category_name         0
product_description_lenght    0
product_photos_qty            0
product_weight_g              2
product_volume_cm3            2
dtype: int64

In [53]:
df_products.loc[df_products[df_products['product_weight_g'].isnull()].index, 'product_weight_g'] = 0
df_products.loc[df_products[df_products['product_volume_cm3'].isnull()].index, 'product_volume_cm3'] = 0
df_products.isna().sum()

product_id                    0
product_category_name         0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
product_volume_cm3            0
dtype: int64

In [54]:
order_seller_info

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,seller_zip_code,seller_city,seller_state,seller_region,seller_lat,seller_lng
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,27277,volta redonda,SP,Southest,-22.498419,-44.125272
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,3471,sao paulo,SP,Southest,-23.564289,-46.519045
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,37564,borda da mata,MG,Southest,-22.271648,-46.165556
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,14403,franca,SP,Southest,-20.554951,-47.387691
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,87900,loanda,PR,South,-22.930408,-53.136438
...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,88303,itajai,SC,South,-26.912616,-48.674015
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,1206,sao paulo,SP,Southest,-23.536609,-46.642445
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,80610,curitiba,PR,South,-25.469632,-49.291261
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,4733,sao paulo,SP,Southest,-23.636321,-46.694586
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,14940,ibitinga,SP,Southest,-21.757690,-48.829768

In [56]:
# order_items, sellers, products
order_ps_info = order_seller_info.merge(
	df_products, how='left', left_on='product_id', right_on='product_id'
)
order_ps_info

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,seller_zip_code,seller_city,seller_state,seller_region,seller_lat,seller_lng,product_category_name,product_description_lenght,product_photos_qty,product_weight_g,product_volume_cm3
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,27277,volta redonda,SP,Southest,-22.498419,-44.125272,cool_stuff,598.0,4.0,650.0,3528.0
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,3471,sao paulo,SP,Southest,-23.564289,-46.519045,pet_shop,239.0,2.0,30000.0,60000.0
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,37564,borda da mata,MG,Southest,-22.271648,-46.165556,furniture_decor,695.0,2.0,3050.0,14157.0
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,14403,franca,SP,Southest,-20.554951,-47.387691,perfumery,480.0,1.0,200.0,2400.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,87900,loanda,PR,South,-22.930408,-53.136438,garden_tools,409.0,1.0,3750.0,42000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,88303,itajai,SC,South,-26.912616,-48.674015,housewares,1002.0,3.0,10150.0,53400.0
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,1206,sao paulo,SP,Southest,-23.536609,-46.642445,computers_accessories,232.0,1.0,8950.0,44460.0
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,80610,curitiba,PR,South,-25.469632,-49.291261,sports_leisure,869.0,1.0,967.0,9576.0
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,4733,sao paulo,SP,Southest,-23.636321,-46.694586,computers_accessories,1306.0,1.0,100.0,8000.0
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,14940,ibitinga,SP,Southest,-21.757690,-48.829768,bed_bath_table,511.0,1.0,600.0,1710.0

In [57]:
order_ps_info.isna().sum()

order_id                        0
order_item_id                   0
product_id                      0
seller_id                       0
shipping_limit_date             0
price                           0
freight_value                   0
seller_zip_code                 0
seller_city                     0
seller_state                    0
seller_region                   0
seller_lat                    253
seller_lng                    253
product_category_name           0
product_description_lenght      0
product_photos_qty              0
product_weight_g                0
product_volume_cm3              0
dtype: int64

In [60]:
cols = [
    'order_id', 'order_item_id', 'price', 'freight_value',
    'seller_id', 'seller_zip_code', 'seller_city', 'seller_state', 'seller_region', 'seller_lat', 'seller_lng',
    'product_id', 'product_category_name', 'product_description_lenght', 'product_photos_qty', 'product_weight_g', 'product_volume_cm3'
]

order_ps_info = order_ps_info[cols]
order_ps_info

,order_id,order_item_id,price,freight_value,seller_id,seller_zip_code,seller_city,seller_state,seller_region,seller_lat,seller_lng,product_id,product_category_name,product_description_lenght,product_photos_qty,product_weight_g,product_volume_cm3
0,00010242fe8c5a6d1ba2dd792cb16214,1,58.90,13.29,48436dade18ac8b2bce089ec2a041202,27277,volta redonda,SP,Southest,-22.498419,-44.125272,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,598.0,4.0,650.0,3528.0
1,00018f77f2f0320c557190d7a144bdd3,1,239.90,19.93,dd7ddc04e1b6c2c614352b383efe2d36,3471,sao paulo,SP,Southest,-23.564289,-46.519045,e5f2d52b802189ee658865ca93d83a8f,pet_shop,239.0,2.0,30000.0,60000.0
2,000229ec398224ef6ca0657da4fc703e,1,199.00,17.87,5b51032eddd242adc84c38acab88f23d,37564,borda da mata,MG,Southest,-22.271648,-46.165556,c777355d18b72b67abbeef9df44fd0fd,furniture_decor,695.0,2.0,3050.0,14157.0
3,00024acbcdf0a6daa1e931b038114c75,1,12.99,12.79,9d7a1d34a5052409006425275ba1c2b4,14403,franca,SP,Southest,-20.554951,-47.387691,7634da152a4610f1595efa32f14722fc,perfumery,480.0,1.0,200.0,2400.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,199.90,18.14,df560393f3a51e74553ab94004ba5c87,87900,loanda,PR,South,-22.930408,-53.136438,ac6c3623068f30de03045865e4e10089,garden_tools,409.0,1.0,3750.0,42000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,299.99,43.41,b8bc237ba3788b23da09c0f1f3a3288c,88303,itajai,SC,South,-26.912616,-48.674015,4aa6014eceb682077f9dc4bffebc05b0,housewares,1002.0,3.0,10150.0,53400.0
112646,fffcd46ef2263f404302a634eb57f7eb,1,350.00,36.53,f3c38ab652836d21de61fb8314b69182,1206,sao paulo,SP,Southest,-23.536609,-46.642445,32e07fd915822b0765e448c4dd74c828,computers_accessories,232.0,1.0,8950.0,44460.0
112647,fffce4705a9662cd70adb13d4a31832d,1,99.90,16.95,c3cfdc648177fdbbbb35635a37472c53,80610,curitiba,PR,South,-25.469632,-49.291261,72a30483855e2eafc67aee5dc2560482,sports_leisure,869.0,1.0,967.0,9576.0
112648,fffe18544ffabc95dfada21779c9644f,1,55.99,8.72,2b3e4a2a3ea8e01938cabda2a3e5cc79,4733,sao paulo,SP,Southest,-23.636321,-46.694586,9c422a519119dcad7575db5af1ba540e,computers_accessories,1306.0,1.0,100.0,8000.0
112649,fffe41c64501cc87c801fd61db3f6244,1,43.00,12.79,f7ccf836d21b2fb1de37564105216cc1,14940,ibitinga,SP,Southest,-21.757690,-48.829768,350688d9dc1e75ff97be326363655e01,bed_bath_table,511.0,1.0,600.0,1710.0

In [61]:
order_ps_info.isna().sum()

order_id                        0
order_item_id                   0
price                           0
freight_value                   0
seller_id                       0
seller_zip_code                 0
seller_city                     0
seller_state                    0
seller_region                   0
seller_lat                    253
seller_lng                    253
product_id                      0
product_category_name           0
product_description_lenght      0
product_photos_qty              0
product_weight_g                0
product_volume_cm3              0
dtype: int64

In [ ]:
def join_unique_values(series):
    unique_values = series.drop_duplicates()
    return ', '.join(unique_values)

order_items = df_order_items.groupby('order_id', as_index=False).aggregate({
    'order_item_id': 'last',
    'product_id': join_unique_values,
    'seller_id' : join_unique_values,
    'price': 'sum',
    'freight_value': 'sum'
})
order_items['f/p_ratio_%'] = order_items['freight_value'] / order_items['price'] * 100
order_items

### ◼ Olist

$~√$

### ◼ Olist

$~√$